[2020-05-24 21:55] Andrew-Chen-Wang commented on #233
Perhaps it's not necessary, considering another one of my maintained pkgs.

[2020-05-24 21:55] #233 closed

[2020-05-24 22:07] Andrew-Chen-Wang commented on #249
While ignoring the second portion of code, let's focus on the first.

You're inheriting from a serializer here that is looking for a username and password column: https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/master/rest_framework_simplejwt/serializers.py#L30

This serializer is looking for your `settings.AUTH_USER_MODEL.USERNAME_FIELD`. I'd want to look at your User model and

[2020-05-24 22:08] #249 closed

[2020-05-26 06:56] Brecht-Pallemans commented on #154
I bumped in to this issue aswell since I wanted a fault proof system where only one valid token was present for a user. When using a pair, the access token is still valid for a certain time even though the refresh has been blacklisted. One additional step to add is that when overriding the serializer, you should also add `token.check_blacklist()` and `token.blacklist()` to make old tokens invalid

[2020-05-27 08:25] leogout opened #250 "Verify token signature from public key in third party service"
Hello, I would like to know if the library exposes anything related to the public key used for an RS256 token signature. For example, something like a view that returns the public key associated with the private key used to sign the token ?

This way I could fetch that pubkey in another web service, then cache it and verify my token from there without having to call the `/verify/` endpoint everyti

[2020-05-29 15:14] yoerivdm commented on #71
Still missing websocket and image auth when using jwt.
Any suggestions for that? Besides using an image service :-)

Always used (httpOnly) cookie-based tokens because of this

[2020-05-29 15:25] Andrew-Chen-Wang commented on #71
@yoerivdm It depends which websocket you're talking about. For example, the native Django 3.0 websocket (you can check out my configuration at https://github.com/pydanny/cookiecutter-django) would decode method to verify if the token is valid. If you use django channels, then you would use their `database_sync_to_async` method and do the same validation with the `authentication.py`.

It would depe

[2020-05-29 15:27] Andrew-Chen-Wang commented on #71
@derek-adair When you give developers too much flexibility, you begin to open up several loopholes. Like many many loopholes. Again, this is why I recommend JWT to be only used for mobile clients.

[2020-05-30 16:16] limcel commented on #112
I am able to replicate the same error message when I accidentally used the refresh token instead of the access token.
To solve that, just make sure that you are using the access token instead of the refresh ones.

[2020-06-05 09:41] Bruce-7 opened #251 "The token is still valid after refresh"
After refreshing the token, can the previous token still be valid? There are ways to refresh or regenerate tokens to automatically invalidate previously issued tokens

[2020-06-05 09:43] Bruce-7 commented on #251
The access token is always valid

[2020-06-05 10:55] sunftec opened #252 "Problem with RS256"
hi everyone!
im read a simple jwt document  for user rsa :

`To use asymmetric RSA signing and verification, the following algorithms may be used: 'RS256', 'RS384', 'RS512'. When an RSA algorithm is chosen, the SIGNING_KEY setting must be set to a string which contains an RSA private key. Likewise, the VERIFYING_KEY setting must be set to a string which contains an RSA public key.`
and
i want use

[2020-06-05 11:17] evgolk commented on #252
Hello,

Weird...
I just used this library and I have no problem with them.
Here is my conf (settings.py):

[code]

I used these commands to generate the certificate pair (bash):

[code]

I hope it can help you

[2020-06-05 11:43] sunftec commented on #252
@evgolk  Thank you. It works!

[2020-06-05 17:44] #252 closed

[2020-06-05 18:01] Andrew-Chen-Wang commented on #251
There's no way to invalidate an access token within this package. I've never seen the reason for this, as, for mobile development, there are packages (Alamofire iOS and OkHTTP Android) that have an authenticator middlewear that hits the refresh view in the Django server if you get an HTTP 401 status code.

Layman's term: use the access token until you eventually hit a status code 401. Then refresh

[2020-06-08 03:33] codegabru commented on #236
@davesque I can take care of the publishing automation part if you want using GH Actions. It has been almost 2 months and this issue needs to be addressed as the current release fails to install when using Poetry. It has been fixed but has not been published yet.

[2020-06-08 03:54] davesque commented on #236
I feel like it's a bit underhanded to suggest that 2 months is too long to wait for a release or that I "need" to do anything at all for free. And can we agree that the last two months have been a little unusual?

[2020-06-08 05:54] codegabru commented on #236
You're right @davesque. Please take your time. I'll work with a fork + private package till then.

[2020-06-08 17:09] davesque commented on #236
@codegabru Thanks for your understanding.  And I'm sorry for being a bit snippy.

[2020-06-08 23:39] Andrew-Chen-Wang commented on #236
@davesque I think it's just **really annoying** for some devs to constantly see this. I mostly develop test-driven (I don't think I've ran `runserver` in months so I dunno if it appears there too), and so the error message for Django40DeprecationWarning popped up during my pytests. If this annoys you, you can use this filter in your pytest.ini:

[code]

Regarding towncrier, we can also integrate t

[2020-06-08 23:44] Andrew-Chen-Wang commented on #250
I'm somewhat confused.

Are you saying the same pairs are stored in two different services? If you're caching something, then cache it via JS CacheStorage or whatever language you're using. Maybe I'm just dumb;. I don't know :P Please clarify and thanks!

[2020-06-08 23:50] Andrew-Chen-Wang commented on #247
@neowenshun @liujun121533 To close this issue, one way you can do this is to CACHE the created access token every single time a user refreshes a token (probably best to create a cache key of some random prefix ASCII combination e.g. SIMPLEJWT and append the user ID. The cache itself would be the access token and a : (colon)). Let's say the user changes the password. Then, access that cache and app

[2020-06-08 23:50] #247 closed

[2020-06-08 23:51] #251 closed

[2020-06-08 23:51] Andrew-Chen-Wang commented on #251
Refer #249 for a similar method I'd described.

[2020-06-09 07:59] leogout commented on #250
No I am using this token other applications. I have multiple clients using the same endpoint to get a token. This token must in turn be verified by my clients. To do that, I want to fetch the public key from my token endpoint to verify the claims of that token.
Maybe I am off track here and thats not at all how I should do it. I am aware of the /verify endpoint but this would mean that I have to m

[2020-06-11 06:47] treussart opened #254 "ugettext_lazy() RemovedInDjango40Warning"
[code]

[2020-06-11 15:53] neowenshun opened #255 "Adding additional logic to authentication"
I wish to add on some additional logic to the authentication backend. Lets say the user fails authentication , i would like to save that instance in a seperate model to keep track of log in attempts. Which place should i place this logic?

[2020-06-11 16:02] Andrew-Chen-Wang commented on #255
tl;dr Put it in the serializers that the views use.

@neowenshun In what sense are you aiming to mitigate login attempts? Or are you just saving login attempts in general?

Are you talking about TokenObtainPairView in which the user sends both username and password? If so, use throttling by subclassing the view.

Are you talking about saving login attempts in general? In that case, save it in Redi

[2020-06-11 16:02] #255 closed

[2020-06-14 00:31] Fahad-Md-Kamal opened #256 "How to send Logged in user object along with the Tokens?"
I don't want to add changeable information with the token using TokenObtainPairSerializer such as username or profile picture url with the JWT token.

[2020-06-14 00:33] Fahad-Md-Kamal commented on #256
I don't want to add changeable information with the token using **TokenObtainPairSerializer** such as username or profile picture with the JWT token.

[2020-06-14 02:49] Andrew-Chen-Wang commented on #256
@Fahad-Md-Kamal Subclassing the TokenObtainPairSerializer is the only way. You can add `data['username'] = "blah"` and whatever else you'd like. You'd then have to subclass the view that goes along with it.

The serializer can be inherited from here: https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/master/rest_framework_simplejwt/serializers.py#L76

The view you need to subclass t

[2020-06-14 02:49] #256 closed

[2020-06-16 02:59] monkut opened #257 "Validate without database query"
For me the attractive feature of JWT is the ability to provide validation of a request without the need to make a database query.

However, in the current implementation here, it appears that the related `User` model is queried and populated on every request.

https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/master/rest_framework_simplejwt/authentication.py#L100-L117

Is it feasib

[2020-06-16 03:08] Andrew-Chen-Wang commented on #257
You can use the "experimental feature" found here: https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/master/rest_framework_simplejwt/authentication.py#L120

[2020-06-16 03:15] monkut commented on #257
Yes, I realized after I posted this that `.get()` will return a queryset, which should be lazy...but then wasn't sure if drf uses it in anyway that would instantiate or result in a db hit...

Thanks, I'll take a look at the feature you mention and give it a try!

[2020-06-16 03:16] Andrew-Chen-Wang commented on #257
Err incorrect. I'm pretty sure .get() does not return a QuerySet but a regular object/instance, which your initial point was correct about. The authenticate DOES hit the DB and WILL get the entire object.

[2020-06-16 03:18] Andrew-Chen-Wang commented on #257
Here's what you should probably do:

[2020-06-16 04:14] monkut commented on #257
Thanks, again!  I'll read up some more and see if I can put some time into this.

[2020-06-16 05:09] monkut commented on #257
Ok, so using ` JWTTokenUserAuthentication`  and setting any related user foreignkey values using the `_id` field seems to resolve this issue.

It would be nice to make the standard ` JWTAuthentication` use a lazy object, so that it's only retrieved when needed, but at least using `JWTTokenUserAuthentication` provides a nice workaround.

Related `settings.py` django config:
[code]

[2020-06-17 18:34] Eshaan7 opened #258 "Creating tokens manually from admin interface"
It would be great if the administrator user could create tokens for user from the django admin interface.

I have tried to implement this by overriding the default `OutstandingTokenAdmin` like this:

[code]

But this does not work. I just want a simple select input to select a user and then a create button that adds a new token to OutstandingTokens.

Any help regarding this would be greatly apprec

[2020-06-17 19:09] Andrew-Chen-Wang commented on #258
Is there a reason for this? Yes, it's possible. You can find code here: https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/ce80c2d31f0d9aff6a246d30d9aaa27f1e57a364/rest_framework_simplejwt/tokens.py#L214

Actually returning the tokens in the interface is more of a Django issue. Imo, there is not good usage example for this (maybe for developing... but in that case just use curl)

[2020-06-17 21:10] Eshaan7 commented on #258
I need this because our project (https://github.com/intelowlproject/) has a CLI client and only the administrator should issue tokens to the user.

I was able to implement it. I have made a gist with the required code:

https://gist.github.com/Eshaan7/4485a089c4f51420067d3bcf0b5fa6ab

Hope it helps others too.

[2020-06-17 21:10] #258 closed

[2020-06-17 21:22] Eshaan7 opened #259 "token_type field in OutstandingToken model"
I think there should be a `token_type` field in `OutstandingToken` model. I feel this quite necessary because ATM, there's no way to tell different types of token apart especially when using the Django Admin Interface with Token Blacklist app installed.

[2020-06-17 23:09] Andrew-Chen-Wang commented on #258
@Eshaan7 Ah I see! Consider OAuth (django-oauth-toolkit). Generally greater security if you know which endpoints certain users can be picking out. Although I'm slightly concerned that you're thinking about JWT incorrectly. Based on what you're saying, are you saying you're only using the regular access-refresh token pairs? Are you using this package for cross-domain usage? Is this for browser (if

[2020-06-18 17:24] Eshaan7 commented on #258
Just saw https://github.com/SimpleJWT/django-rest-framework-simplejwt/issues/154. This is a deal breaker, seems like we'd have to use access-refresh in the CLI tool as well. Is there a way to specify the lifetime of a token at creation without copying and modifying code from the library ?

[2020-06-18 21:02] Andrew-Chen-Wang commented on #258
tl;dr Shouldn't there be a library already for how to render your Angular code into HTML and then insert your Django templates with jinja2 very easily?

I don't believe so. When I was creating a websockets security guideline for Django, I couldn't use this library. However, you can use a bit of this library's code for similar purposes (i.e. low-level coding with the JWT package itself).

Otherwise

[2020-06-18 22:10] Andrew-Chen-Wang commented on #258
@Eshaan7 This may be of interest to you: https://www.valentinog.com/blog/drf/ I haven't gone through it all, but perhaps this is the way of going about JS? It takes advantage of session authentication, which is exactly what you need for a browser based app.

[2020-06-20 15:26] Eshaan7 commented on #258
Yes, I was able to understand the codebase and extend it as per our requirements. Now, we are using access-refresh token pair in the web with a shorter lifetime whereas a longer lifetime for Refresh Tokens created from the admin interface (to be used with the CLI).

You are very welcome to look at the code. Here's the final PR: https://github.com/intelowlproject/IntelOwl/pull/94

I don't think thi

[2020-06-20 15:34] Andrew-Chen-Wang commented on #258
I see.

Should be fine then. SimpleJWT should be a secure package as itself; I just worry about a leaked package which could lead to a leaked SECRET_KEY with leaked OAuth credentials. Good luck!

[2020-06-21 19:01] stha-ums opened #260 "type object 'User' has no attribute 'objects' error during token authentication"
get_user_model from django.contrib.auth doesn't have User.objects but instated just have object which gives "type object 'User' has no attribute 'objects' " error. When I change,
`user = User.objects.get(**{api_settings.USER_ID_FIELD: user_id})`

to:
`user = User.objects.get(**{api_settings.USER_ID_FIELD: user_id}) # changed objects to object in authenication.py file`

this works. so am I doing so

[2020-06-21 19:02] Andrew-Chen-Wang commented on #260
Do you have a custom user model? If so, make sure you set the manager of it. Typically, that manager is put with the name/variable "objects"

[2020-06-22 02:02] stha-ums commented on #260
oh, I made a mistake. Thank you

[2020-06-22 02:02] #260 closed

[2020-06-22 16:15] bblanchon commented on #257
As a side note, instead of changing the default behavior, you can selectively change the `authentication_classes` in the view-sets that don't require the full user info:

[code]

[2020-06-22 16:26] Andrew-Chen-Wang commented on #257
@monkut The problem with changing it to a SimpleLazyObject is that it'd still be used for the authentication method, so we're still grabbing the entire object.

[2020-06-24 07:54] philipp-siegmantel commented on #231
Any updated on this? I opened a Merge Request a while ago, it's GH-239.

[2020-06-27 04:20] jamehii commented on #71
I believe saving jwt in the cookie in the first place was trying solve the problemof making sure user "stays logged in even after page refresh"

Wouldn't it be better to just set
1. user's session cookie and
2. Csrf cookie
in the Response along with jwt access & refresh tokens ?

Simply call :
login(request) to automatically create the user session before returning the Response

Then the session &

[2020-06-30 17:40] Andrew-Chen-Wang commented on #254
If you're using pytest, you can add:
[code]
To pytest.ini

Otherwise, wait until the next release. Sorry! It's fixed in master branch, so you'll just need to wait.

[2020-06-30 17:40] #254 closed

[2020-07-02 23:44] AlexanderNeilson opened #262 "Variable 'aud' claims based on source of request and matching validation"
Hi Team

I am coming up on a requirement at work for the ability we can set the audience dynamically based on which system our users login from and validate they are using the JWT on the same system. For us this involves our internal facing portal system and an external facing user portal allowing staff to log their timesheets / do time tracking and request leave etc which all needs to feed into t

[2020-07-03 14:40] Andrew-Chen-Wang opened #263 "Example SimpleJWT repositories: Contribute!"
Hi all! Due to the sheer number of requests and urges for #157 to be merged, I have created a [template repository with a Django server ready-to-go](https://github.com/SimpleJWT/drf-SimpleJWT-server-template). To generate a sample repository for SimpleJWT, please press the "Use this template" button so that you don't fork the repository; this way, you can rename the repository to whatever name you

[2020-07-03 15:02] Andrew-Chen-Wang commented on #129
I think PyJWT 1.0.1 has been long gone. Perhaps we can remotely track these CVEs using a GitHub action so that users only install secure pyjwt versions. Although it would be difficult to maintain in case of a breaking change.

[2020-07-03 15:03] Andrew-Chen-Wang commented on #122
You can take a look at

https://github.com/SimpleJWT/django-rest-framework-simplejwt/tree/master/rest_framework_simplejwt/locale/pl_PL/LC_MESSAGES

for an example of how it's done.

[2020-07-03 15:03] #122 closed

[2020-07-03 15:05] Andrew-Chen-Wang commented on #262
Hi Alexander,

There is currently no support for `authorization` in this framework. There has been a request before about making SimpleJWT customizable to feel like OAuth (in summary) in that users can only be authorized to certain views by having a certain payload configuration. (I can't believe I can't find the issue... grr).

I don't think Dave imagined SimpleJWT to be restricted to authenticat

[2020-07-03 15:12] Andrew-Chen-Wang commented on #231
@philipp-siegmantel SimpleJWT is going to be slow in write access (since I don't have any), but I did leave a review in your PR. Hopefully it can be added into a minor update if we do some semantic versioning.

[2020-07-03 15:33] Andrew-Chen-Wang commented on #246
@regzon Sorry it's been awhile. Taking a retrospective look at serializers.py, the way TokenObtainSerializer is setup with the __init__ magic method has to be like that due to a dynamic `self.username_field` field name. If we made a class name stating `User.USERNAME_FIELD = serializers.CharField()`. It may not work. I'll write some test case at some point to see if it's feasible to do that, but I

[2020-07-03 15:36] Andrew-Chen-Wang commented on #243
Hmm #117 should've fixed it... Is this still an issue? If so, please open a PR.

[2020-07-03 15:41] #243 closed

[2020-07-03 15:44] Andrew-Chen-Wang commented on #202
@PetrS12 Sorry for taking a looooong time to review your PR. I'm on a bit of a running streak atm of reviewing long lost issues, so bear with me. Unfortunately, I'm also very careful not to allow too many features in SimpleJWT in fear of having too much flexibility which can lead to security vulnerabilities.

So again, bear with me.

[2020-07-04 08:48] rahulbaliyan opened #264 "jwt expire time"
Hi ,
Can we refresh expire time on each api request, suppose I set expire time 1 min , and I am hitting authenticated apis every 5 second, So I am not sitting Idle , but after one min token is expired , how can I update expire time on each request. It should be extend at each hit.

[2020-07-04 12:41] Andrew-Chen-Wang commented on #264
No that removes the purpose of a stateless token. If your user is in a MITM
attack, you don’t want the attacker to have full control of the token
forever. Also you should be throttling your views.

tldr Do not update expire time.

On Sat, Jul 4, 2020 at 4:48 AM Rahul Kumar <notifications@github.com> wrote:

[2020-07-04 13:29] #264 closed

[2020-07-06 23:10] rondanen opened #265 "RemovedInDjango40Warning"
Hello,
Running pytest, I noticed the following warnings with this great library:
`rest_framework_simplejwt/backends.py:58: RemovedInDjango40Warning: django.utils.translation.ugettext_lazy() is deprecated in favor of django.utils.translation.gettext_lazy().`

`rest_framework_simplejwt/tokens.py:44: RemovedInDjango40Warning: django.utils.translation.ugettext_lazy() is deprecated in favor of django.u

[2020-07-06 23:53] Andrew-Chen-Wang commented on #265
Once Dave finds time to maybe try out the GitHub action PR and just time in general... you can follow https://github.com/SimpleJWT/django-rest-framework-simplejwt/issues/236#issuecomment-640943117

Basically, in pytest.ini:

[code]

[2020-07-06 23:53] #265 closed

[2020-07-07 03:52] adriangzz opened #266 "Can't delete users if using token blacklist app"
I can't delete a user from the admin when using the blackilst app. I get the following error:
[code]

I found out this is due to the has_delete_permission in `token_blacklist/admin.py` being overwritten and set to false.

Is there a reason for this?
Thanks

[2020-07-07 03:55] Andrew-Chen-Wang commented on #266
@adriangzz It's become a huge annoyance for a lot of people. I'll look into the commit history and find out when this happened. If you don't mind also helping me search through the file's history, that'd be helpful.

That way, I can file a regression report to perhaps remove it. At this point, I can't really give a solid answer myself.

[2020-07-07 04:07] Andrew-Chen-Wang commented on #266
Hm I can't remember if this is still the case for superusers and/or staff users. In any case, Dave's comment was that these were "Read-only behavior".

However, here you can see that, when a user is deleted, the `on_delete` method should be models.SET_NULL.

https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/master/rest_framework_simplejwt/token_blacklist/models.py#L6

I'll file a P

[2020-07-07 12:22] adriangzz commented on #266
Awesome, thank you.

[2020-07-09 23:42] johnthagen commented on #236
@davesque Friendly ping to see if a new release could be issued.

[2020-07-10 22:12] LeoDev0 commented on #121
Man... this reaaally shoud be changed in the documentation. I lost too much time trying to make the example in the docs works.

@psv-git Thank you!

[2020-07-12 01:01] Andrew-Chen-Wang commented on #121
The title is misleading as OP did not understand what a token claim is. What OP has shown is how to edit the returned data (i.e. add data to the JSON that is given to the user). A token claim is part of the payload of the token itself which only the server can edit in order to be properly decoded/encoded.

Just to show a little bit of education, visit the Wikipedia: https://en.wikipedia.org/wiki/J

[2020-07-12 01:01] #121 closed

[2020-07-12 13:24] Rebix opened #271 "Refresh token with cookie"
Hey how about refresh token with cookie if available?

[2020-07-13 04:43] Andrew-Chen-Wang commented on #271
Follow #157?

[2020-07-13 04:43] #271 closed

[2020-07-15 22:29] juancrescente opened #273 "How to authenticate token from a regular view"
I want the user to be able to download a PDF using easy_pdf
which has a :
`from easy_pdf.views import PDFTemplateView
`

How can I do to validate the session from the obtained token in my view?

[2020-07-15 22:41] Andrew-Chen-Wang commented on #273
You're definitely in the wrong repository, but if you go to their README, you can see instructions: https://pypi.org/project/django-easy-pdf/ Following that, add it to your url patterns and you should be good to go.

Validating the session is dependent on what frontend you're using. If you're using regular HTML and JS, you definitely should not be using this repository and should be using the Djan

[2020-07-15 22:47] juancrescente commented on #273
Thanks for your respknse. I'm using react and this auth method for DRF. Now
I have a link that takes to the backend to download a PDF.
What options do I have to authenticate the user that is already
authenticated using simple jwt, but now in the backend? I don't want to ask
the user credentials again.

On Wed, Jul 15, 2020, 7:41 PM Andrew Chen Wang <notifications@github.com>
wrote:

[2020-07-15 23:05] Andrew-Chen-Wang commented on #273
Seems like the [PDF view is using Django templates (mixin)](https://github.com/nigma/django-easy-pdf/blob/master/easy_pdf/views.py#L12)? I guess that doesn't really matter, because the person's code is two lines long: https://github.com/nigma/django-easy-pdf/blob/master/easy_pdf/views.py#L81

I suggest you try to figure this out using a regular DRF view instead of their view. Just copy and paste s

[2020-07-15 23:05] #273 closed

[2020-07-15 23:34] mohmyo opened #274 "How should I create or authenticate a JWT per view?"
Hello,

Is there a way to generate or authenticate a token to grant access only for a specified view and be invalid on other views?

This may sound odd but I want to issue a JWT token to share some info with frontend and grant access to a sensitive view, I'm using JWT at another view too but it is less important than this one.

When I started to think about both, I found that if someone swapped on

[2020-07-15 23:55] Andrew-Chen-Wang commented on #274
This is not the point of SimpleJWT. SimpleJWT is an authentication library, but it's not widely used as an **authorization** library, which is what you seek. If you want per-view access, you need an authorization library; in that case, you might as well use django OAuth toolkit.

If you don't want to set up that way, you can include a token claim (sample in documentation) that specifies a "custom"

[2020-07-16 00:26] mohmyo commented on #274
Thanks for the fast response!

I'm actually using django OAuth toolkit at my project but the need to share data doesn't leave any other choices, forgive me if my description made an impression that I'm seeking an authorization level but I think it's more like a new or separate JWT authentication class at my system so each one is on its own.

Your suggestion should work, I was thinking about the sa

[2020-07-16 01:41] Andrew-Chen-Wang commented on #274
Hm a new authentication class / new authentication.py's? Or something like DRF permission classes / Django built-in permission model? Perhaps you could provide an example; I'm just slightly confused what you mean. Although, it seems like whatever I suggested means that I do understand... This part specifically:

The default authentication class suggested in the doc just uses the PyJWT package to v

[2020-07-16 12:12] Harshith2396 opened #275 "How Do i create a Token manually without getting error"
I'm trying to create  a Token manually from the Django shell and i get this error

 _user_id = getattr(user, api_settings.USER_ID_FIELD)
AttributeError: 'str' object has no attribute 'email'_

my code is as follows for settings.py:
`SIMPLE_JWT={
    'USER_ID_FIELD':'email'
}`
and I use this code on my  Django shell:
`from rest_framework_simplejwt.tokens import RefreshToken
refresh = RefreshToken.f

[2020-07-16 14:33] mohmyo commented on #274
Again, Thank you for the time and effort you put into this, I really appreciate that!

This is the case where I'm exactly concerned for, I'm using JWT to give access for anonyms users to submit their feedback, it's an invitation URL link with a JWT token attached to, so whoever has the correct link will submit their feedback, now I want to use JWT to complete my user's signup, but at first glance,

[2020-07-16 20:47] Andrew-Chen-Wang commented on #275
"user" is for a user object, not a string as the traceback says. You passed in a string of the email when really the code expect the user object which has the attribute of email.

[2020-07-16 20:59] Andrew-Chen-Wang commented on #274
In this case, you shouldn't be using JWT at all. Verification links work by sending the user a random link which expires in which authentication isn't needed at all (check out django-allauth. It does exactly what you describe and is very extensible and feature rich). For signup, you're sending a verification via EMAIL which shouldn't be able to be MITM attacked if sent to the user. Again try djang

[2020-07-16 23:15] mohmyo commented on #274
I completely agree with you about django-allauth, but it is not a verification link.

I don't have a user at that moment, I'm sending the email to start the signup process, the user has entered some values previously like email and first&last name then proceeds to payment, on successful payment a user should receive a link start the signup process, the info entered before should be used again at t

[2020-07-16 23:51] Andrew-Chen-Wang commented on #274
Hm I just started using Django stripe, and even without djstripe, many payment services, even if you're custom making one, really want you to have a user first. Anyways,...

What you're describing is the same method as verification links. I believe they're [hash generated](https://github.com/pennersr/django-allauth/blob/c19a212c6ee786af1bb8bc1b07eb2aa8e2bf531b/allauth/account/models.py#L126). The

[2020-07-17 01:04] mohmyo commented on #274
This sounds helpful, but the last point is not my use case as there is so much redundant data that I won't save to my payment record so I'm only keeping a transaction_id along with email so I can get full details when needed form payment service and avoid data redundancy, with JWT I will only include these on the fly like first name and last name and forget about it but with allauth I will have to

[2020-07-17 07:28] Harshith2396 commented on #275
You are right, the code was expecting a 'user' object. The code below worked perfectly fine for my custom model
`from apps.models import customModel as u`
`from rest_framework_simplejwt.tokens import RefreshToken`
`a=u.objects.get(email='abc@gmail.com')`
`token=RefreshToken.for_user(a)`

[2020-07-17 07:29] #275 closed

[2020-07-17 22:29] hvitis opened #276 "Model class rest_framework_jwt.blacklist.models.BlacklistedToken doesn't declare an explicit app_label"
Hello,

With or without installed blacklist app (with or without migrated) I am getting this error:

__RuntimeError: Model class rest_framework_jwt.blacklist.models.BlacklistedToken doesn't declare an explicit app_label and isn't in an application in INSTALLED_APPS.__

I am not using blacklisting at all. My project is a simple project with extended AbstractUser
In accounts app I am using simple im

[2020-07-17 22:43] Andrew-Chen-Wang commented on #276
Hmm I can only come up with some scenarios:

1. You're using the wrong package? Try: `import rest_framework_simplejwt` instead of `rest_framework_jwt`.

2. You didn't add the blacklist app to INSTALLED_APPS but somehow the api setting that you may or may not have set in your settings.py for blacklist rotation is set to True.

[2020-07-18 20:00] hvitis commented on #276
@Andrew-Chen-Wang You literally saved my day. I don´t know how did that happen but I made a spelling mistake. The first solution was indeed a hit. Thank you Andrew!

I have some open source projects if you´d like to collaborate. Cheers!

[2020-07-18 20:00] #276 closed

[2020-07-18 20:48] Andrew-Chen-Wang commented on #276
No problem! Sure, we can collaborate. Ping me in a repository, and I'll take a look!

[2020-07-19 21:31] Andrew-Chen-Wang commented on #274
Sorry for the relatively late reply.

The MITM attack is not during the server -> client transport (i.e. the email to the user); it's when the client uses the link to go to your website (i.e. client -> server). Additionally, you can really only do GET requests from an email, which is even worse. I understand you don't want to add redundant data to your database, and so you've resorted to JWT.

I t

[2020-07-19 23:14] mohmyo commented on #274
Not a problem at all!, I really appreciate your time and the effort you are taking into this, thank you so much 🙏🏻.

well, that's a problem 😅, especially with your later comment as it will be in the URL so using HTTPS has no powers here but it's only at URL so a frontend can pick it, verify with the server and use it in AUTHORIZATION header later fore upcoming requests, so at worst case, if someon

[2020-07-20 07:57] savar opened #277 "Support for Elliptic Curve algorithms"
Hi,

is there a good reason, why the ES* algorithms aren't in the list of available algorithms (tokens.py). They are creating significantly smaller JWTs compared to the RS* algorithms. A quick test showed me that just adding them as "allowed" works out of the box.

I am happy to create a pull request in case there is no technical/security reason why this shouldn't be supported in the first place.

[2020-07-20 10:38] adityamehta1990 opened #278 "Customizing the payload structure of the JWT?"
Currently, the payload structure of the JWT token is fixed:
`
{
  "token_type": "access",
  "exp": 1595xxx,
  "jti": "xxx",
  "user_id": 1
}
`

Is there a way to add more fields to this payload? For example, I want to add a roles key so that my service can act as authentication and authorization server for other services. Based on my understanding of the code, it looks like this is not straightfor

[2020-07-20 12:18] savar commented on #277
one way to "circumvent" this situation is:

[code]

having `cryptography` installed this will allow the usage of ES256

[2020-07-20 17:02] Andrew-Chen-Wang commented on #278
Duplicate #270

You should be customizing everything there is to SimpleJWT. Rate-limit/throttle your SimpleJWT views. For customizing physical payload of the response, you'll need to customize the serializer.

[2020-07-20 17:02] #278 closed

[2020-07-20 17:03] Andrew-Chen-Wang commented on #278
Sorry, just to be a little more specific: https://github.com/SimpleJWT/django-rest-framework-simplejwt/issues/121#issuecomment-495197686

That's how to implement it.

[2020-07-20 17:04] Andrew-Chen-Wang commented on #277
Duplicate #170

[2020-07-20 17:04] #277 closed

[2020-07-20 17:11] Andrew-Chen-Wang commented on #277
(Not a security expert). It seems like ECDSA is just not preferred due to needing randomness whereas RSA is deterministic:

https://tools.ietf.org/html/rfc6979

[2020-07-21 03:57] Andrew-Chen-Wang commented on #274
If you'd like to open source some kind of methodology, I'd be happy to take a look at it. For now, I think this functionality has a bit of a security vulnerability and, in general, is too specific to be integrated in my opinion. I'll be closing this. Feel free to keep discussing as I check my GitHub notifications for any thread where there are comments!

[2020-07-21 03:57] #274 closed

[2020-07-21 07:11] savar commented on #277
Thanks and sorry.. I didn't find the issue #170 when I searched for that.

[2020-07-21 09:46] mohmyo commented on #274
Thanks, I really appreciate your help.
I'm willing to contribute with some points which I think will be useful for anyone to more extend.

[2020-07-24 03:10] asoundlife commented on #169
@Andrew-Chen-Wang To further detail this issue, I recently opened a new [issue](https://github.com/SimpleJWT/django-rest-framework-simplejwt/issues/38) with the [auth0 Django API tutorial](https://auth0.com/docs/quickstart/backend/django). I've linked it back to this discussion.

[2020-07-24 15:37] Andrew-Chen-Wang commented on #169
Hi @asoundlife You'll have to give me until next week, possible Monday to re-visit the tutorial to see why this is necessary. For now, I'm gonna ask some questions so I may better understand this issue (I've been running out of time lately to maintain some of my repositories with college comin' up).

1. Does auth0 use their own library ? AFAIK, they just use Django's built-in authentication middle

[2020-07-25 01:02] asoundlife commented on #169
Thanks @Andrew-Chen-Wang ,

To illustrate the answers to your questions, consider the scenario of having a Django backend serving an API to a frontend like Vue, using auth0 to serve as the authentication provider.

The auth0 team recommends setting up an authentication system in the following way:

- Configure a new auth0 application & API with the auth0 dashboard (their website).  This gives the

[2020-07-27 09:26] llorenspujol commented on #227
+1 for adding customizable login rules. In my personal usage most of the times not all users on the DB are to be able to do login by default. I've had always some kind of validation, like email verification or be part of some group/party, or require to be invited somewhere for other user, etc. Adding this rules extendable would make a lot of sense IMO.

[2020-07-27 14:24] Andrew-Chen-Wang commented on #227
@t-io Do you mind creating a PR? I can focus on the docs, but it's a feature that is pretty good!

[2020-07-27 15:10] Andrew-Chen-Wang commented on #169
I see. I'm quickly going through my GitHub mail atm, so you'll still have to give me a little bit of time before big reviewing. There isn't a PR for this yet, but #227 may be a solution. Take a look at it for now.

Thank you for all the info @asoundlife! Looking forward to getting y'all a solution hopefully within this week.

[2020-07-27 20:42] asoundlife commented on #169
Awesome!  After a quick glance of #227, it looks like some of the work done there could be applicable to implementing a solution here. If that's the case, it might make sense to merge these issues once things become a bit more clear.  Thanks again @Andrew-Chen-Wang . I'll work through #227 and see if I can get the authentication side working for auth0.

[2020-07-28 21:32] bnisevic commented on #207
Hi! Is this invitation still open? I would like to be a maintainer.

[2020-07-28 21:56] Andrew-Chen-Wang commented on #207
ping @davesque

[2020-08-01 13:52] adityamehta1990 commented on #278
Thanks @Andrew-Chen-Wang . I actually wanted to customize the claims, I mixed up the terminology. The section on customizing token claims was exactly what worked for me!

[2020-08-04 05:02] taoky commented on #146
Maybe this can work:

[code]

`refresh.access_token` works as in `RefreshToken.access_token()`, `self.payload` is a dict, and is iterated:

[code]

And also, in class `Token` (which is inherited by `RefreshToken`), the `__str__()` just encodes `self.payload`:

[code]

[2020-08-04 07:02] hvydya opened #281 "Using custom AUTH_USER_MODEL is raising exception"
Python version: 3.6
Django version: 2.2
djangorestframework-simplejwt version: 4.4.0

I have a custom `AUTH_USER_MODEL` in my Django project. I wanted to implement JWT Authentication. I followed the instructions to use this package as it is from [docs](https://django-rest-framework-simplejwt.readthedocs.io/en/latest/getting_started.html). But it throws the following error after I've configured my

[2020-08-04 11:51] mosi-kha opened #282 "delete blacklist migrations"
hi
please drop `migrations` folder in `blacklist app`, because when using `djongo` ODM and because not implement `ALTER TABLE`, in `migrate` has-error below :
[code]

[2020-08-04 15:32] Andrew-Chen-Wang commented on #281
Hi @hvydya, TL;DR it's your project's configuration's problem regarding a custom user model, not SimpleJWT's.

I've always used a custom user model for many Django versions, so I'm not sure why this is happening. I'll give my suggestions and thoughts though:

Yes, importing the class at the module level saves Python in the long run since you've only got the class, that's all. It's best to not keep

[2020-08-04 15:37] Andrew-Chen-Wang commented on #282
Hi @mosi-kha,

Sorry, I've seen an issue rise regarding Djongo before (which is the ODM for MongoDB, correct)? All I can really say is: I just don't support it. Imo, drop the shard/schema for this table and continue using SimpleJWT without the blacklist app. The blacklist app requires having database-backed tables to actually "blacklist" tokens.

So again, just don't use the blacklist app. It's a

[2020-08-04 16:16] hvydya commented on #281
I do have `default` in `INSTALLED_APPS` and the model is called `BaseUser` only. I did run migrations, in fact I've been developing this project since a year. Haven't faced any issues.

Let me create a new Django project with a Custom User model and try to replicate this in that new project. I will get back to you with the results. 👍

[2020-08-04 16:19] Andrew-Chen-Wang commented on #281
If it’s not in your installed apps, then where is your user model defined?
It must be in a file called models.py or in a directory under models. The
“default” is your app’s name, name app that has the model.

On Tue, Aug 4, 2020 at 12:17 PM Harsha Vaidya <notifications@github.com>
wrote:

[2020-08-04 18:56] hvydya commented on #281
Yeah it's in `models.py` only. I thought that was implied. So just to reiterate, the `BaseUser` models resides in `models.py` in the `default` app.

[2020-08-04 20:36] Andrew-Chen-Wang commented on #281
Ah apologies, I read "I do have default in INSTALLED_APPS" as "I do not." **Can you try logging into your admin page?** If you can log in to your admin page without a problem, then I suggest you try to destroy your database and re-migrate. Also, take a look at the Django docs: https://docs.djangoproject.com/en/3.0/topics/auth/customizing/#using-a-custom-user-model-when-starting-a-project I think y

[2020-08-06 04:59] AlexanderNeilson commented on #262
Hi @Andrew-Chen-Wang / others

This is a sort of spec I have written up to try get my core goals straight and how I am thinking of doing the implementation. Currently no decorator in the core config (sorry, I will try implement that but it isn't required for the core implementation at my work so I will try add it in my spare time)

Can you please run over this and see if I am stretching too far ou

[2020-08-06 22:26] duducp commented on #231
Hello, people were asking me why there is no such thing in the token validation but I saw that it is being implemented. My suggestion is that this has a control variable in the settings for the user to be able to choose whether or not to use this validation.

I don't know if this is the right place but it would be very interesting for this module to use cache in token verification. Usually the tok

[2020-08-07 22:49] NZLostboy commented on #216
As as a note I was using HS512 for a project which has subsequently stopped working. I switched back to HS256 which resolved the problem. Haven't had time to investigate yet but I was just getting "Token is invalid or expired" even though the token was valid. I had both `PyJWT` and `cryptography` installed and up to date.

[2020-08-07 23:46] dustinlharrison opened #283 "Django 3.1 deprecation warnings (RemovedInDjango40)"
# Symptom

With the release of Django 3.1 a new round of warnings popped up.  Using v4.4.0 which has the Django 3.0 & Python 3.8 fixes (#186 ) I'm seeing warnings when running my projects unit tests:

[code]

Running the tox tests revealed additional warnings in the `py38-djangomaster-drf311` environment.

[code]

NOTE: The `py38-djangomaster-drf310` environment had 6 broken tests, but that enviro

[2020-08-08 05:34] Andrew-Chen-Wang commented on #124
@patrickoramah are you confused about the lockout URL that's returned? Is there a certain Django axes message that is sent on lockout?

[2020-08-08 05:41] Andrew-Chen-Wang commented on #283
Hi @dustinlharrison Thanks for running the tox tests. I believe we got through the warning for `ugettext_lazy` awhile ago and I just filed #280 for the url() method; they just haven't been merged. Regarding the deprecation warnings for python-jose (that is the collections imports), I will file an issue in their repository. Finally for the pytest configurations, I believe we can specify `python_fil

[2020-08-08 05:59] Andrew-Chen-Wang commented on #216
@NZLostboy I'm curious as to why HS512 wouldn't work. Perhaps a misspelling in SIMPLE_JWT settings? Was your signing key at least 512 bits long (64 bytes/chars long)? Did you change any settings? Maybe misspelling of algorithm? Your problem would likely go into another issue.

You don't need the `cryptography` package to use HS512, as noted in PyJWT:

https://github.com/jpadilla/pyjwt/blob/2314124

[2020-08-08 06:28] dustinlharrison commented on #283
I use pipenv for vitualenv and haven't see those warnings so I'm not sure about the `collections.abc` issue.  Sounds like every thing else is taken care of so this can be closed. Thanks!

[2020-08-08 06:28] #283 closed

[2020-08-08 07:47] Andrew-Chen-Wang commented on #231
It is controlled via the BLACKLIST_ROTATION (something like that) setting in the SIMPLE_JWT dict settings. According to the linked PR, even with the setting on, it did not work, although I haven't had the time to actually use the blacklist app in recent times.

Is the variable **working** for you?

TL;DR The actual encryption and decryption of the token is not costly whatsoever. The actual databas

[2020-08-08 22:45] aaronn opened #284 "Question about JWTs & Refresh on Mobile Apps"
I have a Django Rest Framework API and I'm using this plugin for my auth. I have a question about how refresh tokens are meant to be used exactly, because I've seen conflicting reports around the web on refresh tokens and access tokens and don't have much experience with this.

My goal: mobile users after authenticating should essentially never be logged out unless they do it explicitly or we some

[2020-08-08 23:42] Andrew-Chen-Wang commented on #284
Hi aaron,

Unlike your background, I have zero industry or school experience, but I’ll
do my best to explain JWTs in general and industry standard (hypocritical
ey?):

JWT is just a string that contains some payload (not encrypted) and secret
claims (encrypted). That’s all JWT is; what you’re confused about is OAuth
and OpenID standards, both using JWT and its internal system, token claims.
I’ve w

[2020-08-09 00:35] aaronn commented on #284
Hey @Andrew-Chen-Wang – thank you for taking the time to explain this to me. My background is as a Product Designer and I went to school for Business, so I appreciate you being detailed with your technical explanation. You are also correct that I have not read the OAuth and OpenID standards, and that I am misusing the noun JWT to potentially refer to OpenID and OAuth standards. I will avoid doing

[2020-08-09 01:26] Andrew-Chen-Wang commented on #284
Ah I see, awesome to see designers in business learning some CS! To be
frank, the OpenID and OAuth standards are complex for everyone (which leads
to their security vulnerabilities ffs).

You can save anything in iOS, React Native, Android, etc. Keychain systems.
Doubles, floats, strings, custom classes, anything :P I’m just concerned
that your application has no true method of “authentication.” S

[2020-08-09 04:41] aaronn commented on #284
Sounds good. I'll shoot you an email. Thanks for your help.

[2020-08-09 11:15] Alig1493 commented on #207
I could volunteer to help as a maintainer if possible. I haven't worked on open source projects in a while so would be a bit slow on the uptake, just a heads up.

[2020-08-09 13:44] #284 closed

[2020-08-09 23:21] nicktindall commented on #216
I think this could be better indicated when it occurs at runtime, for example I was attempting to use RS512 which "worked on my machine" because cryptography was installed as a transitive dev dependency, but then it broke in the container with "Token is invalid or expired" in the container. Took me a while to work out that what that error actually meant was 'RS512' is not available.
If you caught

[2020-08-10 12:12] bnisevic commented on #207
Nobody's responding. The project looks dead. That would be unfortunate. If the owner can not maintain it, he should pass it to the people willing to help.

[2020-08-10 12:15] Andrew-Chen-Wang commented on #207
Hi Bojan,

Quick email as I just saw this notification pop up. I’ve been doing my best
to triage issues (there are 4 triage members, but it seems to be left to
me) for quite some time now; I haven’t found the time to email Dave
regarding repo maintence, but it’s now on my to do list! I’d love for
others to help maintain this project!

Cheers!

On Mon, Aug 10, 2020 at 8:13 AM Bojan Nišević <notific

[2020-08-10 12:25] bnisevic commented on #207
Hi @Andrew-Chen-Wang !
Thanks for responding. @Alig1493 would like also to help. And I would also like to contribute. When you catch time send me more info via email how I can help. Best regards!

[2020-08-10 12:54] Andrew-Chen-Wang commented on #216
@nicktindall Please do submit a PR! Curious though, is InvalidAlgorithmError caught if you use different casing (e.g. camel case idk) of the algorithm you specify in the SIMPLE_JWT settings? That would be a little confusing. Hopefully `InvalidAlgorithmError` is only raised when there's a misspelling or if cryptography is not installed.

[2020-08-10 12:54] duducp commented on #231
I did the test and the variable `BLACKLIST_AFTER_ROTATION` is working yes, if disabled the blacklist validation is not done.

About the cache I had thought about using it in the validation and the way we would invalidate it could be:
- set the redis expiry time to the same time as the jwt;
- if the refresh token is called and the variable **BLACKLIST_AFTER_ROTATION** is active, the token written i

[2020-08-11 00:27] nicktindall commented on #216
It looks like InvalidAlgorithmException will be raised when the token is signed with an algorithm other than the one you've specified in SIMPLE_JWT settings (api_jws.py:215) or if the nominated algorithm isn't installed (e.g. due to missing cryptography, api_jws.py:226)

Working on a PR :)

[2020-08-13 00:11] mohmyo opened #286 "Tracking v4.5.0"
The last release was on Dec 7, 2019, since then, there were so many PR's with good features that had been already merged.

[2020-08-13 13:51] Andrew-Chen-Wang commented on #286
We're working on a release to come out soon. We'll at least get a patch version out in case of any mishaps with between Django 3.0 and 3.1.

I guess I can make this place a starting point for what we've changed:
- Just had a discussion with David; we'll get some small features inside a minor release. Something big like the httpOnly PR will have to wait a little bit longer.
- PRs should now work on

[2020-08-13 15:16] mohmyo commented on #286
Looks cool!!
Thanks for sharing this great news

[2020-08-14 23:55] Andrew-Chen-Wang commented on #286
Track 5.0.0: https://github.com/SimpleJWT/django-rest-framework-simplejwt/milestone/1

It'll bring SimpleJWT up to date with Django 3.1, drop Python 2 and Django 1.11, and add a couple new features

[2020-08-15 18:12] hvitis commented on #144
@Andrew-Chen-Wang @naelmusleh @haristimuno-omnibnk

Fixed it. I was not necessarily adding the extended, customized serializer to my settings.
Deleting it from settings.

Now my extending process looks like this:
serializer > view > url

**No need to change anything in settings.**

[2020-08-17 02:33] rodrigondec opened #288 "error dict key `detail`"
# Resume
Every response error related to django-rest-framework-simplejwt returns a dict in the following format:

[code]

# Why use hardcoded `detail` key?
The DRF framework has the default `NON_FIELD_ERROR_KEY` which can be configured by the user.

https://github.com/encode/django-rest-framework/blob/3d708ac7005e29ca75aa68b447edb8d9dc111637/rest_framework/settings.py#L86

## My front-end now has

[2020-08-17 05:07] aasutossh opened #289 "Storing the tokens in cookie (httponly)?"
How do I store the tokens in httponly cookie? I heard storing the tokens in httponly cookie is somewhat secure.
In that context, I don't want to run `TokenObtainPairView` as view, but I want to get the tokens and set cookie inside a view in django. I hope my question makes sense.

[2020-08-17 05:26] aasutossh commented on #289
Tried to be smart, to see if I can access the tokens:
[code]
But, now I get "`Forbidden (CSRF cookie not set.): /api/token/obtain/`".

[2020-08-18 16:40] Andrew-Chen-Wang commented on #289
Duplicate #71. We're working on a PR at #71 that'll solve your problem.

[2020-08-18 16:40] #289 closed

[2020-08-18 16:42] Andrew-Chen-Wang commented on #288
Perhaps getting rest_framework settings and getting the non_field_errors in place of detail will work. PR welcome! make sure the settings.py in the tests folder sets the non_field_errors as "default." My only concern is that this will be a breaking change in the few repositories that externally test SimpleJWT, but it shouldn't be too big of a breaking change.

[2020-08-19 04:58] aasutossh commented on #289
Yeah, I saw the PR before. I wanted to know if there is any workaround. Thanks.

[2020-08-19 13:41] Andrew-Chen-Wang commented on #289
Hey @aasutossh yea sorry. I'm not a huge fan of React and stuff so I can't really answer that question. I've looked into a bunch of these different strategies for JS frontend frameworks, but I simply can't give a definitive answer except for that PR. Dw David will be reviewing it soon.

[2020-08-19 14:53] aasutossh commented on #289
No worries. I'm just trying stuff out. Learning.

[2020-08-19 14:55] Andrew-Chen-Wang commented on #289
I see. Good luck, have fun!

[2020-08-19 17:11] johnthagen commented on #286
Related to #236.

A patch release that addresses the already-fixed-in-master `DeprecationWarning`s (#280, #186) would be great, thanks!

[2020-08-21 09:40] wdschn opened #290 "Do not use django auth, is it possible to use djangorestframework-simplejwt"
Hello everyone. I have encountered a problem and I hope to get your help.

My requirements.txt is like this

[code]

I did not use django.contrib.admin and django.contrib.auth.

My settings is like this

[code]
I set DEFAULT_AUTHENTICATION_CLASSES to rest_framework_simplejwt.authentication.JWTTokenUserAuthentication and the program cannot be started
[code]

I feel it is caused by from .models impo

[2020-08-24 02:38] wdschn commented on #290
I think this is caused by the introduction of module levels.Because I did not use django.contrib.auth in INSTALLED_APPS,so don't  this in rest_framework_simplejwt.authentication_base import authentication
[code]
Because ,in .model file:
[code]

I copied the class JWTAuthentication into my base.authentication file,Then modify the configuration file like this:
[code]
It works.

However, just now, I

[2020-08-24 02:51] Andrew-Chen-Wang commented on #290
Very nice. Are you saying that if you had the master branch version of the package installed (rather than just copying the file), does it work? If so, lemme know and close the issue. Glad to hear it works!

[2020-08-24 02:58] wdschn commented on #290
Just now I installed the master branch version, and it works. Hope it can be released to the next PyPI version.

Thank you all again.

[2020-08-24 03:05] Andrew-Chen-Wang commented on #290
Awesome, thanks for testing. We'll be pushing out the new version soon!

[2020-08-24 03:05] #290 closed

[2020-08-24 16:16] llorenspujol commented on #227
I see that the related merge request has been accepted! good enhancement:) I accidentally found it: https://github.com/SimpleJWT/django-rest-framework-simplejwt/pull/279

Just for know, when is planned to publish a new version with those changes?

[2020-08-24 16:50] Andrew-Chen-Wang commented on #227
I pinned an issue for v5.0.0. Once I find the time to incorporate Django 3.1 into the test cycle, we can publish it. I'm just looking to merge any other small features that might be necessary.

[2020-08-24 16:50] #227 closed

[2020-08-26 07:03] aasutossh commented on #266
Any update on this? Just faced the same issue.

[2020-08-26 22:22] parthjoshi2007 opened #295 "Cannot use SimpleJWT when `django.contrib.auth` is not in INSTALLED_APPS"
Python: 3.7
Django: 3.1
SimpleJWT: 4.4.0

Since the `TokenUser` class definition imports `django.contrib.auth.models` for the `Group` and `Permission` models, it is not currently possible to use SimpleJWT when not using django's in-built `auth` app. This is true even if one is using the regular `JWTAuthentication` class and not the `JWTTokenUserAuthentication` because both are defined in the same

[2020-08-27 15:59] dgmouris commented on #263
Hey @Andrew-Chen-Wang I would like to help out on this.

As a note I would like to see how you're kind of formatting your repos so that I can be consistent with what you've created. I'm just having a bit of trouble seeing: https://github.com/Andrew-Chen-Wang/mobile-auth-example as it might be a private repo and I get a 404.

Let me know if/how I can help.

Thank you so much for your time.

[2020-08-27 16:09] Andrew-Chen-Wang commented on #263
Hi, yes I took down mobile-auth-example so that I can learn some more
security concepts in mobile development before showing it again. The
general way I formatted it can be seen in the Angular repository (a new PR
was made).

I had "server" as a Django project name and "jwt-ios" and "jwt-android" for
my mobile project names (those were the top directories/in the root
directory).

Sorry about the m

[2020-08-27 18:39] parthjoshi2007 commented on #295
I pulled the latest code off the master branch where the `TokenUser` class is now customizable and hence imported dynamically. This removes the import chain that was causing the `Group` and `Permission` model import for me. Hence, closing this issue.
However, would like to see this published to Pypi soon please!

[2020-08-27 18:40] #295 closed

[2020-08-27 19:37] dgmouris commented on #263
Hey thanks for responing so quick that's awesome.

Before I get started I'd like to just clarify the scope of what you'd like to see. I'd also like to take a crack at the react repo first so no new repos are needed.

First what would you like the scope of the project be? Here's what I'm kind of inferring by an example repo.
- server
  - login/logout
  - one (or more) models
  - one (or more) seria

[2020-08-27 21:30] Andrew-Chen-Wang commented on #263
Sure, np. School doesn't start for another few days so I'll be able to respond quicker before September.

1. Scope of the project: show login/logout, usage of the access token when needed (you don't always need to send a token, so you will want to demonstrate that too), and using both views. When I mean using both views, (and again sorry about taking down the mobile auth repo) I mean once you rece

[2020-08-28 00:08] loicgasser commented on #263
Hi so my latest work on the simple jwt can be found here.

https://github.com/AtuzSolution/django-rest-framework-simplejwt/releases/tag/jwt_5

This is now `git+git://github.com/AtuzSolution/django-rest-framework-simplejwt@jwt_5#egg=rest_framework_simplejwt`

These are the things I changed

- Remove both the token and refresh tokens from the obtain and refresh endpoints
- Added some tests
- Always

[2020-08-28 01:55] Andrew-Chen-Wang commented on #263
Right, local storage is what had to be resorted to as plain example
repositories (not the original intention but as good starting points). I
was just asking to see if any more Python could be done or any other
pointers incorporating #71 could be included.

But yeah, we basically agreed that by the time XSS does happen, it's no
bueno at that point. If you can't implement the #71 PR, then definitely

[2020-08-28 23:51] dgmouris commented on #263
@Andrew-Chen-Wang

I took a stab with some of the local storage https://github.com/SimpleJWT/drf-SimpleJWT-React/pull/1 I don't know how far/how much you'd like for in an example repository. I'm very much open to changing this but it might be of use, my apologies if this isn't enough/you'd like more tests, I just thought having something concrete up here would be of use.

I will take a gander at h

[2020-08-31 10:08] furkan-34 opened #296 ""detail": "Method \"POST\" not allowed." Error"
I am trying to add data on views.py, I send username and password parameters on JSON body with POST method from POSTMAN . Normally The function work succesfully like below:

[code]
After enable djangorestframework_simplejwt package on my project and run it successfully I changed urls.py link like: `path('add/', add_device)` to `path('add/', add_device.as_view()) `On views.py:

[code]
But now, alwa

[2020-08-31 12:57] Andrew-Chen-Wang commented on #296
You’re using an APIView now. Use def post, not def get.

On Mon, Aug 31, 2020 at 6:09 AM Furkan Cigerlioglu <notifications@github.com>
wrote:

[2020-08-31 13:35] #296 closed

[2020-08-31 13:54] furkan-34 commented on #296
Thanks a lot!
It's worked !
def post(self, request, *args, **kwargs):

[2020-08-31 16:40] Andrew-Chen-Wang commented on #263
Thanks for the PR @dgmouris! I'll take a look when I have time. Regarding #71, I read online something about Axios for React. Some people use it to store API tokens and such. Hopefully that's useful for attempting to incorporate #71.

[2020-09-01 03:52] Andrew-Chen-Wang opened #297 "Incorrect language code"
https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/eca3792486ae5c92fdae8c9f030613f112f6ea26/rest_framework_simplejwt/locale/de_CH/LC_MESSAGES/django.po#L9

Language code is incorrect here. Not sure if the binary needs to be rewritten.

[2020-09-02 12:26] Augustinio opened #298 "Adding support for choosing specific auth backends"
Currently there is no way to choose a specific auth backend other than defining a custom TokenObtainPairSerializer with an overridden validate method and making a custom TokenObtainPairView from that.
It is not too much work but it would be great if there was a setting that let us choose one or multiple specific authentication backends to be used instead of all the ones defined in the auth backend

[2020-09-02 19:55] Andrew-Chen-Wang commented on #298
Does #279 solve this? Used to check only `is_active` , but now we can use a custom callable to check.

[2020-09-02 20:40] jayps commented on #146
For anyone else finding this: I achieved by using a custom serializer as described in the docs. I have my serializer like this:
[code]

And then in my view where I manually create a new token:
[code]
In my case, this successfully returns a fresh token with new claims.

[2020-09-03 08:40] Augustinio commented on #298
It sure does! Thank you.

[2020-09-03 17:26] #298 closed

[2020-09-04 00:33] dgmouris commented on #263
Hey @Andrew-Chen-Wang just added tests to the authentication piece to https://github.com/SimpleJWT/drf-SimpleJWT-React/pull/1.

I see that there is a path to not using localStorage with axios (referring to https://github.com/SimpleJWT/django-rest-framework-simplejwt/issues/71) but I think it would be more appropriate to add it to another Pull Request. I wouldn't mind working on it once the PR ment

[2020-09-04 00:45] dgmouris commented on #297
Hey @Andrew-Chen-Wang I was just taking a gander at the similar locale folders and it seems like this was the convention.

Hopefully I'm not wrong. Thanks so much for your time :smile:

[2020-09-04 02:09] Andrew-Chen-Wang commented on #263
Hey @dgmouris Just left my review in your PR. Definitely looking forward to a number 2 PR for such implementation!

[2020-09-04 02:17] Andrew-Chen-Wang commented on #297
Cool, turns out .mo files also needs to be regenerated. I think `django-admin makemessages -l de_CH` is good enough to update it.

[2020-09-04 02:39] Andrew-Chen-Wang commented on #231
Sure @duducp a PR is definitely welcome. Something like the way Django handles session store would be great, as you described. To me, it's really not too necessary with most sites being small but with browser support with JS framework becoming increasingly likely to happen, it's definitely on the TODO list and something I'm keen in seeing the implementation of :)

[2020-09-04 02:43] Andrew-Chen-Wang commented on #262
Hey @AlexanderNeilson I wanted to comment awhile ago but kept running out of time to complete my draft response. Everything sounds good to me as a gist of my response, but the authorization part can be moved to a different PR. Please look forward to some comments on Saturday! Just wanted to make sure you still remembered this PR after so long.

[2020-09-04 03:38] AlexanderNeilson commented on #262
@Andrew-Chen-Wang

I have worked up the first phase of this code in my fork

[Current working branch](https://github.com/globallinings/django-rest-framework-simplejwt/tree/Dynamic-AUD)

and if you would like to take a look I would be most appreciative.

Currently it is missing tests and a full separate documentation page talking about the pro's and con's of the system.

My work dev environment is

[2020-09-04 15:46] Andrew-Chen-Wang commented on #262
Hey Alexander! Glad to hear from you. #279 has a little more authorization bits in place for SimpleJWT so I wouldn't worry too much about that portion. Again, I'll review your spec on Saturday to finalize any draft details.

As for speeding up code-wise, try to follow by the guidelines of "test-driven coding." It'll speed up the process a lot as you begin moving around parts and finding bugs and s

[2020-09-05 00:39] #297 closed

[2020-09-06 19:19] jaketae commented on #207
Hi, I just stumbled across this issue while digging for answers to some questions. I know that @Andrew-Chen-Wang and other maintainers have already tried contacting JazzBand before, but nonetheless wanted to leave [this link](https://jazzband.co/about/guidelines) in case it becomes relevant detail. I may be mistaken, but the gist of it is that there exists a pretty standard procedure of transferri

[2020-09-07 03:09] Andrew-Chen-Wang commented on #132
Added in #238

[2020-09-07 03:09] #132 closed

[2020-09-07 03:15] Andrew-Chen-Wang opened #301 "Adding user logged in signal"
Ref #196 Adding a signal on "login" is helpful for some developers, but I cannot warn enough about the vulnerability this may cause.

In my last comment there, please create a new signal (in addition to #295 in which some people purposefully don't use the contrib auth app, so using a custom signal will 1. help identify that it's an API login and 2. avoid needing another app).

When implementing th

[2020-09-07 12:23] bnisevic commented on #207
It is wonderful project, but it seams dead now.

[2020-09-07 14:40] Andrew-Chen-Wang commented on #207
There are some missing details in this repo that doesn't conform to Jazzband, but I've been given merge perms so I'm able to merge some PRs. Just gotten busier with college lately, so that's why v5.0.0 is coming a little slow, although I've already merged a couple of PRs already @bnisevic.

[2020-09-10 23:03] Andrew-Chen-Wang commented on #263
Thank you @dgmouris for implementing the React template repository!

[2020-09-11 17:05] Andrew-Chen-Wang commented on #286
Hey all. Just got pretty busy lately. I'll email David to push a minor version out next week to resolve the "RemovedInDjango40" warnings and include the other new features.

[2020-09-11 21:16] dgmouris commented on #204
Mind if I take a crack at this?

It seems like something that might be super useful to some:)

[2020-09-11 21:30] Andrew-Chen-Wang commented on #204
Sure @dgmouris go for it!

[2020-09-12 11:51] HarryNdegwa commented on #266
Any update? i got the same issue

[2020-09-12 12:55] ribbonhood commented on #216
I agree. I spent some time trying to figure out the issue, then I had to go through the code to find out it needs the cryptography package.

[2020-09-12 13:21] Andrew-Chen-Wang commented on #216
@ribbonhood I've merged a PR that should help with this. I haven't pushed a minor version out yet, but yeah I can see how this is annoying and hopefully that PR fixes it (it's the one above your comment).

[2020-09-12 13:23] Andrew-Chen-Wang commented on #266
@aasutossh @HarryNdegwa I need to ask David as to why this was not set to SET_NULL to begin with (even though there's an attribute that says `null=True`).

[2020-09-12 13:37] Andrew-Chen-Wang commented on #262
Long overdue review of this spec is here; it's not going to be much because... school. But I like the idea that's being brought forth:

Definitely great. Saw this in a different issue.

The gotcha is right here.

An issue is going to be confusion. Audience and no audience? Instead of setting something to static/dynamic and then configuring a secondary variable, we might be missing something if the

[2020-09-14 10:14] peppelinux opened #302 "Token refresh vulnerable to Replay Attacks"
Hello to everybody,

I'm quite new on simplejwt and I'm looking at it with curiosity, first of all congratulation for this wonderfull library.

As far as I know the refresh token would be used one time only, following the tests I made I saw that the refresh token could be used and reused again and again, until it won't expire. This is justified by the absence of persistence in simplejwt BUT this e

[2020-09-14 13:12] Andrew-Chen-Wang commented on #302
@peppelinux Concern well-received! Yea, I warn about DOS attacks a lot here, especially on the topic of getting the token. I always recommend django-ratelimit or DRF's internal throttling system (recently added the update_last_login setting, but I had... strong feelings against it for a long time), but, yes, this is out of our scope.

You mention a persistent storage: we have a blacklist app (that

[2020-09-14 13:12] #302 closed

[2020-09-18 01:34] dynalogic-agtech opened #303 "Is locale translations working? If yes, how can I setup this?"
Hi I am trying to get the response messages on pt-br language.

I have i18N True on my project and drf works fine.

Is this working on simplejwt too? How can I setup this to work?

Many Thanks.

[2020-09-18 02:36] Andrew-Chen-Wang commented on #303
Try pip installing master branch and try one of the most up to date languages.

[2020-09-19 13:31] fiskoner opened #305 "Is it possible to revoke user token?"
Hi! I have read all previous threads about this problem, but solutions there didn't help me.
My problem is: i try to delete user token or blacklist it, but user still can use his token to access my endpoints. All i need is an endpoint where i can provide user_id and my api will revoke all tokens for this user, so he won't be able to access any endpoint with old token, like logging user out

[2020-09-19 19:06] Andrew-Chen-Wang commented on #305
Are you trying to use an API? SimpleJWT IIRC doesn't have an API, but several models that can assist you, which isn't blocked by any kind of assertions or rules in the package's code. Lots of threads are more or less worried about the UI part of it, but it seems like you want to do this programmatically.

If you're trying to block certain users, such as if the is_active flag is already set to Fals

[2020-09-25 04:54] Abishek05 opened #307 "Has anyone implemented this experimental feature JWTTokenUserAuthentication backend?"
So I've been trying to build a Django project that handles authentication centrally on a standalone basis using `django-rest-framework-simplejwt`. And other Django Rest Framework projects that use this for authentication. All projects will have their own databases.

I am not quite sure what goes into the database section in settings.py of both the auth project and other projects. The documentation

[2020-09-25 07:42] saadmk11 commented on #46
You need to add ``'rest_framework_simplejwt.token_blacklist',`` app in the ``INSTALLED_APPS`` in the django settings file to use this feature.

https://django-rest-framework-simplejwt.readthedocs.io/en/latest/blacklist_app.html?highlight=blacklist#blacklist-app

[2020-09-25 12:34] Andrew-Chen-Wang commented on #307
I'm not sure what you're asking, but I can clarify that
JWTTokenUserAuthentication is basically authenticating solely on the
validity of the token. The default authentication mechanism introduced in
the docs validates the token then checks that the user ID is in the
database using the authenticate method.

On Fri, Sep 25, 2020 at 12:55 AM Abishek D <notifications@github.com> wrote:

[2020-09-25 13:24] Abishek05 commented on #307
@Andrew-Chen-Wang Thanks for your response.

In a microservices environment, multiple Django projects will be hosted separately with their own separate database and will not contain the user table to check the user ID.

Only one Django project(central authentication) will contain the user table along with the user ID, in this scenario, I suppose `django-rest-framework-simplejwt`'s `JWTTokenUserAut

[2020-09-25 14:44] Andrew-Chen-Wang commented on #307
Uh Django is more typically known for being a monolith type web framework. If I'm understanding this correctly, you only have one server with the user table; the rest of your servers have a different database without the user table right?

In that case, if you use JWTTokenUserAuthentication, what you have now is perfectly fine. That means SimpleJWT only uses PyJWT to make sure that the token is va

[2020-09-25 14:49] Andrew-Chen-Wang commented on #46
I believe this issue is not simply just the token blacklist app itself, but also the fact that the functionality is not actually implemented. I've seen a lot of issues lately regarding the blacklist app, and it seems like the functionality may just be broken.

Once my midterms are over, I'll take a look at this again.

[2020-09-25 15:21] Abishek05 commented on #307
@Andrew-Chen-Wang Yes, you got it correct. There is one server with a user table and the rest of the servers hosts its own application-related services without the user table similar to Google, how one account is used for multiple products like Gmail, Drive, etc.

So if I understand you correctly, all I need to do is make sure SECRET_KEY (SIGNING_KEY) needs to be set the same across all the projec

[2020-09-25 19:43] Andrew-Chen-Wang commented on #307
Yes, however I encourage you to generate your own SIGNING_KEY rather than using the SECRET_KEY since you want to rotate each of these keys. You can generate a new secret key by just generating another Django project or looking for their util function that generates the secret key. I say this since you need to look at the requirements for your encryption standard to make sure your key is long enoug

[2020-09-25 19:58] Abishek05 commented on #307
@Andrew-Chen-Wang Noted! Thanks for the info and for pointing me in the right direction.

[2020-09-28 07:29] mithodin commented on #246
Here's a simple workaround if you're using drf-yasg:

[code]

[2020-09-28 17:19] Abishek05 commented on #307
@Andrew-Chen-Wang Is there a way to use the token user received from the JWT token in `models.py` of microservices Django project so as to establish a relationship with the fake User model?

I'm looking to do something like this:-

**models.py**
[code]

[2020-09-28 19:02] Andrew-Chen-Wang commented on #307
The TokenUser model that you get from using JWTTokenUserAuthentication backend comes from here: https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/969118276fcbd49f4f5d88756dd36f2427e25dbd/rest_framework_simplejwt/models.py#L9-L17

It's similar to how if an anonymous user pings a view, then you'll get `django.contrib.auth.models.AnonymousUser`. What you should do is that you need to

[2020-09-29 05:38] Abishek05 commented on #307
@Andrew-Chen-Wang I am able to fetch the user.id from token as you suggested but the model tries to lookup the user table in its own database and throws an error `django.db.utils.IntegrityError: insert or update on table "core_book" violates foreign key constraint "core_book_user_id_55b2f8ca_fk_auth_user_id"
DETAIL:  Key (user_id)=(1) is not present in table "auth_user"`

Here's how my code looks:

[2020-09-29 14:54] Andrew-Chen-Wang commented on #307
That's because you should be doing request.user.id in this case. `tokenuser` was just an example variable; otherwise, you've got a variable that was never even declared.

[2020-09-29 16:06] #307 closed

[2020-10-01 14:57] dgmouris commented on #204
Hey folks,

I took a crack at this (sorry it took a while). Please let me know if this is suitable for the package, and if the tests/documentation fit the style of the package.

Thanks so much for your time!

[2020-10-03 16:35] samir321-pixel commented on #42
for me its not......

[2020-10-03 16:42] Andrew-Chen-Wang commented on #42
It's a different issue. There were two packages with the same name that caused this issue.

[2020-10-03 16:42] #42 closed

[2020-10-05 11:00] pckrishnadas88 opened #312 "How to make some routes API's public?"
I want to make part of my API's, some routes without authentication and some using simplejwt. How this is possible?

[2020-10-05 17:50] zeack commented on #312
This is not manage by simplejwt, this is manage by django rest framework(drf), did you read [this](https://www.django-rest-framework.org/api-guide/permissions/#permissions)?

in your drf you can protect all by add this in your settings.py
[code]

and in your viewset that want not protected (views.py)

[code]

or by action(example POST to /v1/example/):
[code]

[2020-10-05 18:03] #312 closed

[2020-10-06 00:13] Andrew-Chen-Wang commented on #305
Closing as there's a lack of response.

[2020-10-06 00:13] #305 closed

[2020-10-06 00:14] Andrew-Chen-Wang commented on #281
Closing; seems stale with no response plus I've not had this issue before.

[2020-10-06 00:14] #281 closed

[2020-10-06 11:21] nikolaik opened #313 "Add support for python 3.9"
Version 4.4.0 has `python_requires='>=3.6,<3.9'`. The upper bound was lifted in https://github.com/SimpleJWT/django-rest-framework-simplejwt/commit/953a6bf2dd01872b86dd12e7212a652f90d738db but unreleased

[2020-10-06 14:56] dgmouris commented on #204
@sandeepsajan0 You should be able to change the `AUTH_HEADER_NAME` to whatever you'd like now based on the PR above.

As well @Andrew-Chen-Wang should this issue be closed now?

Thank you maintainers for your hard work!

[2020-10-06 18:30] Andrew-Chen-Wang commented on #313
Sorry. We'll get to pushing a new release soon. There should be nothing blocking you besides a pip warning, though, as we have no Django checks in place.

[2020-10-06 18:31] Andrew-Chen-Wang commented on #204
It'll come out in the 5.0.0/next release.

Cheers all!

[2020-10-06 18:31] #204 closed

[2020-10-07 10:31] sweetpythoncode commented on #313
@Andrew-Chen-Wang Is it already released?

[2020-10-07 12:30] Andrew-Chen-Wang commented on #313
No not yet. Something must be backing up @davesque from releasing

On Wed, Oct 7, 2020 at 6:31 AM Gikta_python <notifications@github.com>
wrote:

[2020-10-08 23:35] danvaneijck opened #315 "4.4.0 not avaiable using pip install"
getting this error when trying to install the latest version

ERROR: Could not find a version that satisfies the requirement djangorestframework-simplejwt==4.4.0 (from versions: 1.0, 1.1, 1.2, 1.2.1, 1.3, 1.4, 1.5.1, 2.0.0, 2.0.1, 2.0.2, 2.0.3, 2.0.4, 2.0.5, 2.1, 3.0, 3.1, 3.2, 3.2.1, 3.2.2, 3.2.3, 3.3, 4.0.0, 4.1.0, 4.1.1, 4.1.2, 4.1.3, 4.1.4)
ERROR: No matching distribution found for djangorestf

[2020-10-09 01:03] Andrew-Chen-Wang commented on #315
Just installed it. Not sure what the problem is. Try going to https://pypi.org/project/djangorestframework-simplejwt/ and copy and paste their command.

[2020-10-09 01:03] #315 closed

[2020-10-09 02:22] danvaneijck commented on #315
turns out this is a python 3.9 support issue. was trying to install the package using the python:3.9-alpine docker base image.

using python:3.8-alpine and everything works fine

[2020-10-09 02:38] Andrew-Chen-Wang commented on #315
@danvaneijck Ah I see. There was a different issue regarding some Python 3.9 block that is supposed to be released for v5.0.0. Sorry about this! We're close to release!

[2020-10-13 12:50] uoxiu opened #317 "Add please support for Python 3.9 for v4.4.0"
Python 3.9 was released on Oct. 5, 2020, but I can't install v4.4.0 of the package because on Pypi it's set requires: Python >=3.6, <3.9

Probably we need to test this package on 3.9 and update the required version of python if everything is ok.

Thank you!

[2020-10-13 13:42] Andrew-Chen-Wang commented on #317
Duplicate #315

[2020-10-13 13:42] #317 closed

[2020-10-13 16:00] dgmouris commented on #263
I took a crack at creating the Vue repository please take a look here: https://github.com/SimpleJWT/drf-SimpleJWT-Vue/pull/9

[2020-10-13 20:39] Andrew-Chen-Wang commented on #263
@dgmouris Thanks for the PR! I think after this year's hacktoberfest results, I'm going to avoid adding hacktoberfest labels until they add proper rules that helps open source and not "trying to encourage" open source contributions. Not silly! But hope you understand; sorry.

I think I can still add hacktoberfest-approved to your single PR though. Not sure, but I don't want to see a flood of PRs h

[2020-10-14 14:53] JideoforPaul opened #318 "Can't install djangorestframework-simplejwt==4.4.0 For python 3.9"
Hi,

I can't pip install djangorestframework-simplejwt==4.4.0 on a virtual environment that runs on python 3.9

[2020-10-14 15:31] Andrew-Chen-Wang commented on #318
Duplicate #313

[2020-10-14 15:31] #318 closed

[2020-10-14 17:34] dgmouris commented on #263
@Andrew-Chen-Wang I fully understand I hear repos are getting spammed (with non productive PRs) which is 0% fun. Thanks for adding the tag:)

[2020-10-15 07:33] hanwenlu2016 opened #319 "When to support python3.9？"
Excuse me   django-rest-framework-simplejwt  When to support python3.9?

[2020-10-15 20:06] Andrew-Chen-Wang commented on #319
Please read the pinned issue. Too many duplicates.

[2020-10-15 20:06] #319 closed

[2020-10-16 18:52] Andrew-Chen-Wang commented on #263
One more repository to go! Angular!

[2020-10-17 20:58] iMerica opened #320 "Release 953a6bf please"
Anyone who depends on this project cannot upgrade to 3.9 (without using alternate pip install methods) until that commit is released.

[2020-10-17 21:00] Andrew-Chen-Wang commented on #320
Duplicate of a pinned post...

[2020-10-17 21:00] #320 closed

[2020-10-17 21:02] iMerica commented on #320
I read the pinned post before creating this one. This issue was deliberately created about release management, not adding support for 3.9 in the abstract sense.

[2020-10-17 21:11] Andrew-Chen-Wang commented on #320
Sorry, owner is busy. I've also tried to assist in release management before, and the settlement is still doing everything from the owner and manually. I just help triage and merge certain features. Hope you understand.

[2020-10-17 21:12] iMerica commented on #320
No worries. Thank you 👍 .

[2020-10-18 11:46] ahmedosama5200 commented on #71
@Andrew-Chen-Wang

In case of single page applications, I have to use JWT.
Are you planning to release this feature any soon ?

[2020-10-18 13:50] Andrew-Chen-Wang commented on #71
@ahmedosama5200 , @davesque said he needed to take a thorough review of it, but his day job keeps him pretty busy. I can't say I have too much to know about SPA security, but we did set up template repositories for some frameworks to get you started with our best knowledge of how SimpleJWT should work in your monorepo:

#263 shows all the JS frameworks we have completed. All you need to do is clic

[2020-10-19 00:01] ahmedosama5200 commented on #71
@Andrew-Chen-Wang I took a look at the react template. It uses `localstorage` to store jwt tokens which is insecure. Any malicious script can read off `localstorage` values. The best place to store them is in httponly cookies.

I had a react SPA before. here is how I did it, in case someone needed it.

1=> the client sends authentication info (username & password or oauth2 token). On the server, a

[2020-10-19 02:17] Andrew-Chen-Wang commented on #71
@ahmedosama5200 A PR is definitely appreciated.

My initial thought after reviewing all these JS template frameworks was just to get something started. I didn't think a simple documentation was enough for most people to implement this safely. Thus, I wanted template repositories to make sure everyone had a safe and secure way of doing all this.

Unfortunately, if you look at the first conversation

[2020-10-21 01:33] Jrad84 commented on #266
Still seems to be an issue.

[2020-10-21 01:35] softzer0 commented on #266
Yes, can confirm that too.

[2020-10-21 22:07] loicgasser commented on #24
one way this could be solved is by removing the authentication from the serializer and let users configure what authentication backend they want to use to sign in.

[2020-10-25 17:17] AjibsBaba commented on #207
I'm interested in being a maintainer

[2020-10-26 01:39] lucabezerra opened #322 "Rename Blacklist app"
Firstly, sorry if this has been proposed/discussed already, I couldn't find anything about it. Would you consider renaming the Blacklist app, in line with the trend that many companies are setting to ban certain terms that, in a way or another, refer to racism, amongst other negative facts of History?

It could be named Blocklist and there wouldn't be much problem in getting used to it.

Some may

[2020-10-27 18:22] Andrew-Chen-Wang commented on #322
Hey @lucabezerra Marked as invalid since it's not code related, but the conversation is important to me. A few things before I give my response (it'll come this weekend, but I've got hw to do):

1. It's disrespectful to assume something of another person. If you eventually do try to push forward this mentality and face an adversary, giving them an improper mindset (i.e. one that does not come to a

[2020-10-27 18:34] Andrew-Chen-Wang commented on #303
I think there might be a problem with all the lines being messed up in the locale files.

[2020-10-27 19:15] lucabezerra commented on #322
@Andrew-Chen-Wang

Uh, I think you misunderstood me. When I said "if you're one of those people", I wasn't talking directly to anyone specifically. I'm talking to a hypothetical person that might bring up this argument. Therefore, I'm not being disrespectful nor assuming anything about anyone. If someone brings up this argument, I'm referring precisely to it, no assumptions there. If they don't, t

[2020-10-27 19:29] Andrew-Chen-Wang commented on #322
There was no argument there haha. I was just giving context to a **future** response of mine. No worries!

Yeah I was afraid I miscommunicated. I didn't take it personally; I was merely concerned *about you* taking the conversation elsewhere and *others* taking it personally. Especially in a polarizing time like this as many countries move conservatively both socially and economically, that would

[2020-10-27 20:03] #322 closed

[2020-10-27 20:04] Andrew-Chen-Wang commented on #322
Wrote an edit @lucabezerra

[2020-10-27 21:47] lucabezerra commented on #322
@Andrew-Chen-Wang

Honestly, it saddens me that this is the path you prefer to take. Not only because you decided not to change it, but because you're closing the issue, thus preventing other people from seeing and/or voicing their opinions about it. Admittedly this is not a code issue per se (although it involves code changes, ultimately), but there's also no other place for this discussion to ha

[2020-10-28 03:36] trentmurray commented on #71
@Andrew-Chen-Wang - I'm inclined to think you're right. With a little redirect trickery in Django, you can happily use session based authentication with an SPA with no problems.

From a dns point of view, you can structure:
api.app.com > django-app
sign-in.app.com > django-app
app.app.com > vue-app / react-app whatever frontend

When a user browses to app.* it checks to see if they have a valid se

[2020-10-28 13:17] johnthagen commented on #236
@davesque Another friendly ping to see if we can get a new version released on PyPI. Thank you!

[2020-10-28 19:58] bducraux commented on #315
Is This fixed?

[2020-10-31 04:34] maulikz commented on #42
your machine must be confused about which framework used pyjwt or djangorestframework-jwt so first uninstall pyjwt.

[2020-10-31 18:14] Andrew-Chen-Wang commented on #322
I'm sorry that your saddened; hope that "Cheers" made up for that mood. This is a long post, so be prepared. I also wrote this on short notice since I didn't want to leave you hanging as I'm going to be working a bit more this week; additionally, some points of warrant is not completely backed up by justification. I simply wrote them as discussion points for **us**. I also provided a bunch of coun

[2020-10-31 18:30] Andrew-Chen-Wang commented on #71
@trentmurray I think an issue with this strategy is localhost testing. I think in production, that should work (if you're setting the session cookie location to be `.domain.com`), but I worry about local debugging. Additionally, I wouldn't know how that'd do with unittesting with Django's Client class.

[2020-10-31 18:33] Andrew-Chen-Wang commented on #24
We currently do something with `import_module` from Django's utils, but that may be inefficient if we're not doing it module level (in case the user wants to do some dynamic authorization). This was done in #279

[2020-10-31 20:18] lucabezerra commented on #322
@Andrew-Chen-Wang

I appreciate the effort you put into writing this long text, but honestly, I think you're turning whatever problem this change could cause into something WAY bigger than it actually would be. I'm not even gonna go into the digressing part, because that would only lead into more digressing. There are only a couple of things I'd like to address:

1. _"[...] by changing something l

[2020-11-01 03:36] Andrew-Chen-Wang commented on #322
I appreciate you reading the post of me blabbering; I'll keep my replies short. To continue (which I don't want to since there's an obvious one-sided tension here), I brought up the happy Christmas issue to make a point that it's not just software that this kind of thing is happening in.

---

Just a little off topic, but can you provide evidence for this:

This is what I see from Wikipedia: https

[2020-11-03 01:52] robd003 opened #323 "Allow install on Python 3.9"
Currently pip will fail if using Python 3.9

Can you please issue a point release (4.4.1) so that Python 3.9 won't be blocked by pip / poetry / pipenv?

[2020-11-03 02:00] robd003 commented on #286
Releasing a minor version that will allow installation on Python 3.9 would be a big help https://github.com/SimpleJWT/django-rest-framework-simplejwt/issues/323

[2020-11-03 02:17] johnthagen commented on #323
I haven't tried it myself yet, but I'm surprised it won't install for 3.9. the requirement is currently 3.6+, right?

https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/f511e0aeabc24ec792c66f720f4a059ab1c4180c/setup.py#L60

Do you know why it won't install?

[2020-11-03 02:24] johnthagen commented on #323
Ah this is #313. We are waiting for a release.

[2020-11-03 11:03] barmettlerl opened #324 "Support for http Only Cookie for the refresh token"
It would be nice if we could configure this framework in order to store the refresh_token as a httpOnly Cookie in the browser. This would be more secure against XSS attacks.

[2020-11-03 11:40] PapiCZ opened #325 "jwt.encode returns bytes instead of str in 2.0.0a1"
Latest pre-release 2.0.0a1 brings change of function `jwt.encode`, that doesn't return str as in release 1.7.1, but bytes. Is it a bug or will it stay that way? If this isn't bug, then you should update your docs.

I am asking, because it breaks https://github.com/SimpleJWT/django-rest-framework-simplejwt and I need to know where the fix should be done.

Thanks.

[2020-11-03 11:40] #325 closed

[2020-11-03 11:41] PapiCZ commented on #325
wrong repo

[2020-11-03 19:13] aaronn commented on #236
This would be great to get onto pypi. Thank you!

[2020-11-03 19:23] aaronn opened #326 "AttributeError: 'str' object has no attribute 'decode'."
Hey– I'm trying to get this package integrated and I'm getting something odd here when a jwt is being created. Is anyone else running into this issue? I'm on 4.4.0

**AttributeError: 'str' object has no attribute 'decode'.**
[code]

[2020-11-03 19:55] rizumu commented on #323
You can work around it until then with `pip install --ignore-requires-python -r requirements.txt`

[2020-11-03 20:49] Andrew-Chen-Wang commented on #325
It's good. Seems like it's affecting this repo anyways

[2020-11-03 20:49] Andrew-Chen-Wang commented on #326
What version of jwt do you have? Ref: #325

[2020-11-03 20:51] Andrew-Chen-Wang commented on #324
Duplicate #71

There's discussion on why it's basically unnecessary to have a refresh token if you're doing this in the browser simply because you're really just making a stateful session and that's it.

[2020-11-03 20:51] #324 closed

[2020-11-03 20:51] Andrew-Chen-Wang commented on #286
@robd003 I'll email David again and see what's up. Additionally, it seems like PyJWT 2.0.0 may have made a breaking change that we'll need to fix beforehand ref #326

[2020-11-03 20:58] PapiCZ commented on #325
Yep... it's affecting this repo, but I wrote issue to PyJWT repo: https://github.com/jpadilla/pyjwt/issues/529

[2020-11-03 21:00] PapiCZ commented on #326
https://github.com/jpadilla/pyjwt/issues/529

[2020-11-03 21:17] aaronn commented on #326
Ah yes looks like I was on 2.0.0. I have downgraded to 1.7.1 for now.

[2020-11-04 16:11] Andrew-Chen-Wang commented on #326
We're working on the fix @aaronn lots of breaking changes happening lately, so I'll nudge David a bit for getting it out sooner. Sorry!

[2020-11-04 17:15] davesque commented on #323
Ahh, sorry guys.  Cutting a release right now.

[2020-11-04 17:29] davesque commented on #323
Alright, just cut 4.5.  Let me know if there are any issues.

[2020-11-04 17:29] #323 closed

[2020-11-04 18:17] Andrew-Chen-Wang commented on #286
Released!

[2020-11-04 18:17] #286 closed

[2020-11-04 18:17] Andrew-Chen-Wang commented on #313
Released!

[2020-11-04 18:18] Andrew-Chen-Wang commented on #326
#327 should come out in the next release (maybe a quick patch release).

[2020-11-04 18:19] Andrew-Chen-Wang commented on #236
Released! Thanks for being patient!

[2020-11-04 18:19] #236 closed

[2020-11-04 19:39] johnthagen commented on #323
Thanks @davesque!

[2020-11-04 20:52] the-papi commented on #326
Fixed by #329

[2020-11-06 05:33] amitkbiswas0 opened #330 "TokenRefreshView throws 403 Forbidden error upon adding IsAuthenticated to permission_classes attribute"
I'm trying to set an HTTP-only cookie on TokenRefreshView. I've extended the original TokenRefreshView class to add the logic to the post method. and it's working unless I change the permission class attribute to IsAuthenticated, now it's throwing a 403 forbidden error.

urls.py
[code]

views.py
[code]

settings.py
[code]

I am using this with dj-rest-auth package. afaik, they use simplejwt direct

[2020-11-06 20:40] Andrew-Chen-Wang commented on #330
You might have some look checking out #71's linked PR

[2020-11-07 08:30] amitkbiswas0 commented on #330
@Andrew-Chen-Wang Thanks for the link. It was a really good read regarding the issue of security in JWT. However, I didn't find this specific problem being mentioned there. I'm new to Django and JWT in general so am I missing something? Thanks.

[2020-11-07 13:57] Andrew-Chen-Wang commented on #330
That's my fault. The code is at #157

[2020-11-11 09:05] sshishov commented on #207
I also have experience in implementing JWT authentication on our internal web portal (microservices). It also used `access` + `refresh` tokens along with database where users were stored, nginx+lua where tokens were verified and Redis where we store vaild tokens for users. It eliminates need to cleanup the database and you can set TTL for the key regarding your lifetime of the token. Access tokens

[2020-11-11 15:03] Andrew-Chen-Wang commented on #207
Hi all, if you're interested in becoming a maintainer, please email David. (It's in the GitHub organization repo). David doesn't look at this entire repository; he'll only look at his email.

[2020-11-11 15:53] bnisevic commented on #207
We already did email David. And we got no reply.

[2020-11-13 02:02] Andrew-Chen-Wang commented on #207
@bnisevic Triage a bit first, perhaps?

[2020-11-13 12:38] softzer0 commented on #266
When this will be solved?

[2020-11-13 15:57] Andrew-Chen-Wang commented on #257
I just want to mention one more thing: https://code.djangoproject.com/ticket/23011

In this scenario, Bertrand suggested just grabbing the user ID from the session cookie to avoid constantly querying the database. But the security implication is simple: what if it's spoofed?

[2020-11-15 06:54] amitkbiswas0 commented on #330
Looked into the code and PR. Still unsure how changing permission_classes results in 403 :(

[2020-11-15 14:50] Andrew-Chen-Wang commented on #330
Hmm well I was hoping you just copied and pasted wrong, but you're in the wrong repository:

[code]

That's a different package.

[2020-11-15 15:17] amitkbiswas0 commented on #330
as dj_rest_auth uses simplejwt internally for JWT, I thought the issue might be related to simplejwt. The TokenRefreshView class they use for this purpose directly from simplejwt. Maybe I misunderstood. Sorry for the trouble. I'm closing the issue.

[2020-11-15 15:17] #330 closed

[2020-11-15 15:42] Andrew-Chen-Wang commented on #330
@amitkbiswas0 Not a prob. If you've got any further issues that might be pinned to this same problem, just ping me and reopen the issue.

[2020-11-15 19:43] sshishov commented on #28
Could you guys please explain to me why do you store `blacklisted` tokens instead of `whitelisted`?
In the beginning, I was thinking about the saved database call on token validation, but if we are validating against blacklisted tokens, it will be the same, even worse.
If you store only VALID tokens, then it is easy to revoke and you almost no need to clean anything, except of expired `refresh` to

[2020-11-15 20:04] Andrew-Chen-Wang commented on #28
I like that idea of whitelist. There are definitely pros and cons to each, and I think the time consumption on whitelisting is much less than a full scan for the blacklist table. (even with a bunch of bots spamming, it wouldn't make a difference).

HOWEVER, I think the biggest problem with whitelisting is the data storage requirement. If we're only blacklisting a certain few tokens, data is limite

[2020-11-16 14:21] sshishov commented on #28
Hello @Andrew-Chen-Wang .

If you are using database, then every access of protected API will do DB call which is not desired when we are using JWT tokens (as it is self contained).

Using REDIS, it is completely different story:
- If we store only valid `refresh` tokens, we should not fill up quickly
- Along with storing the token we can set TTL on the key (for instance `tokens:<user_id>:<token_i

[2020-11-16 15:46] greyhare commented on #28
The reason you want a blacklist instead of a whitelist is because it's a much shorter list, and tokens can be removed from the blacklist when they expire. So authentication is just "is the JWT itself valid, and not in the blacklist?" Which is a hash operation plus a lookup on a small tree.

Which gets back to one of the main reasons to use JWT is that you _don't_ need to maintain a database of val

[2020-11-17 15:21] mosi-kha opened #334 "Update CHANAGELOG.md"

[2020-11-23 12:05] cafca commented on #334
Being able to read a changelog helps tremendously when keeping dependencies of a project up to date. As of now, it is very difficult to understand the changes in this project from release to release. Please consider publishing an up to date changelog. Thanks!

[2020-11-23 21:51] Andrew-Chen-Wang commented on #334
@cafca I apologize. I have been busy lately. I'll look for some time to getting around the CHANGELOG soon. Additionally, since there were quite a bit of new features, I'm also in the need to update the docs as well.

If anyone wants to help out on those, be my guest. I won't be able to have time until December 20th.

[2020-11-24 17:05] cafca commented on #334
@Andrew-Chen-Wang I am sorry, I didn't want to put pressure on you. I realize maintaining open source software is demanding because many of us have day jobs as well :)

[2020-11-24 17:41] Andrew-Chen-Wang commented on #334
It's fine. I've been pressuring myself to do it as well, just couldn't find the time.

[2020-11-27 15:16] yanikkoval opened #337 "Conflict with drf_spectacular"
hi,

Any idea why I simple jwt Auth is acting strangely once I'm adding drf_spectacular package by updating DEFAULT_SCHEMA_CLASS?

[code]

<img width="1120" alt="Screenshot 2020-11-27 at 17 03 00" src="https://user-images.githubusercontent.com/3940227/100462990-d4b81a80-30d3-11eb-8fd1-077c23c1ad9e.png">

<img width="1128" alt="Screenshot 2020-11-27 at 17 02 19" src="https://user-images.githubuserc

[2020-11-28 16:33] Andrew-Chen-Wang commented on #337
This might have to do with a very old problem that should be fixed in the master branch. Can you try pip installing the master branch to check if it works?

[2020-11-28 16:39] #337 closed

[2020-12-01 16:06] leogout commented on #71
Hi, I have been reading through the whole issue without being able to answer this question :
**Is it possible to use an HttpOnly cookie to pass an access token to the backend with SimpleJWT ?**
Not a refresh token, as it seems to be the issue here, but an access token.

I do not blame anyone, the answer is certainly here, but I am not able find it.

[2020-12-01 22:20] Andrew-Chen-Wang commented on #71
@leogout I think I've come to the conclusion of what people want: currently Django's session middleware is implementing stateful sessions. What people want here is stateless sessions, meaning it's backed by nothing. For both, we encrypt. But the statefulness of sessions middleware is we back it by a cache/database.

If we want stateless sessions, then the only move to do is have a single token. No

[2020-12-01 22:45] leogout commented on #71
@Andrew-Chen-Wang My thought exactly. I just went with a simple LocalStorage solution.
It would be equally annoying to allow credentials through CORS and joining token info to the cookie for a JWT and for a stateful session, except stateful cookie based session is safer and lasts longer than a JWT, in session or not.

[2020-12-01 23:02] Andrew-Chen-Wang commented on #71
Hm, local storage is still not safe. Lemme elaborate throughout my learning process here:

To me, stateless authentication is still not safe in the hands of the developers since we're all so bad at following rules and standards and protocols etc. Luckily, the default in this repository is the secret key for your Django application, but if you use a weak algorithm, then you secret key can be leaked

[2020-12-03 09:09] jsdnhk opened #338 "Support the integration with LDAP in django app"
Thanks that the back-end module works well with Django user model stored at app's DB.
Is this okay to integrate with LDAP to make token generated and stored as LDAP user id in DB?
If so, may advice the way to implement that out? thanks a lot.

[2020-12-03 14:28] Andrew-Chen-Wang commented on #338
I'm not sure what LDAP is, but does Django even server on the correct binding port? I think this is a little too custom for us to get our hands on, sorry.

[2020-12-03 14:28] #338 closed

[2020-12-06 06:19] RizeXor commented on #71
I'm really confused. Should I use session or jwt for react app?
Also i might make a mobile app in the future, so what should i use then?

[2020-12-06 09:16] motaz-hejaze commented on #71
Sure jwt

On Sun, 6 Dec 2020, 8:20 am RizeXor, <notifications@github.com> wrote:

[2020-12-06 15:20] Andrew-Chen-Wang commented on #71
@RizeXor You should use JWT for mobile apps for security reasons (not secure connections, no csrf token, etc.). You don't have cookies to set in transit for mobile apps, so you use JWT.

When it comes to a ReactJS app, the current implementation method would be JWT. There's already a repository set up for you that you can download as a template so that you don't need to set it up yourself. Ref #26

[2020-12-08 13:57] frostsmaker opened #340 "Cannot found module named cryptography"
I had done pip install cryptography,.. and it is installed but this keep showing up.
ImportError: Could not import 'rest_framework_simplejwt.authentication.JWTAuthentication' for API setting 'DEFAULT_AUTHENTICATION_CLASSES'. ModuleNotFoundError: No module named 'cryptography'.

[2020-12-08 14:21] #340 closed

[2020-12-12 02:42] Andrew-Chen-Wang commented on #334
Reminder for myself: I'm going to enable GitHub Discussions soon (you can too in your public repos!), update the changelog, merge #339 and #239 and maybe close #241, and hopefully begin in GH discussions on getting JWT to work as an authorization mechanism or at least push it out as an experimental feature that requires CVEs to please be put forth for any severe vulnerabilities.

Merry Kwanakuh Ho

[2020-12-14 11:30] jotapalas opened #341 "Passwords get trimmed before validating"
Hi,

I've got some problems with password field validation lately. One of my users got a blank space at the end of his password, thus provoking getting 401 everytime he tried to login.

I managed to override the password field like this:

[code]

Shouldn't the password field have `trim_whitespace` set to `True` by default?

Thanks in advance,
Juan

[2020-12-14 20:10] sibe7691 commented on #266
This is my highly questionable solution until now:
I have the following in my User ModelAdmin

[code]

[2020-12-15 06:32] Andrew-Chen-Wang commented on #341
You might have a different error on your hands since a 401 only happens for [InvalidToken](https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/a0c75415cdcc39cce19a09c6acec54f298076704/rest_framework_simplejwt/authentication.py#L99) exception (i.e. happens if the token was tampered or if the user ID is not stored inside). It could have something to do with your other DRF authenticatio

[2020-12-15 06:57] Andrew-Chen-Wang commented on #263
@dgmouris If you were curious, I've re publicized mobile-auth-example if you'd like to take a look 😄

[2020-12-15 20:49] DamianKuich commented on #124
@errrken Hi. I have the same problem. I'm using DRF and simplejwt. When I get lockout I can't get template to work. Have you found the solution maybe ? cheers

[2020-12-15 23:21] Andrew-Chen-Wang commented on #124
Like what OP said, you'll need to override the serializer. Go to
django-axes, find their middleware, and see what attributes they're setting
on the request object using the AxesProxy. Then in your inherited
serializer, check for that attribute. You should be able to use the new
auth rule (sorry it's not documented. Search it up in the PRs) to allow
authorization to continue which should then prope

[2020-12-17 05:21] Jrad84 commented on #266
My solution was to add an "is_active" property to my user model, so users aren't deleted, rather they can be marked as inactive.

[2020-12-17 13:15] Andrew-Chen-Wang commented on #266
Sorry, these should be quick emails; finished with exams. I should get an answer within this week.

[2020-12-22 06:32] Andrew-Chen-Wang commented on #334
Closing as I've updated the changelog and docs in #344

[2020-12-22 06:32] #334 closed

[2020-12-22 06:34] Andrew-Chen-Wang commented on #326
Closed in release 4.6.0

[2020-12-22 06:34] #326 closed

[2020-12-22 06:34] Andrew-Chen-Wang commented on #303
Marking as stale. This should be fixed with #343.

[2020-12-22 06:34] #303 closed

[2020-12-22 06:35] Andrew-Chen-Wang commented on #257
Closing as not only stale but potentially dangerous.

[2020-12-22 06:35] #257 closed

[2020-12-22 16:38] shredding commented on #326
Still having it on 4.6.0

[2020-12-22 16:39] DannyLee12 commented on #326
4.6.0 Didn't fix all of my issues, but pinning jwt to 1.7.1 did.

FWIW:

requirements.txt
[code]

[2020-12-22 16:44] shredding commented on #326
I had a single import of `jwt` in my code and it used jwt.encode, and broke since it used the one pinned to simplejwt, so i had to update that as well.

[2020-12-22 16:45] Andrew-Chen-Wang commented on #326
@DannyLee12 If you upgraded to 4.6.0 and used PyJWT 2.0, what was your traceback?

[2020-12-22 17:02] argerick commented on #326
Downgraded manually from `PyJWT==2.0.0` to `PyJWT==1.7.1` and solved our problem

[code]
We are using `djangorestframework==3.12.1` and `djangorestframework-simplejwt==4.4.0` on our `requirements.txt` and that  gave us automatically the `2.0.0` version dependency.

[2020-12-22 17:34] salazarfelipe opened #346 "Possible bug: 'str' object has no attribute 'decode' after PyJWT upgrade from 2.0.0a1 to 2.0.0"
Recently the PyJWT package has been updated and is throwing this error when generating a token.

PyJWT latest version:  https://github.com/jpadilla/pyjwt/releases/tag/2.0.0

The exception is raised in:
`rest_framework_simplejwt/backends.py in encode at line 43`

just in `return token.decode('utf-8')` line

I have solved it by explicitly putting the PyJWT package in my requirements.txt file, just b

[2020-12-22 17:56] Andrew-Chen-Wang commented on #346
Did you upgrade to 4.6.0? I doubt the exception is raised on a block comment.

[2020-12-22 17:59] Andrew-Chen-Wang commented on #326
That's your problem. You need to upgrade to 4.6.0 for simplejwt @argerick . That way, you can use PyJWT 2.0.0.

---
Sorry I can't merge the changelog. Need to have some someone else review my PR before merging. It should be reflected in #344

[2020-12-22 18:03] Andrew-Chen-Wang commented on #346
Ok still marking this as duplicate, but I can see there is a larger issue...

[2020-12-22 18:05] Andrew-Chen-Wang commented on #326
Alright apologies. I don't understand what changed in PyJWT 2.0.0a1 to 2.0.0, but apparently it broke stuff... again (as noted in master branch). So reopening a different issue (it's a duplicate) to mark for historical purposes.

[2020-12-22 18:06] Andrew-Chen-Wang commented on #346
Ok for historical purposes, this'll mark when SimpleJWT messed up again since PyJWT upgraded from 2.0.0a1 to 2.0.0. Somehow it's messing stuff up again.

[2020-12-22 18:17] NicholasWSmith commented on #346
I am getting a similar error on my django hosted application on Heroku, but on my local django server it works just fine.

Is it just a difference in package versions probably?

[2020-12-22 18:23] Andrew-Chen-Wang commented on #346
@NicholasWSmith Can you provide the versions of SimpleJWT and PyJWT on each machine? That'd be super helpful! The failing master branch tests came from the upgrade from alpha to mature 2.0.0 PyJWT.

[2020-12-22 18:29] NicholasWSmith commented on #346
Definitely! From my `pip freeze` they appear to be identical.

*Local*
PyJWT==2.0.0a2
djangorestframework-simplejwt==4.4.0

*Heroku*
PyJWT==2.0.0a2
djangorestframework-simplejwt==4.4.0

You recommended 4.6.0 in your previous comment, but I think the latest version is 4.4.0

[2020-12-22 18:42] Andrew-Chen-Wang commented on #346
@NicholasWSmith I wonder if you're on Python 3.6...? David mandated that your Python version be 3.7 and above for this to work (kinda sucks, but it's to force people to upgrade).

If you're on 3.7 and above, you should probably update a requirements.txt file to reflect the 4.6.0 if you're doing recursive installation from a file. I find it kinda strange that it can't find 4.6.0.

[2020-12-22 18:42] NicholasWSmith commented on #346
@Andrew-Chen-Wang  That is exactly what it is, I should have noticed, and thats the main difference between my local and heroku. My local is on python 3.8.3, while my heroku is on 3.6.

Thanks!

[2020-12-22 18:44] Andrew-Chen-Wang commented on #346
I've just used PyJWT 2.0.0 and SimpleJWT 4.6.0 on Python 3.8 (4.6.0 only allows Python 3.7+). Can't reproduce this error. Please note that the fix came in SimpleJWT 4.6.0 which only allows Python 3.7+, so please take note of that.

Besides that, I've only got some master branch fixes to work on to support PyJWT 2.0.0 (alpha versions like 2.0.0a1 and 2.0.0a2 are supported). But this issue has alrea

[2020-12-22 18:44] #346 closed

[2020-12-22 18:49] Andrew-Chen-Wang opened #347 "PyJWT2.0.0a2 supported; 2.0.0 not supported"
Master branch is failing because of what the title says. This issue is going to track it as well as being pinned to make sure people see this before creating an issue. But to reiterate:

Version 4.6.0 (Python 3.7+) supports PyJWT 2.0.0a1, 2.0.0a2, 1.7.1. SimpleJWT does not support PyJWT 2.0.0 as of yet. Please don't create new issues unless this issue is not affecting you.

---

If you're using Py

[2020-12-22 22:10] shawinder commented on #346
@Andrew-Chen-Wang Here is our requirements.txt that was throwing the error:

[code]
I was able to resolve after adding `PyJWT==1.7.1` after `djangorestframework-simplejwt==4.4`. Thanks to @salazarfelipe

Let me know if you need any other details?

[2020-12-22 22:43] Andrew-Chen-Wang commented on #346
@shawinder Please update SimpleJWT to 4.6.0. 4.4.0 does NOT support PyJWT 2.0.0a1, 2.0.0a2, and 2.0.0.

[2020-12-23 07:28] manickbhan commented on #326
Happening to us too. Going to try updating requirements to...

[code]

[2020-12-23 07:44] manickbhan commented on #326
Contributors -- thanks for working on this library! Much needed part of DjangoRestFramework + Django (greatest framework of all time).

[2020-12-23 08:05] shredding commented on #326
Yeah, it fucked up a lot of things for us in a very bad timing; but that's not at all affect any of my appreciation for your work. It's a great library and I ❤️ your work.

[2020-12-23 10:04] manickbhan commented on #326
Long live open source software.

[2020-12-23 16:02] AlexDobrushskiy commented on #347
Here is a PR for this one: https://github.com/SimpleJWT/django-rest-framework-simplejwt/pull/348
It does not resolves the problem of supporting PyJWT 2.0.0, however it resolves the problem of broken applications who use `django-rest-framework-simplejwt`

[2020-12-23 18:08] shawinder commented on #346
Sounds good. I am not sure why pip look for PyJWT 2.0.0 when my SimpleJWT version is 4.4.0. Is there a recommended way to to set SimpleJWT version that only compatible dependencies will be installed?

[2020-12-23 18:49] Andrew-Chen-Wang commented on #347
@AlexDobrushskiy Thanks for the update. I'd like to update SimpleJWT to 4.7.0 rather than getting a patch out since David's not really active when it comes to maintenance. Will keep it in mind though as I'm patching everything up.

[2020-12-23 18:51] Andrew-Chen-Wang commented on #346
There is and a PR was made for it at #348, but David's not really active when it comes to maintenance here, so I'm working out a plan to get a patch version out to merge #348 if need be or just increase the minor version when I get the time to upgrade everything to be compatible with PyJWT 2.0.0.

For now, I think my game plan is to get a minor version by 26 December.

[2020-12-24 05:26] devbansi commented on #346
I am using djanago 2.2.16 with python 3.6.12
I faced same issue.
By using djangorestframework-simplejwt==4.4.0 and PyJWT==1.7.1 it works.

**djangorestframework-simplejwt==4.4.0
PyJWT==1.7.1**

[2020-12-24 05:29] Andrew-Chen-Wang commented on #346
Closing in favor of #347. Locking because people are saying the exact same thing with the issue being resolved already.

[2020-12-24 05:31] Andrew-Chen-Wang commented on #326
Closing in favor of #347. Locking because people are saying the exact same thing in #346 with the issue being resolved already.

Sorry about not being able to immediately upgrade to PyJWT 2.0.0 and being stuck on 2.0.0a1 and 2.0.0a2. I've got the time now that school's done, so sit tight folks!

[2020-12-24 12:46] mhoonjeon commented on #205
@jvhellemondt Please do, if you've got spare time 👍

[2020-12-24 14:43] Andrew-Chen-Wang commented on #346
Please note: PyJWT 2.0.0 is supported by SimpleJWT 4.6.0. The master branch tests failed because of certain changes in `PyJWT.decode` (they started copying the payload first then modifying the copied version), but 4.6.0 is not effected by this change. You should be able to upgrade without a problem.

[2020-12-24 14:59] Andrew-Chen-Wang commented on #347
Ref #349 Unless you wrote verify=False, you aren't effected.

Please note: PyJWT 2.0.0 is supported by SimpleJWT 4.6.0. The master branch tests failed because of certain changes in `PyJWT.decode` (they started copying the payload first then modifying the copied version), but 4.6.0 is not effected by this change. You should be able to upgrade without a problem.

[2020-12-24 14:59] Andrew-Chen-Wang commented on #326
Ref #349 Unless you wrote verify=False, you aren't effected by this change. Simply upgrade to the already existing SimpleJWT 4.6.0 is good enough.

Please note: PyJWT 2.0.0 is supported by SimpleJWT 4.6.0. The master branch tests failed because of certain changes in PyJWT.decode (they started copying the payload first then modifying the copied version), but 4.6.0 is not effected by this change. Yo

[2020-12-24 15:00] #347 closed

[2020-12-26 14:05] mahdimmr opened #350 "AttributeError: 'str' object has no attribute 'decode' with new version of PyJWT==2.0.0"
issue on `djangorestframework-simplejwt==4.4.0` with latest `PyJWT=2.0.0`

`foo/venv/lib/python3.8/site-packages/rest_framework_simplejwt/backends.py", line 43, in encode
    return token.decode('utf-8')
AttributeError: 'str' object has no attribute 'decode'`

The latest version of PyJWT returns str object not bytes, therefore:
`token = jwt.encode(jwt_payload, self.signing_key, algorithm=self.algo

[2020-12-26 23:28] Andrew-Chen-Wang commented on #350
This issue has the same title as two other issues. Please search before creating a new issue.

[2020-12-26 23:28] #350 closed

[2020-12-27 08:18] RizeXor commented on #266
I have a customer user model. I still cant delete token and the user

[2020-12-27 20:13] GeoffMahugu opened #351 "AttributeError: 'str' object has no attribute 'decode'"
I'm getting an attribute error when attempting to log in using **django-rest-framework-simplejwt**:

**Line:** /python3.6/site-packages/django/core/handlers/exception.py, line 47, in inner

**exc:** AttributeError("'str' object has no attribute 'decode'",)

**request:**

` curl \
  -X POST \
  -H "Content-Type: application/json" \
  -d '{"username": "admin", "password": "Password123!"}' \
  http:/

[2020-12-27 20:17] GeoffMahugu commented on #351
![Screencast-27-12-2020-100357](https://user-images.githubusercontent.com/17265995/103179111-ae83c700-4899-11eb-9379-60931cbee6e2.gif)

[2020-12-27 23:13] Andrew-Chen-Wang commented on #351
Duplicate

[2020-12-27 23:13] #351 closed

[2020-12-27 23:22] GeoffMahugu commented on #351
I see the issue has been resolved on version 4.6.0 but having difficulty installing it (latest resolving to version 4.4.0)

![Screenshot from 2020-12-28 02-17-16](https://user-images.githubusercontent.com/17265995/103181568-6e314280-48b3-11eb-92aa-c9dbf07ee624.jpg)

[2020-12-27 23:23] Andrew-Chen-Wang commented on #351
You need to upgrade to Python 3.7+

[2020-12-27 23:23] Andrew-Chen-Wang commented on #351
Sorry for the inconvenience, the release notes should be merged soon.

[2020-12-28 15:08] BharathBK opened #352 "unable to install djangorestframework-simplejwt==4.6.0 in python 3.6.9"
Hey - I am trying to install the latest version of `djangorestframework-simplejwt`. I am getting the following error:

[code]

I am using `python 3.6.9`.

[2020-12-28 15:09] Andrew-Chen-Wang commented on #352
python 3.7 is required sorry

[2020-12-28 15:09] #352 closed

[2020-12-30 06:24] mhoonjeon commented on #205
@Andrew-Chen-Wang Hi Andrew.

I've implemented drfpasswordless integration with the simplejwt library for our app.
Basically we authenticate the user using with drfpasswordless logic, but return jwt token pair as a response.

Would it be okay if I try writing the 3rd party integration part in the docs - may be a PR?

[2020-12-30 08:15] ignat14 opened #353 "Wrong version number in the __init__.py file"
Hi,
The version in the \_\_init__.py file is set to 3.3 and is not updated.
If it's not needed it might be better to remove it to not cause confusion.

Thanks

[2020-12-30 12:21] uoxiu opened #354 "Problem with old versions after the new major release of PyJWT"
**Intro:**
Today I had a big accident, after a usual deploy my new built docker container didn't work on the production, it was my mistake because I didn't freeze all package versions in requirements.txt, but

**The problem:**
All versions of SimpleJWT don't have strict install_requires in setup.py, which means that when you want to install this package, pip will download the last version of depen

[2020-12-30 15:47] Andrew-Chen-Wang commented on #205
If it's decently sized, it's OK to put it in the docs. In the docs, create a new file called third_party.rst. In index.rst, add that file. Using other files as a format, write down how you'd integrate this with SimpleJWT. You can kinda model it after Django Axes' documentation.

Just open a PR, and I'll take a look (we can make edits over there)! @mhoonjeon

[2020-12-30 15:56] Andrew-Chen-Wang commented on #354
@uoxiu Thanks for the suggestion! At first, I found it strange that SimpleJWT didn't upgrade with PyJWT (hence 4 duplicate issues), then realized PyJWT was installed along with SimpleJWT.

Luckily for us, we did actually update SimpleJWT to 4.6.0 (the solution to the problem) before PyJWT was upgraded from alpha 2.0.0 to mature 2.0.0 (once it gets to mature 2.0.0, that's when people's default pip

[2020-12-30 15:56] #354 closed

[2020-12-31 14:23] ghinbot24coder commented on #266
Hello,

Is this already fixed? I still have the same issue.

[2020-12-31 23:18] adriangzz commented on #266
A quick fix can be obtained by going to your environment packages and navigating to `rest_framework_simplejwt/token_blacklist/admin.py` and setting `def has_delete_permission(self, *args, **kwargs):
        return False` to True

[2020-12-31 23:32] Andrew-Chen-Wang commented on #266
I can recommend what @adriangzz commented, but instead of doing it in your virtual environment, I'd recommend using this resource: https://stackoverflow.com/a/9322007

Essentially, deregister our class, inherit the class for your custom code, then register it with the admin.

[2021-01-04 05:36] jvhellemondt commented on #205
Late reply here -- holiday season. I'm no longer working with drf, so I kinda lost the implementation.

I see that you have implemented it with the same logic as I had. This seems resolved :+1:

[2021-01-04 05:36] #205 closed

[2021-01-10 15:28] manjurulhoque commented on #146
@jayps +1, a good solution!

[2021-01-12 07:29] zhangxu3486432 opened #356 "how get request.user in middleware, it show AnonymousUser always"
May be I should ask that where request.user=Auth...

[2021-01-12 15:47] Andrew-Chen-Wang commented on #356
Are you logging in properly? Test with the DRF UI to see if you can access a view that has permission class to only allow logged in users.

[2021-01-14 09:21] Kaspary commented on #154
Have a security error in this solution. With `verify=False` on `SlidingToken`, the signature validate is don't verified, an is possible change the payload. Is possible make a test of this on debbuger of https://jwt.io/, changing the payload, with wrong key, and submit to refresh.

[2021-01-14 15:27] Andrew-Chen-Wang commented on #154
@Kaspary You're probably using PyJWT 2.0.0. Ref #349 Once it's merged, it should solve your problem. Until then, downgrade to PyJWT 1.7.1. Sorry for the inconvenience!

[2021-01-15 05:41] Andrew-Chen-Wang commented on #263
Hi @dgmouris @loicgasser I'm creating a tutorial called [SPA-with-sessions](https://github.com/Andrew-Chen-Wang/SPA-with-sessions); it's not done, and some steps aren't even correct, but I'm slowly finishing it after a couple hours. Basically, I want to close down these template repositories and make sure all SPA developers using a non-JS backend can still use session authorization. However, I'd l

[2021-01-15 06:49] yash0307jain opened #359 "how to change the database table used by simplejwt to authenticate user for generating token instead of using auth_user table?"
I couldn't find the configuration to use some specific table to generate the token instead of auth_user table

[2021-01-15 07:14] Andrew-Chen-Wang commented on #359
I don't think SimpleJWT offers any user model that isn't specified with `settings.AUTH_USER_MODEL` since we **need** to use the `django.contrib.auth` module. Did you set the `AUTH_USER_MODEL` and are you still using django.contrib.auth?

[2021-01-15 08:15] yumumu commented on #356
[code]
Try code above, if you subclass JWTAuthentication, replace JWTAuthentication with your subclass authentication Class.

[2021-01-15 08:32] Andrew-Chen-Wang opened #360 "Thoughts on SPAs using Session Cookies instead of JWT? It's implemented..."
Recently, I've just implemented stateful authorization with React here: https://github.com/Andrew-Chen-Wang/SPA-with-sessions. You can find the demo at https://acwpython.pythonanywhere.com/ and you can find the cookies when you visit https://acwpython.pythonanywhere.com/authenticated/

I'd like to get some feedback on the tutorial, thoughts on using session cookies instead, and the general methodo

[2021-01-15 08:47] zhangxu3486432 commented on #356
I want to use the authentication by simplejwt directly, not do it again.

But simplejwt to do authentication after the middleware?

I'm not sure.

[2021-01-15 15:30] auvipy commented on #207
as a co-maintainer of pyJWT, I would love to be a maintainer of this project.

[2021-01-15 16:58] Andrew-Chen-Wang commented on #356
@zhangxu3486432 What middleware? We include a middleware? You need to paste your settings configuration for SimpleJWT because otherwise I can't understand what's happening. Please also provide steps so that I can also reproduce the error.

[2021-01-16 16:51] loicgasser commented on #263
Hey thank you for this effort. I 'll analyze what your propose in the repository. In general building  any JS is slow.

[2021-01-16 17:46] Andrew-Chen-Wang commented on #263
Ok thanks. I think proposal [\#3](https://github.com/Andrew-Chen-Wang/SPA-with-httponly-sessions) addressing still using JWTs during local development might be necessary.

[2021-01-16 19:06] stunaz commented on #263
@Andrew-Chen-Wang I just saw your repo spa-with-sessions.... just to be clear... it's just a django application with embedded react spa. so it doesnt have to anything with jwt nor django-rest-framework-simplejwt....  . I think most people considered this approach, there is even this lib https://github.com/owais/django-webpack-loader which help with that (not react specific). the main reason most u

[2021-01-16 21:54] Andrew-Chen-Wang commented on #263
@stunaz I made this repository not as a coding "introduction" but more of a **business problem** (sorry that's just my mindset). All the tutorials online teach you to use JWT, and that's why I see all these developers using. When I search up Django and React integration on Google, I always see Medium or dev.to articles using SimpleJWT. (Funny enough, Ruby on Rails seem to be A-OK; first few tutori

[2021-01-17 00:07] stunaz commented on #263
Ok, I got you. I wasn't sure if missed something.

[2021-01-18 03:57] yumumu commented on #356
There is a case that we want to get user info in our custom middleware, but `django-rest-framework-simplejwt` assign user to request after the middleware methods was executed.  Thus,  JWTAuthentication().authenticate(request) will execute twice.

[2021-01-18 07:14] zhangxu3486432 commented on #356
yeah, I want to get user info in our custom middleware.

[2021-01-19 14:31] LoranKloeze commented on #71
Another workaround for now, add this to urls before urlpatterns = [...]. Using this, TokenRefreshView.as_view() expects a cookie in the request named 'refresh_token'.

[code]

[2021-01-19 15:43] LoranKloeze commented on #71
To implement this for now as a **workaround,** you can do the following.

Add this to views.py:
[code]

Change the urls in url.py to use those views for token obtaining and refreshing:
[code]

**Workflow - obtain token pair using credentials**

1. POST /auth/token with valid credentials
2. In the response body you'll notice that only the 'access' key is set
3. The 'refresh' key has been moved to t

[2021-01-19 15:54] Andrew-Chen-Wang commented on #71
Please ref #360 and a specific comment made by stunaz ;)

[2021-01-21 13:15] anoited007 opened #362 "How do I get the appropriate error for inactive users when requesting for token"
I am currently DRF-SimpleJWT with Djoser and I want my API endpoint for token creation to return the error that a user is not activated instead of the generic error that "No active account found with the given credentials" which is also returned when the username and password combination is incorrect.

Ideally, I want to get the message that the user is not activated and get the above message when

[2021-01-21 17:31] Andrew-Chen-Wang commented on #362
Hi, please open a PR. SimpleJWT is not extensible friendly; it's more for you to inherit the classes and such.

[2021-01-24 00:56] anoited007 commented on #362
@Andrew-Chen-Wang Can you point me in the right direction? I am fairly new to SimpleJWT

[2021-01-24 03:50] Andrew-Chen-Wang commented on #362
Well you can monkey patch the exceptions to only show a message you want to show. Or you could subclass the authentication class or serializers and override the specific error that's raising these api errors. If you're subclassing the serializers, you'll need to create some new views; model it after this package's views.py.

[2021-01-25 10:07] StitiFatah opened #363 "OustandingToken only created when refresh token is used to get a new key pair and not at creation ? Bug ?"
from the doc :

I'm working with  'ROTATE_REFRESH_TOKENS': True and  'BLACKLIST_AFTER_ROTATION': True

When asking for a token pair through TokenObtainPairView it indeed directly create an OutstandingToken referencing the given refresh_token but when asking for a new pair via TokenRefreshView no  OutstandingToken referencing the new given refresh token is created but instead it creates an Outstand

[2021-01-25 12:42] fearsd opened #364 "OutstandingToken and BlacklistedToken don't have 'objects' attribute."
I wanted delete user but I got error:
```psycopg2.errors.ForeignKeyViolation: update or delete on table "accounts_useraccount" violates foreign key constraint "token_blacklist_outs_user_id_83bc629a_fk_accounts_" on table "token_blacklist_outstandingtoken"```

So, I tried to delete this outstanding token entries from db but it failed:
```AttributeError: type object 'OutstandingToken' has no attribu

[2021-01-25 14:37] deepanshu-nickelfox commented on #359
Then what if we have some another Model like Employee or Customer where we are managing email and password by our own??

[2021-01-25 14:44] deepanshu-nickelfox commented on #359
@yash0307jain Did you find any solution?

[2021-01-25 14:57] Andrew-Chen-Wang commented on #359
@yash0307jain @deepanshu-nickelfox SimpleJWT is not an extensible framework; it was decided awhile ago it's a solution and not really something to extend. What you could do is go to https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/c684e8396f8446cc289ed73a0740ca222c85470d/rest_framework_simplejwt/authentication.py#L28 (authentication.py) and change the designated model. You would a

[2021-01-25 15:06] deepanshu-nickelfox commented on #359
I got the solution the owner already has added this feature...

https://github.com/SimpleJWT/django-rest-framework-simplejwt/issues/96#issuecomment-475717541

[2021-01-25 15:31] deepanshu-nickelfox commented on #359
Also, @Andrew-Chen-Wang , do i need to reset my token model
as i have changed the model but nothing happened...

can you please tell me Why??

[2021-01-25 16:16] Andrew-Chen-Wang commented on #359
tl;dr Don't worry; that correct. You can make sure via `assert type(request.user) == Model` in your DRF view. TokenUser is not used for the default authentication class.

Probably not if you're referring to models.py. I believe TokenUser is only used for the other authentication type, but you're using the default which simply grabs the correct Django model.

Every time you authenticate and DRF cal

[2021-01-25 16:55] deepanshu-nickelfox commented on #359
Nope Nothing happend:

i am getting same error as **Field 'id' expected a number but got '377f9e30-9eea-4cf1-a0c3-7bd969184f25'.**

also, i have created a new db, but nothing happend.

[2021-01-25 16:58] Andrew-Chen-Wang commented on #359
1. Check your settings so that you're using the new authentication model instead of SimpleJWT's default
2. Did you follow what I said or what the comment said? Because if you followed the comment, then you did it wrong since you're not properly overriding user_model.
3. Are you using JWTAuthentication or the other one that subclasses JWTAuthentication? If it's the latter, then that's your problem

[2021-01-25 17:04] deepanshu-nickelfox commented on #359
what is i am doing is:

`from rest_framework_simplejwt.authentication import JWTAuthentication
from apps.user import models

class CustomJWTAuthentication(JWTAuthentication):
    user_class = models.User
`

also, i have override that settings

`  ),
    'DEFAULT_AUTHENTICATION_CLASSES': (
        'apps.common.authentication.CustomJWTAuthentication',
`

but i am not aware of your 3rd point sir

[2021-01-25 17:18] Andrew-Chen-Wang commented on #359
So like I said in Point 2, you didn't follow what I was saying. So you've overriden the class; now you need to override the `__init__` magic method and set `user_model` after calling super. Ref the permalink from the above comment.

[2021-01-25 18:53] deepanshu-nickelfox commented on #359
yeah man, i really tried

first by extending the :

[code]
i check user_class it is same as my model, but it still showing error......

after some time i found there is another user model in state.py
then another in some serializers it ask for username_field, then it looks for user.is_active, and chain goes on...........

any simple method to use our own model??

[2021-01-25 18:57] Andrew-Chen-Wang commented on #359
You could also just set your model with AUTH_USER_MODEL in your settings so you don't have to go through all this trouble. Regarding is_active, in the settings you can change the login rule option to your own custom rule.

So again, re-read what I wrote here: https://github.com/SimpleJWT/django-rest-framework-simplejwt/issues/359#issuecomment-766874032

[2021-01-25 19:00] deepanshu-nickelfox commented on #359
yeah i got it, i can't change my user model in middle of the project with some AUTH_USER_MODEL,

is there any other library, which i can use, see i am new to python and django so, i don't know about all these.

[2021-01-25 19:19] deepanshu-nickelfox commented on #359
btw Thank you so much Mr. @Andrew-Chen-Wang for your help, you are such a great person
:fire:

[2021-01-25 19:20] Andrew-Chen-Wang commented on #359
I see. This library isn't meant to be extensible. Would I'd do is just override lots of the classes to suit my needs. There should be some Django OAuth library that could probably help. I think it's run by Jazzband, and typically their packages are extensible.

[2021-01-25 19:21] deepanshu-nickelfox commented on #359
:+1:

[2021-01-28 03:36] Andrew-Chen-Wang commented on #359
Closing since this is the right answer:

[2021-01-28 03:36] #359 closed

[2021-01-28 12:26] cb360 commented on #246
i am using drf-yasg。
And some imperfections
thinks, Inspired me。

This is my ultimately correct：

[code]

url.py

[code]

[2021-01-29 09:34] laurent-brisbois opened #365 "Question : Is the repo well maintained and reactive ?"
Hello everyone,

I'm asking this simple question because I'm coming from `graphene-django` and `django-graphql-jwt` where the repos are..well..quite dead and they didn't follow `graphene-python` evolutions so bugs remained for months (real monthS).

So since I decided to switch to a more maintained and reliable API framework (DRF), I'd like to know if this one follows quite well `DRF` and `PyJWT`

[2021-01-31 11:29] #356 closed

[2021-01-31 12:15] amitkbiswas01 opened #366 "Setting permission_classes to IsAuthenticated results in 403 Forbidden error when extending TokenViewBase"
I am trying to add logout functionality by blacklisting refresh tokens. I have extended the TokenViewBase class to create a custom logout view. But adding `permission_classes = (IsAuthenticated,)` in the view results in 403 forbidden error with the following json response,
`{"detail":"You do not have permission to perform this action."}`

### views.py
[code]
### serializers.py
[code]

### settings

[2021-01-31 19:48] Andrew-Chen-Wang commented on #366
Take a look at one of the template JWT repositories.

On Sun, Jan 31, 2021 at 7:15 AM Amit Biswas <notifications@github.com>
wrote:

[2021-01-31 19:52] Andrew-Chen-Wang commented on #365
hey, I maintain simplejwt while the owner has release perms. Though I’m
planning on transferring my role pf merging to someone else as school gets
increasingly busy... er when that happens. For now, the repo is up to date
with PyJWT 2.0.1, so I wouldn’t worry too much about maintainership since
PyJWT doesn’t change often. We just don’t add TOO many new features too
quickly. They’ll come, tho.

Hop

[2021-02-01 03:18] amitkbiswas01 commented on #366
Thanks for mentioning the templates, really handy. But those are using viewsets, so all the views and urls are abstracted. For my case, I need to explicitly create the views for each endpoints, so I am trying to create the LogoutView. Would you mind looking into the snippets I added to check if I made any mistakes there? Viewsets are great, but shouldn't logout work in this way too?

[2021-02-01 06:07] deepanshu-nickelfox opened #367 "Can i user SimpleJwt from Rest for my GraphQl API?"
Hi,
i am already using API in RestFramework, and also in same project i have implemented the GraphQl and now i want to secure it with Simple JWT. **My question is, Is there any way to achive this?**

[2021-02-01 16:48] Andrew-Chen-Wang commented on #366
I see; I must have had some comments somewhere about a LogoutView being unnecessary. But basically, we didn't use it because if you're "logging out," a user is explicitly pressing a button. That means in your SPA, you can just delete the cookie. If the user just exits the browser, then that isn't a logout. They can just reopen the browser and still be logged in.

But regarding why you're getting t

[2021-02-01 17:07] deepanshu-nickelfox commented on #367
I am using "graphene" and i have already set SimpleJWT as default authentication,
but still the APIs are not secure.

any method or snipp that you can share, will be a great help!

[2021-02-01 17:47] Andrew-Chen-Wang commented on #367
From a couple of Google searches, it seems like graphene is separate from DRF, but a quick search shows: https://github.com/graphql-python/graphene/issues/249

Try using that view and see if that helps!

[2021-02-01 17:48] Andrew-Chen-Wang commented on #365
@laurent-brisbois Check this out to get you started on SimpleJWT with Graphene: https://github.com/graphql-python/graphene/issues/249

Hope that helps.

[2021-02-01 17:50] Andrew-Chen-Wang commented on #363
Really late sorry. Will come back to this on the weekend. Sit tight.

[2021-02-01 17:52] Andrew-Chen-Wang commented on #364
Sorry did you try deleting the user account table? And try doing `type(blah).objects` instead.

[2021-02-01 17:52] #365 closed

[2021-02-01 18:42] deepanshu-nickelfox commented on #367
Thanks i think it must be a great help ! :fire: fire: fire: :fire:

[2021-02-01 18:42] #367 closed

[2021-02-01 18:43] laurent-brisbois commented on #365
I do not want to use graphene and such anymore. These libraries appeared to be poorly maintainted.. That's why I switched to DRF and maybe DRF-simpleJWT soon :).

[2021-02-01 23:44] danialbagheri opened #368 "Different Error code should be shown when AuthenticationFailed on TokenObtainPairView."
I have noticed when user login credentials fails on TokenObtainPairView, it still returns the same 401 error which is same when the Token is invalid. I think this is to do how the exceptions are handled with ` serializer.is_valid(raise_exception=True)`. I have fixed this for my code but I thought this simple change could benefit others too, if you want I can fix it myself and commit. Here is my si

[2021-02-02 06:48] amitkbiswas01 commented on #366
I may have also read the issue in this repo where discussion about LogoutView took place , and I think its a valid argument. In our case, the frontend is a flutter app so handling token deletion would be a bit different. But thanks for clarifying the flow again.

For the permission_classes issue,  your pov is correct. But say if we didn't use httpOnly cookie and somehow someone got hold of the ref

[2021-02-02 16:41] Andrew-Chen-Wang commented on #366
You're correct in that this package currently doesn't support httpOnly cookie for SPAs. The biggest issue is that httpOnly flag, right? XSS is just something you'll have to mitigate as best as possible. When it comes to the actual blacklisting, take a look at:

https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/c684e8396f8446cc289ed73a0740ca222c85470d/rest_framework_simplejwt/tokens

[2021-02-03 01:54] namkim opened #369 "The setting of is_active=True is not controlled."
Hi.

I am using rest_framework_simplejwt.

There is one strange phenomenon, so I ask you a question.

`POST: use auth/users/` to create users

By default, only `is_active=0` is set.

[code]

Even if you modify the code yourself, `is_active=0` is always set.
How can I create `is_active=1` by default

[2021-02-03 02:41] namkim commented on #369
The cause was setting is_active=False here.
[code]

[2021-02-03 02:48] #369 closed

[2021-02-03 08:47] deepanshu-nickelfox commented on #154
one doubt, how do i create a sliding Token??

[2021-02-03 10:33] herchila opened #370 "Update CHANGELOG"
I have noticed that the last version documented on changelog is 4.4 and the last version released is 4.6.0.

[2021-02-03 15:06] Andrew-Chen-Wang commented on #370
Resolved in #344

[2021-02-03 15:06] #370 closed

[2021-02-03 15:07] Andrew-Chen-Wang commented on #154
Please don't use sliding tokens. They're confusing. (They came from migrating from drf-jwt). We may be deprecating is soon as migration from drf-jwt is much lower than before.

[2021-02-03 19:11] StitiFatah opened #371 "Why is there a database hit at every request ?"
Hi and thanks in advance,

I've successfully setup JWT authentication using django-rest-framework-simplejwt and React but I'm still very confused about the advantages and specifically database hits.
I'm using simplejwt with `ROTATE_REFRESH_TOKENS': True 'BLACKLIST_AFTER_ROTATION': True`, when my access_token expire I ask for a new one through /api/token/refresh and it blacklist old tokens, I'm usi

[2021-02-03 19:16] Andrew-Chen-Wang commented on #371
Use the experimental JWT authentication class in your settings file instead: `JWTTokenUserAuthentication`

As for why the database hits, stateless authentication does not mean don't check if the user is still active. Stateless just means we don't keep the session data on the server side. Stateful authorization is when we store the session data in a cache/database.

Even for session/stateful author

[2021-02-03 19:16] #371 closed

[2021-02-03 19:19] Andrew-Chen-Wang commented on #371
Oh hold on, let me also add the advantages and disadvantages that I missed in that previous comment.

[2021-02-03 19:21] StitiFatah commented on #371
Ok it's confusing because every article I read which compare classic Tokens vs JWT points out that it doesn't need to hit the databsed to confirm the user is logged in

[2021-02-03 19:23] Andrew-Chen-Wang commented on #371
@StitiFatah Edited that initial comment.

[2021-02-03 19:25] Andrew-Chen-Wang commented on #371
I'm assuming you're talking about how 99% of tutorials use this repository when it comes to SPA development. It's an extremely saturated market for tutorials, so I'm not surprised that probably 80% of those tutorials have never actually read the code before. Please only use this repository for local development, and follow that tutorial for production and deployment.

[2021-02-03 19:30] Andrew-Chen-Wang commented on #371
Sorry if this text sounds harsh. The topic of JWT with SPAs is something that keeps popping up that I vehemently dislike due to being a huge security vulnerability. If I sound mean/angry, truly sorry about the language!

[2021-02-03 19:32] StitiFatah commented on #371
Don't worry it didn't sound harsh at all

[2021-02-03 19:36] Andrew-Chen-Wang commented on #371
Hm, that's interesting. JWTs is not an authentication method. It's just a token, a format, something that can just be generated. How you use it is up to a package/library.

I used to have all the templates in an issue, but it too was trying to replace session authorization for SimpleJWT authorization (which is what you did). So I just restarted and created that aforementioned repository. I can't m

[2021-02-03 19:50] Andrew-Chen-Wang commented on #371
@StitiFatah  I've update the README in that repository to be a little more clear regarding directions.

[2021-02-03 19:51] StitiFatah commented on #371
I should stop reading random articles on the internet and take them to seriously before reading official docs then, i should have learned the lesson while ago

OK thanks for your help ! I might take the time to read https://github.com/Andrew-Chen-Wang/SPA-with-httponly-sessions .
If I understand well you advice to use SimpleJWT in development ( to take advantage of hot reloading )  and using the o

[2021-02-03 20:01] Andrew-Chen-Wang commented on #371
Yes, you are correct.

Originally, that repository was kinda like a copy of webpack loader, just much smaller. But the new README suggests you don't use web pack at all.

Unfortunately, I'm not much of a JS developer haha. But I actually don't quite understand this. But from your description, it sounds like what you did before was mostly correct? Sorry still don't know much about SPA development i

[2021-02-03 20:22] StitiFatah commented on #371
Yes it was fine with Vue. Thanks for your time and clarification anyway , I'll point out this issue in my topic on  r/django and will surely check your repo !

[2021-02-04 07:55] deepanshu-nickelfox commented on #154
ok thanks @Andrew-Chen-Wang

[2021-02-04 17:54] GBrachetta opened #372 "Cannot install with Pipenv"
I run into an error trying to install the plugin with pipenv:

[code]

(Sorry for the long error log, but perhaps it may help!).

I managed with pip but it fails on Pipenv which is what I prefer to use.

Am I doing something wrong here?

[2021-02-04 20:04] Tushar281997 commented on #42
make sure you have imported 'from rest_framework_simplejwt.authentication import JWTAuthentication' in your settings.py

[2021-02-04 20:51] bj00rn opened #373 "Question: Is keeping the entire tokens in blacklist app be considered safe?"
A question on security. Whats the motivation for keeping entire tokens in the blacklist apps outstanding/blacklisted token tables?

Wouldn't just keeping track of token jti's be enough?

If the database is somehow leaked an attacker would be able to use the outstanding tokens. If tokens are long-lived this could potentially be an even greater problem.

Or am I missing something?

Thanks for making

[2021-02-05 02:07] Andrew-Chen-Wang commented on #372
Try version 4.6.0. We probably don’t support Python 3.9 on version 4.4.

On Thu, Feb 4, 2021 at 12:54 PM Guillermo Brachetta <
notifications@github.com> wrote:

[2021-02-05 05:39] amitkbiswas01 commented on #366
Understood. Thanks for mentioning the repo and the SPA recommendation , I will look into it closely as SPAs are currently our choice as frontends. I am closing the issue now as I got answers. Thanks again for the help :)

[2021-02-05 05:39] #366 closed

[2021-02-05 07:59] GBrachetta commented on #372
Oh yeah. Didn't realize the latest was 4.6. The current changelog stops at 4.4.
Thank you!

[2021-02-05 15:06] alphacentauridigital commented on #368
Hey Danial,

Thanks for sharing the fix. Can you please let me know which file we need to modify for raising different error codes? I am trying to raise an error code when the user is inactive. Right now simple jwt gives a generic message "No active account found with the given credentials"

Thanks

[2021-02-05 19:58] Andrew-Chen-Wang commented on #372
Yea sorry about that. It's updated in #344

[2021-02-05 19:58] #372 closed

[2021-02-06 02:46] write2anitab commented on #363
I am also observing similar issue with the api/login/refresh not inserting the new generated refresh token to the outstanding list

The api/login correctly adds the generated token to the outstanding list
[code]

The api/login/refresh correctly  blacklists the refresh token , but does not add the generated refresh token to the outstanding list
[code]

django-rest-framework-simplejwt/rest_framework

[2021-02-08 17:26] deepanshu-nickelfox commented on #368
There must be Exception of `**Invalid Token**` whenever user trying with the wrong token or with the Expired token.

[2021-02-08 17:34] deepanshu-nickelfox commented on #368
the default Exception is very annoying it says
`sequence item 0: expected str instance, dict found`,

it is better, if it will return the Response or validation error for `invalid Token`

[2021-02-09 09:16] danialbagheri commented on #368
@alphacentauridigital If I'm not wrong, simple_jwt already checks if the user is active. There is a default function which you can override as this is added to simple_jwt after Django 1.10. the function need to return a True or False and you can check other things if you wish to override it:
[code]
If you wish to override it, you need to reference it in your settings under simple_jwt settings (bel

[2021-02-09 09:21] danialbagheri commented on #368
@deepanshu-nickelfox Yes, there is `**Invalid Token**` token exception, but In order to handle the error correctly for the user you need to show the relevant error. It could be scenarios where the user credentials are correct but the token is invalidated perhaps by blocking the users and etc and I think showing the relevant error is necessary. Perhaps we need show if the user is inActive too, rath

[2021-02-09 12:18] deepanshu-nickelfox commented on #368
how can i override and show `*Invalid Token*`, can you share me any code snippet?

[2021-02-09 22:27] danialbagheri commented on #368
@deepanshu-nickelfox Here is my solution for the issue I mentioned above.

[code]

Hope the above helps you.

[2021-02-10 07:41] alphacentauridigital commented on #368
Thanks, Danial,

I am using the default authentication class from simple JWT.

`'DEFAULT_AUTHENTICATION_CLASSES': [
        'rest_framework_simplejwt.authentication.JWTAuthentication',
    ]`

Still, I was getting the same error code. So I used your code and did checks on whether the user is not active.

`class MyTokenObtainPairView(TokenObtainPairView):
    serializer_class = MyTokenObtainPairSer

[2021-02-10 08:01] deepanshu-nickelfox commented on #368
Thank you so much Guys for your Help
@danialbagheri @alphacentauridigital

you guys are awesome :fire:

[2021-02-10 18:46] alphacentauridigital commented on #362
@anoited007 Check this [out](https://github.com/SimpleJWT/django-rest-framework-simplejwt/issues/368#issue-798799590) for inactive users

[2021-02-10 23:18] danialbagheri commented on #368
Dear @alphacentauridigital

Sorry I didn't understood your issue correctly last time. I just read your first message again and it seems that you want to change the error code not the message when the user is inactive, to do so you would have to make this change some another how. I think you will have to override the serializer rather than the view.before doing so you would have to also return `Tru

[2021-02-11 05:22] alphacentauridigital commented on #368
Hello Danial,

Yes. I wanted to override the error code for the Inactive user. So that frontend has better communication with the backend in case of inactive users trying to login. Thanks for the updated code.

[2021-02-13 02:17] anoited007 commented on #362
Thank you @alphacentauridigital

[2021-02-13 12:17] anoited007 commented on #368
@danialbagheri Is there any URL to override after adding the code for the view?

[2021-02-13 12:22] anoited007 commented on #362
I am closing this issue since it being handle by #368

[2021-02-13 12:22] #362 closed

[2021-02-13 13:25] alphacentauridigital commented on #368
@anoited007 Hello, You have to put the Danial's code in serializers.py and add the following lines inside urlpatterns array in urls.py

[code]

[2021-02-13 13:55] anoited007 commented on #368
Okay. I will give it a try. Thanks for the help @alphacentauridigital

[2021-02-13 22:20] anoited007 commented on #368
I managed to get it to work. Thanks, @danialbagheri and @alphacentauridigital for the help.
I will put everything in one so that in case someone needs to see the full picture.

[code]

[2021-02-15 09:41] Amr-Hash opened #374 "Question: Is it possible to allow non activated accounts to be logged in?"
I was trying to make it authenticate all users wither they were activated or not but couldn't find how to do it in the configuration.

[2021-02-15 13:59] Andrew-Chen-Wang commented on #374
Apologies it's not in the docs, but there is a feature from the new docs (that aren't merged yet):

[code]

---
Basically, in the settings, `USER_AUTHENTICATION_RULE` is a key in the SIMPLE_JWT settings and the value is a string; use a dotted path to a function that returns a bool. What's passed in is the user object.

[2021-02-15 13:59] #374 closed

[2021-02-17 23:41] Amr-Hash commented on #374
Thank you @Andrew-Chen-Wang this was really helpful.

[2021-02-19 22:52] mehdithreem commented on #71
I think you should override `CookieTokenRefreshView`'s serializer with `CookieTokenRefreshSerializer`.

[2021-03-02 01:42] BishnuHari11 commented on #207
ERROR: Could not find a version that satisfies the requirement djangorestframeork.simplejwt

[2021-03-04 17:31] pradnyalgandhi commented on #315
Which python version does djangorestframework-simplejwt support currently ?

[2021-03-04 17:47] Andrew-Chen-Wang commented on #315
Use 4.6.0 and you'll have no problem

[2021-03-09 22:18] humbertolopezleon opened #380 "What version is available for python 3.6.9?"
I am trying to incorporate this package into a REST API developed in Python 3.6.9. What version should I use?

When installing the package without specifying the version I get the following:
djangorestframework-simplejwt-4.4.0
pyjwt-2.0.1

but it fails to request the token.

Internal Server Error: /api/token/
Traceback (most recent call last):
  File "/home/humberto/.virtualenvs/Versat-ERP/lib/pyt

[2021-03-09 23:36] ErnestoFGonzalez commented on #380
For Python 3.6 the last version available is 4.4.0. You can check the [Changelog](https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/master/CHANGELOG.md).
The error `'str' object has no attribute 'decode'` is common in version 4.4.0. I recommend you upgrade to Python 3.7 so you can use version 4.6.0

[2021-03-10 15:22] humbertolopezleon commented on #380
Thanks for the reply. At the moment I cannot migrate to python 3.7. I am using in Python 3.6 **djangorestframework-simplejwt == 4.4.0** with **PyJWT == 1.7.1** and it works fine. As soon as I can migrate to the newer versions of python I will update to version **4.6.0** of djangorestframework-simplejwt. Regards

[2021-03-10 19:15] brhelwig commented on #373
My $0.02 worth is this.

If you are practicing defense in depth, storing the token is not great. Its one potential avenue for them being exposed by a direct DB breach. I would also like to see it dropped as I'm not sure what the use case is for the blacklist app.

The other would be for your signing key to be compromised which would allow you to generated new tokens anyway.

In either case you wou

[2021-03-10 19:20] Andrew-Chen-Wang commented on #380
There hasn't been too much change regarding dependencies in SimpleJWT + PyJWT upgrades. It's ok to stay on Python 3.6, but I'd imagine you would want to upgrade to Python 3.8.7 at this point to stay up to date with Python itself.

[2021-03-10 19:20] #380 closed

[2021-03-10 19:24] brhelwig opened #381 "Blacklist app should track AccessTokens"
- currently when a new token pair is generated thru TokenObtainPairSerializer, only the refresh token is added to OutstandingToken.
- This makes it impossible to find other tokens that may have been created for the user and be able to block them, and then be able to provide a feature to sign out other sessions besides the token you are currently logged in with.

[2021-03-10 19:39] Andrew-Chen-Wang commented on #373
Sorry for late response; busy with school. TL;DR You should only need the blacklist app if you're using an SPA with logout functionality, non-secure HTTP, and not using httpOnly flag. If you've got an SPA but the index.html file is delivered by Django, then use session authorization with the httpOnly flag. Anyways:

I believe the point of the blacklist is to deny refresh tokens before their actual

[2021-03-10 19:42] Andrew-Chen-Wang commented on #381
Ref #13

[2021-03-10 19:46] Andrew-Chen-Wang commented on #381
I'll also add on that if it's stolen because you didn't properly secure the token via httpOnly, didn't use HTTPS, or didn't store the token in a keychain on mobile devices, then the user is simply out of luck until the access token is expired, which should be "in no time."

Like what David said, the benefits are outweighed by the cons, especially the resource consumption like storage (even in a ca

[2021-03-10 19:56] brhelwig commented on #381
I think that is making some assumptions about the breach always being with the server.

If a particular user becomes aware that their account has been breached and they need to do a password reset (maybe thru automated means or some other manual intervention), they don't care if its 5 minutes or an hour when their access token is invalidated, they want whoever breached their account logged out imm

[2021-03-10 20:12] Andrew-Chen-Wang commented on #381
You're talking about doing stateful authorization at this point, of which, if you're on the browser, use session authorization and not JWT. To me, it's bad practice to store access tokens, and I'd like to thwart its frequency.

I can understand this. SimpleJWT isn't exactly the most.... flexible app admittedly but it is easily extensible. I'd recommend just storing a model where the user submits a

[2021-03-10 20:16] brhelwig commented on #381
you are right that the blacklist app does make it stateful authentication, so I guess the gap to me is that what state is stored is unpredictable.

yes you could provide an endpoint to specify the token to be blocked...but that may not be knowable.....unless you store it. :-)

[2021-03-10 20:30] Andrew-Chen-Wang commented on #381
I suppose so. Again, I think this practice being implemented in the package is not good (seems like we fully support its usage) unless there's a specific use case for it. What people generally should do is simply secure their own code. SimpleJWT is pretty extensible, so I see no problem with the aforementioned use cases.

[2021-03-10 20:30] #381 closed

[2021-03-14 18:47] Andrew-Chen-Wang commented on #207
Hey all, we've decided to get this to Jazzband if they accept this. Sit tight!

[2021-03-14 20:24] guillaumevincent commented on #207
Jazzband web site for people like me who don't know hat Jazzband is https://jazzband.co/

[2021-03-14 23:32] bnisevic commented on #207
Nice to hear that! There is hope for this project!

[2021-03-15 01:53] stunaz commented on #207
Well I dont get it... jazzband or not, maintainers are still required. jazzband's team will not just pick up the project from here and fix bugs and develop new features from it. I think they might maintain as in keeping the project alive, running against new django releases, do some triages, review some PR. but i doubt they will develop new features nor fixes our long standing issues

[2021-03-15 02:02] Andrew-Chen-Wang commented on #207
@stunaz  It's just a way to relinquish control to an organization who can give out permissions and do the job. I'm not exactly a good maintainer, and I've also lost time due to school. If someone can do what I did which was review some PRs BUT ALSO have merge capabilities, I'm for it rather than a stale library.

[2021-03-15 02:39] stunaz commented on #207
Agreed with you @Andrew-Chen-Wang. But in the other hand, I see nice people willing to maintain this project like @auvipy , but we dont see no follow-up on this.

[2021-03-15 08:07] auvipy commented on #207
instead of moving to jazzband, I would like to maintain it here. but if you still persist, I had to do it after the transfer

[2021-03-15 09:58] bnisevic commented on #207
If your only motivation is to contribute this project, you can easily join the jazzband and contribute through there.

[2021-03-15 12:53] Andrew-Chen-Wang commented on #207
@auvipy @bnisevic I've already emailed him about you wanting to become a maintainer after I missed his email about the Jazzband news from 4 days ago. I too would like for SimpleJWT to stay in this organization, but it's still up to David, but the response rate from him is low due to work (David's been MIA for 4 months).

[2021-03-16 07:01] auvipy commented on #207
i already contribute to some jazzband projects.

[2021-03-16 18:38] jazzband-bot opened #382 "Implement Jazzband guidelines for django-rest-framework-simplejwt"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-rest-framework-simplejwt](https://github.com/jazzband/django-rest-framework-simplejwt)

It was initiated by @davesque who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally re

[2021-03-16 18:44] jezdez commented on #382
Hi @davesque! Welcome to Jazzband, please make sure to follow the [Jazzband guidelines](https://jazzband.co/about/guidelines) and implement the above items as soon as possible. If you have any question, please let me know.

[2021-03-16 18:48] davesque commented on #382
@auvipy Hey we chatted though e-mail.  Do you have time to do this checklist?  I transferred this repo to jazzband because I don't have any spare moments for things like this.

[2021-03-16 18:49] jezdez commented on #207
Hey all, Jazzband founder and roadie here, if you have any questions, please don't hesitate to ask away. There is also #382 now that the transfer has happened. Welcome!

Full disclosure since dj-rest-auth has been mentioned in this ticket, some time ago the project was transferred back to the original author following a discussion around the need for Jazzband projects to move to GitHub Actions fro

[2021-03-16 20:36] davesque commented on #382
Hey @jezdez.  Thanks for the welcome!  Hopefully having this project in jazzband will help to keep it alive.  I recognize that I've been so distracted that it's been a disservice to the community of users that depend on this project.  So it's nice that there are things like jazzband.

[2021-03-17 05:55] heeseungp commented on #266
This worked. Thank you Andrew.

[2021-03-17 20:17] Andrew-Chen-Wang commented on #207
@auvipy Thanks for taking over! and @jezdez Thanks for getting SimpleJWT to Jazzband! No need to worry about dj-rest-auth; it has already migrated to simplejwt as I think this repo is becoming the standard for getting a quick refresh/access auth type system going.

[2021-03-18 08:03] #353 closed

[2021-03-19 21:11] #360 closed

[2021-03-23 16:11] AbdulmalikGiwa commented on #104
I'm having this exact issue

[2021-03-23 16:12] AbdulmalikGiwa commented on #104
Did you figure this out?

[2021-03-25 16:10] iamr0b0tx commented on #71
This looks well and good but is the CSRF token not necessary for methods like POST, PUT?
here is an implementation of JWT + CSRF token + Cookies (HttpOnly) [LocalStorage vs Cookies: All You Need To Know About Storing JWT Tokens Securely in The Front-End](https://dev.to/cotter/localstorage-vs-cookies-all-you-need-to-know-about-storing-jwt-tokens-securely-in-the-front-end-15id)

[2021-03-26 13:21] CN91 opened #383 "documents refer to user.name instead of user.username"
please remove :)

[2021-03-26 13:34] #383 closed

[2021-04-07 14:27] Tuuleh opened #384 "If you curl without passing application/json header to the refresh path, you get strange results"
I'm following the examples in your readthedocs and found that if you don't pass the content type (application / json) header in the curl, the request will fail with a pretty unhelpful message:
[code]
whereas this works fine:
[code]

[2021-04-08 22:47] xjabr opened #386 "I tried to edit ACCESS_TOKEN_LIFETIME but it doesn't work"
Hello everyone, I tried to edit the property ACCESS TOKEN LIFETIME in settings.py of my project but it not work, someone can help me please!

Version Django: 3.2
Version djangorestframework-simplejwt: 4.6.0

This is the code:

[code]

[2021-04-10 20:07] mohmyo opened #387 "Add a flag to allow generating custom tokens with no expiry"

[2021-04-14 10:32] dimasanwaraziz opened #389 "'str' object has no attribute 'decode'"
![image](https://user-images.githubusercontent.com/50611785/114696739-34435980-9d47-11eb-849c-f4c323dc534c.png)

This my code on urls.py
[code]
settings.py
[code]
views.py
[code]

[2021-04-14 19:39] ankitgoyal100 opened #390 "Cookie duration not working on mobile browsers"
Hi, I'm returning an Http Only cookie using the following code when a user logs in or registers:
[code]

[code]

The `ACCESS_TOKEN_LIFETIME` is `timedelta(days=28)`. It seems to be working perfectly fine on my desktop browser but I get logged out within hours in my mobile browser. Any ideas or suggestions? Thanks

[2021-04-15 19:28] mohmyo commented on #389
What version of `PyJWT` and `django-rest-framework-simplejwt` is installed?

[2021-04-15 21:33] marknotfound commented on #266
This also worked for us, thanks for the workaround! Below is a concrete example of what needs to happen inside of `admin.py`

[code]

[2021-04-15 21:52] adriangzz commented on #266
This worked, thank you.

Definitely a better solution than mine, I'm always amazed by the things you can do in Django.

[2021-04-16 03:32] dimasanwaraziz commented on #389
This my `pip freeze` command:
[code]

[2021-04-16 11:08] mohmyo commented on #389
install djangorestframework-simplejwt==4.6.0 and see if this solves your problem

[2021-04-16 14:56] abdeltif-b commented on #389
I'm using `djangorestframework-simplejwt==4.6.0` and I had the same issue. Fixed by using `pyjwt==2.0.0` instead of the newer version `pyjwt==2.0.1`

[2021-04-16 18:38] Andrew-Chen-Wang commented on #266
Sorry for this issue taking so long to resolve. Unfortunately, David has relieved ownership to Jazzband maintainers, and (fortunately) the head is now @auvipy from the celery project.  The unfortunate part is I've never got an answer from David, so I'll try to debug the past and figure out how to go about this. In the meantime, @auvipy, do you mind taking a look at this issue, #267, and what we sh

[2021-04-18 16:12] japsimrans13 commented on #207
I want to contribute to SimpleJWT but i am new to open source. Please guide me.

[2021-04-19 06:46] auvipy commented on #207
please check the issues

[2021-04-19 08:40] jezdez commented on #207
@japsimrans13 I'm afraid Jazzband isn't a great place to learn about Open Source, or at least it's not built to provide guided mentorship like you may be looking for.

Hey @auvipy, I think this isn't the right way to provide mentorship to learn about Open Source, especially in a security senstive application like this.

[2021-04-19 23:30] monishshah18 opened #392 "Doc(Error): djangorestframework-simplejwt v4.4.0 not compatible with python > 3.9"
While installing djangorestframework-simplejwt v4.4.0 with python 3.9.4 it threw setuptools errors which shows it is incompatible with python 3.9 and above. But works with 3.7.x and 3.8.x.

Docs on pypi should be updated to reflect the same.

[2021-04-21 19:30] Andrew-Chen-Wang commented on #207
@japsimrans13 refer to [our docs](https://django-rest-framework-simplejwt.readthedocs.io/en/latest/development_and_contributing.html) if you would like to add a feature or implement an existing issue.

This issue is for maintainership purposes and not contributions. I'm closing this issue since anyone can join Jazzband and help maintain.

[2021-04-21 19:30] #207 closed

[2021-04-22 07:06] caodongjun commented on #389
I looked at the source code `djangorestframework-simplejwt` and `pyjwt`.The reason for this error is the` backends.TokenBackend.encode `, which returns the` token.decode ("utf-8")`.  in  `pyjwt` 2.0 and later  ` jwt.encode` method returns `str` directly instead of the previous' bytes'.  To avoid this error, we can use the version of `pyjwt` less than 2.0, or wait for simplejwt to be modified.

[2021-04-23 06:22] #386 closed

[2021-04-23 17:26] duilio92 commented on #281
I had the same problem could fix this problem adding 'rest_framework_simplejwt' to INSTALLED_APPS after the app that has the custom user model.

[2021-04-23 18:28] apologeticallypervy opened #394 "How to do per-request translation?"
I have the following i18n settings in `settings.py`

[code]

And middleware:

[code]

When I send a request with `Accept-Language` header set to `es`, error messages from DRF are translated, but not the messages from simplejwt. For example, when I send a request without `password` field in its body, I receive:

[code]

But sending it with an incorrect password gives me:

[code]

I also tried chang

[2021-04-24 09:54] Alig1493 opened #395 "Makemigrations create new migrations for models in token_blacklist app"
Hello,

Everytime I try to run the migrations for my apps in django, new migrations are created for the token_blacklist applications. Is this how it's supposed to be?
Currently found on versions 4.5.0 and 4.6.0.
[code]

[2021-04-27 06:39] Andrew-Chen-Wang commented on #382
@auvipy Do you mind going to codecov to set the GitHub secret for CODECOV_TOKEN. I don't have perms to access the settings.

[2021-04-27 06:41] Andrew-Chen-Wang commented on #395
I'm not sure where that's coming from. This may be due to new features in Django. What Django version are you using? Do you mind posting that new migration file? Thanks!

[2021-04-27 06:42] Andrew-Chen-Wang commented on #394
That's interesting. DRF SimpleJWT uses gettext_lazy so it should work. Can you check if the locale is actually installed (if you're using a virtualenv)?

[2021-04-27 06:42] Andrew-Chen-Wang commented on #392
Please install the latest version 4.6.0 as specified in the README.

[2021-04-27 06:42] #392 closed

[2021-04-27 06:45] Andrew-Chen-Wang commented on #389
Sorry about this. In the middle of finals (and in the middle of midnight). I'm going to see if I can get permission from @auvipy or @jezdez to push out a release which includes #349 that should fix it.

[2021-04-27 06:46] Andrew-Chen-Wang commented on #389
Please give me ETA May 3rd ish to get SimpleJWT 4.7.0 out.

[2021-04-27 06:46] Andrew-Chen-Wang commented on #390
Resolved (privately) due to misconfiguration.

[2021-04-27 06:46] #390 closed

[2021-04-27 06:47] Andrew-Chen-Wang commented on #387
-1 Dangerous design wise. MITM attacks is the reason we have these expiry tokens in the first place. Additionally, even cryptographically strong sessions are needed to be expired for user/client side safety.

[2021-04-27 06:49] Andrew-Chen-Wang commented on #384
Duly noted. Although I kinda find it strange that it took this long to find this error... and sorry for the extremely late response!

[2021-04-27 06:52] Andrew-Chen-Wang commented on #389
Scratch that. @auvipy I'm not "project lead" but I've had SimpleJWT 4.7.0 laid out for about a month or two; you think it's good to go? If so, just create the release from the GitHub UI (there's a GitHub action that should automate it hopefully)

[2021-04-27 07:34] Andrew-Chen-Wang commented on #382
#397 should check off "Port continuous testing to GitHub Actions"

@jezdez can you clarify by what "Set up CI for Jazzband project releases if needed and open ticket if yes" means? As in GitHub projects or regular PyPi releases? If the latter, that's already in the GitHub workflows (albeit untested I think until we get 4.7.0 out soon...).

[2021-04-27 07:40] Andrew-Chen-Wang commented on #382
@auvipy I would definitely appreciate if you removed branch protection rules for me... not able to actually merge anything to master.

[2021-04-27 08:06] akhtariali commented on #394
Sure.

`cd env/lib/python3.8/site-packages/rest_framework_simplejwt; ls`
Logs:
[code]

`cd locale; ls`
Logs:
[code]
In `es/LC_MESSAGES/`, I found `django.po` and `django.mo`; .po file has the following config:

[code]
and locale messages.

[2021-04-27 16:27] mohmyo commented on #387
I agree with you about all of these points, of course, this can be dangerous when used with an access token, that's why I mentioned custom tokens.

Adding this option can be handy with custom tokens that are being used with no critical actions like allowing anonymous users to submit their feedback, so instead of creating a token with a long expiry time just to avoid expiry checking, it's better to

[2021-04-27 19:38] Andrew-Chen-Wang commented on #394
I wonder if it's because you're using SimpleJWT 4.4.0. Try using SimpleJWT from master branch and see if it works. I'm betting it's because we haven't released SimpleJWT 4.7.0 which includes #378 that updates line numbers (i.e. we need to recompile the language files).

<details><summary>Diagnosis</summary>
Huh that's interesting. So it's definitely coming from here: https://github.com/jazzband/dj

[2021-04-27 19:48] Andrew-Chen-Wang commented on #387
There is a note from the previous implementation about the exp claim being omitted or "infinite" https://github.com/jazzband/django-rest-framework-simplejwt/blob/cb323efa4644ba74efaf106ad96c80d8449a7006/rest_framework_simplejwt/tokens.py#L84-L100

You've got two options:
- You can omit the exp claim: https://github.com/jazzband/django-rest-framework-simplejwt/blob/cb323efa4644ba74efaf106ad96c80d84

[2021-04-27 19:51] Andrew-Chen-Wang commented on #387
I don't want to implement this in this library. Even though it's allowed by the RFC, in the context of DRF and what this package was designed for (and even though I'm striving to have more extensibility in the library), I don't want others to think like Microsoft (90 day tokens equals no good). Best practices in security is what matters, and that's what the original authors thought too in the comm

[2021-04-27 22:06] mohmyo commented on #387
I saw this original comment about zombie tokens when I was reading the source code and I agree with you about all of these points that's why I mentioned custom tokens, not a global variable where someone can use it by mistake.

I was thinking about something like this:

[code]

then, this flag will be used to control whether or not we will deal with expiry at `__init__()` and other methods or not,

[2021-04-27 22:11] Andrew-Chen-Wang commented on #387
I guess I'm mostly confused by what you mean by "custom tokens?" Are you saying we make an ABC abstract class? Or are you saying in the serializer, we pass a callback to allow the dev/server to edit the token however they wish before we send the client an access/refresh token?

Because the way I'm understanding this -- "custom token class which inherits from Token" -- you might consider just subcl

[2021-04-27 22:18] mohmyo commented on #387
Yup, I'm just talking about subclassing `Token` to create my custom token class with my desired `token_type` and `lifetime` and use that class later on.

[2021-04-27 22:26] mohmyo commented on #387
I have written my custom authentication class to authenticate against this custom token class for a special endpoint where anyone with a valid token can access it

[2021-04-28 08:09] deepanshu-nickelfox opened #398 "How do i add new fields to OutstandingToken Model, i just want to store the device id for push Notification"

[2021-04-28 15:43] Andrew-Chen-Wang commented on #398
Sorry for lack of flexibility. Regardless, you'll first need to subclass the model. Before we come out with a patch, you'll need to patch the import:

[code]

[2021-04-28 15:49] Andrew-Chen-Wang commented on #387
I think what you've done is correct. However, bad practices (even with good intentions) inside this package isn't exactly what we're after. Yea flexibility's pretty bad, and we shouldn't follow everything that was said in the past, but I think this is an instance of "eh" -- it could lead to poor decision making and frontend/client design.

BTW JWTTokenUserAuthentication was created so that we neve

[2021-04-28 15:49] #387 closed

[2021-04-28 16:50] mohmyo commented on #387
Okay, I respect your decision about this, keep the good work marinating this great package!

[2021-04-28 18:35] akhtariali commented on #394
Thanks. Will check it out in the next few days. I moved to other tasks and postponed the requirement for now.

[2021-04-28 20:29] deepanshu-nickelfox commented on #398
![jenkins](https://user-images.githubusercontent.com/66781290/116467782-b37b7600-a88d-11eb-9bb8-57153a7d70fd.png)

After adding new fields and running migrations, results into two OutstandingToken Models is that i am going to manage it?

if yes, then how will i add new generated tokens into mu new OutstandingToken Model.

[2021-04-28 20:35] Andrew-Chen-Wang commented on #398
@deepanshu-nickelfox Use this: https://github.com/jazzband/django-rest-framework-simplejwt/issues/266#issuecomment-753225212

[2021-04-29 15:14] Ezekiah opened #399 "Token blacklist app and several user models"
I saw that the outstandingtoken model  has a foreign key to the main User model.
But I have 3 User models extending AbstractUser, can you advise me how I can make them compatible?

For the moment i disabled the blacklist app.

I think about adding foreign keys on the outstandingtoken or a genericforeignkey but im not sure its the best solution.

[2021-04-29 15:51] Andrew-Chen-Wang commented on #399
Before answering, can you detail what the User models are for? How is authentication going to work for your users using regular refresh and access tokens (excluding the blacklist app)?

[2021-04-30 06:24] Ezekiah commented on #399
I think I m just going to let only one User model and put flags on it to make it simple and works with your module.
I dont need 3 user models.
I use "custom" TokenObtainPairView, TokenObtainPairSerializer to generate the tokens, I just override some methods as explained in the documentation to change the token payload

[2021-04-30 17:08] #399 closed

[2021-04-30 17:09] Andrew-Chen-Wang commented on #399
Definitely a better idea. Multiple user models won't work well with Django either, so what you have now makes your app more efficient and probably more secure.

[2021-05-01 13:35] Andrew-Chen-Wang commented on #398
Closing. This seems to be resolved (at the least with the last comment)

[2021-05-01 13:35] #398 closed

[2021-05-02 18:52] Alig1493 commented on #395
Sincere apologies for the tardiness I got caught up in personal errands.
Django version: 3.2
Migration file:
[code]

Might have something to do with [this](https://docs.djangoproject.com/en/3.2/releases/3.2/#customizing-type-of-auto-created-primary-keys) latest Django 3.2 changelog I believe.

Appreciate your response! Thanks.

[2021-05-03 09:58] amantiwari1 commented on #71
so anyone where is solution for implementation http only? still no finding in docs

[2021-05-03 15:12] Andrew-Chen-Wang commented on #395
np about tardiness. It seems like that change definitely makes sense. Is there any database that doesn't support 8 bytes to store integers? Not sure if we want to define the AutoField, but then again it's technically already been defined as `AutoField` for a long time.

Do you mind telling me which database you're using? I have doubts about proper migration from AutoField to BigAutoField (especial

[2021-05-04 20:35] Alig1493 commented on #395
I'm using postgres 12. Running at as a docker image at the moment.
[Here](https://hub.docker.com/_/postgres)

[2021-05-08 08:53] hsb-tonmoy commented on #71
I was wondering how I can blacklist the Refresh token with this method. Before when I was saving the refresh token in localstorage, I'd send it to this view to blacklist it:

`class BlacklistTokenUpdateView(APIView):
    permission_classes = [AllowAny]
    authentication_classes = ()

    def post(self, request):
        try:
            refresh_token = request.data["refresh_token"]
            to

[2021-05-10 15:35] aliscie commented on #28
Logout can be handle in the front end without touching the backen

[2021-05-10 19:54] hsb-tonmoy commented on #71
Hey, I was wondering if you could share how you modified these views and the frontend to implement CSRF as well.

[2021-05-12 22:43] ashok-arora opened #401 "[query] What does user refer to in this wikipage?"
I am reading about [creating manual tokens](https://django-rest-framework-simplejwt.readthedocs.io/en/latest/creating_tokens_manually.html) from the username and password received in the JSON request,
but I do not understand what `user` is supposed to refer to in the function argument. Could you help and elaborate?

[2021-05-12 23:12] Andrew-Chen-Wang commented on #401
The `user` parameter refers to a `django.contrib.auth.models.User` object/instance. I.e., when you do `request.user` in a Django view, that's the user we're referring to.

[2021-05-13 04:46] #401 closed

[2021-05-13 04:49] Andrew-Chen-Wang commented on #395
Note: this happened due to Django 3.2 having a setting that can identify what the primary key field will be (i.e. either AutoField or BigAutoField). I think it's safe to say we can safely migrate to BigAutoField since Django used to have AutoField on by default but not it's BigAutoField as the default.

[2021-05-13 10:54] ashok-arora commented on #401
Thanks!
Would it be possible to add this to the documentation too?

[2021-05-13 10:55] ashok-arora commented on #401
Also, is there a better place for these questions? Possibly a chatroom? @Andrew-Chen-Wang

[2021-05-13 13:15] Alig1493 commented on #395
Okay. I can handle the migrations with some commands on application initializations for now. Willi you be adding the new migrations in your next release?

[2021-05-13 15:40] selfaddicted opened #402 "Refreshing is possible for deleted users"
apologies for my broken English in advance.

while I'm developing a site, I happened to know that refreshing a pair of tokens is possible for deleted users once they keep refresh tokens.

steps what I've been through

1. create an account and get issued a pair of tokens.
2. keep the refresh token in a safe way (for me, I overrode some codes to issue the refresh token as a httponly cookies)
3. dele

[2021-05-13 17:00] jezdez commented on #382
Hey @Andrew-Chen-Wang, thanks for working on the GHA updates in #397, this is super appreciated. I've updated some of your changes to better follow the practices we've seen work well in other Jazzband projects but your work has been very useful.

I've updated all the TODO items above that have been done I think, the biggest one is to decide who'll be the project leads to be able to do [PyPI releas

[2021-05-13 17:02] Andrew-Chen-Wang commented on #402
Your English is better than mine! Variety of configurations is happening here so

[2021-05-13 17:07] Andrew-Chen-Wang commented on #401
I can definitely add it into the docs!

We don't have a chatroom. I mostly work on GitHub itself and just view any popup notifications, so a new GitHub issue is totally fine!

[2021-05-13 17:19] jezdez commented on #382
I forgot some things and opened #403 as well.

[2021-05-13 17:28] jezdez commented on #382
By the way, thanks to @Andrew-Chen-Wang I was able to disable Circle CI for the whole Jazzband organization, which was a big liability. Thank you! <3

[2021-05-14 01:25] Andrew-Chen-Wang commented on #402
In general, I think this is why it's going to remain defaulted as False in the settings. I think what you mentioned is a good justification for keeping it that way :) Perhaps a link to this issue from the docs would be great if you'd like to create a PR!

[2021-05-14 01:28] Andrew-Chen-Wang commented on #395
I have no issue with you creating a PR for this (considering I can't merge anything I create myself)! Can't guarantee if it'll be in the next release, but I think it can make it.

Just make sure you update the CHANGELOG under Version 4.7 alongside the migration file!

[2021-05-14 05:11] selfaddicted commented on #402
The biggest problem that I think is that such abusing can cause a sort of flood(?) in the blacklist db. So a solution(?) that I've thought out is to refresh the refresh token nearly due to the expiration. This process surely requires a decoding process which might take a bit more time.. but would it be matter? 😝

[2021-05-14 11:42] Alig1493 commented on #395
Noted. I'll start working and I'll have a MR for you to review.

[2021-05-14 17:04] Alig1493 commented on #395
@Andrew-Chen-Wang I've set up the project and seems to be running fine. Could you direct me as to how I might be able to run the django commands to generate the migrations and run other related django commands? Maybe I've missed some instructions that are there so would appreciate the assistance. Thank you.

[2021-05-14 18:50] Andrew-Chen-Wang commented on #395
Can you clarify what django commands you're talking about? Typically any command is done through python manage.py blah.

[2021-05-15 11:06] usefss opened #405 "jwt Authentication class compatibility with drf-spectacular"
there is a very strange behavior of drf-spectacular when defining Authentication classes from simple-jwt when you declare JWTAuthentication as default_authentication_class swagger UI authorize button works correctly but when you declare JWTTokenUserAuthentication as default_authentication_class swagger UI authorize button disappears and can not set Bearer token.
Steps to reproduce:
first, create a

[2021-05-15 11:21] #405 closed

[2021-05-15 11:22] usefss commented on #405
https://github.com/tfranzel/drf-spectacular/issues/387

[2021-05-15 15:36] Alig1493 commented on #395
Yes, as in I can do that when using the library in an application but there's no manage.py file here within the library itself so I was wondering if there's another way to do it when working on updates for the library itself.

Regardless I did generate and post a migrations file that addresses the changes regarding the primary keys in django 3.2. If you could review it and give me some feedback th

[2021-05-15 20:13] #395 closed

[2021-05-16 14:39] aliscie commented on #266
is that actions = ... in the `settings.py`

[2021-05-16 14:45] dhvcc commented on #266
@aliscie I think it's the `ModelAdmin'`s actions

[2021-05-16 20:12] jezdez commented on #382
FYI I renamed the repo to match the project name on PyPI to `djangorestframework-simplejwt` since that simplifies maintenance and the release process a notch.

[2021-05-18 01:54] Andrew-Chen-Wang commented on #382
@jezdez sorry to bother again. I tried pushing out a release from the GitHub UI, but the action simply failed? I can rollback the tag and push a new commit, but I'm unable to commit directly to master and I'm also not allowed to merge my own PRs since I can't approve my own PRs via GitHub reviews. Anyhow, priority is working out why the release workflow isn't working.

[2021-05-18 07:42] jezdez commented on #382
Ah yeah, I simply forgot to update the release workflow with the new name, fixed in https://github.com/jazzband/djangorestframework-simplejwt/commit/2591942e9cf28f5bd43505663021add861b8d3cc. I've also went ahead and did a few more items from the TODO list above that should have happened before you tried a release.

[2021-05-18 07:45] jezdez commented on #382
Since @davesque hasn't responded to my comment above who else should become project lead I'm going to keep @Andrew-Chen-Wang and @davesque as project leads for now. Feel free to open a new issue about adding more project leads.

@Andrew-Chen-Wang I've deleted the Git tag and the GitHub release automatically reverts to being a draft release. If you publish the release with the current master it sho

[2021-05-18 17:33] satyamsoni2211 commented on #207
I would like to maintain the repository

[2021-05-19 18:15] jezdez commented on #382
@Andrew-Chen-Wang Ironically GitHub Actions seemed to have had stability issues yesterday and this repo was affected as well. I'm sorry for the issue 😬

[2021-05-19 18:16] Andrew-Chen-Wang commented on #382
No problem. Is #406 still needed in this case?

[2021-05-19 18:20] jezdez commented on #382
Yeah, totally, good catch! I've also deleted the tag again, try again?

[2021-05-19 18:48] Andrew-Chen-Wang commented on #382
Yea! Running right now!

[2021-05-19 18:49] Andrew-Chen-Wang commented on #382
Arg it might've skipped the release mechanism because the commit might've skipped the CI...

[2021-05-19 19:11] jezdez commented on #382
Oh lol, no problem! Want to push a new commit and re-add the tag? (just deleted it)

[2021-05-19 19:41] Andrew-Chen-Wang commented on #382
I can't. I don't have the perms to commit directly to master nor can I approve my own PRs.

[2021-05-19 19:51] jezdez commented on #382
Right, that's by design, I should have been more clear saying to push a commit to a non-protected branch, open a PR and assign me for code review so I can approve it.

[2021-05-19 20:38] Andrew-Chen-Wang commented on #382
@jezdez ah no problem. I'll open one right now.

[2021-05-21 16:28] Brechard commented on #266
I tried that and got the error:
` File "/home/rodrigo/PycharmProjects/backend/src/user/admin.py", line 7, in <module>
class OutstandingTokenAdmin(token_blacklist.admin.OutstandingTokenAdmin):
AttributeError: module 'rest_framework_simplejwt.token_blacklist' has no attribute 'admin'`

and when changed to:

[code]

still getting error:

`  File "/home/rodrigo/PycharmProjects/backend/src/user/admin.p

[2021-05-21 16:38] dhvcc commented on #266
@Brechard you need to unregister ORM's model, not ModelAdmin

[2021-05-21 17:29] Brechard commented on #266
@dhvcc oh right, indeed, thanks

[2021-05-23 09:19] kingychiu opened #408 "Documentation about AUTH_HEADER_NAME setting is not correct."
From the documentation:

However, from my testing, I need to use `HTTP_Authorization` instead of  `HTTP_AUTHORIZATION` to accept the `Authorization` header.

My code:
[code]

Related documentations:
- https://github.com/jazzband/djangorestframework-simplejwt/blob/master/docs/settings.rst
- https://github.com/jazzband/djangorestframework-simplejwt/blob/master/docs/getting_started.rst

[2021-05-23 15:16] Andrew-Chen-Wang commented on #408
Django automatically capitalizes all your headers so regardless you'll have to use HTTP_AUTHORIZATION. E.g. I always use `Authorization: Bearer token` from the client side without any issues.

[2021-05-23 15:39] Andrew-Chen-Wang commented on #346
Sorry for the long wait y'all. v4.7.0 is now released.

[2021-05-23 15:40] Andrew-Chen-Wang commented on #389
Sorry for the long wait y'all. v4.7.0 is now released.

[2021-05-23 15:40] #389 closed

[2021-05-23 15:41] Andrew-Chen-Wang commented on #382
v4.7.0 source and wheel is released and it seems like everything here is done so I'll close this now.

[2021-05-23 15:41] #382 closed

[2021-05-23 16:46] jezdez commented on #382
@Andrew-Chen-Wang Huzzah! 🎊

[2021-05-23 18:02] Andrew-Chen-Wang commented on #382
thanks for helping @jezdez !

[2021-05-23 18:43] davesque commented on #382
Thanks for doing all this, guys!

[2021-05-24 18:27] salcedo opened #409 "Installing 4.7.0 via pipenv fails if other modules pin PyJWT"
I think this issue will self-resolve in time, but wanted to submit it anyway in case anyone else runs into this. (or if I'm incorrect here)

Workaround: Pinned djangorestframework-simplejwt to 4.6.0

[code]

[2021-05-24 19:01] Andrew-Chen-Wang commented on #409
Mm we technically support both 1.7.1 and 2.0+. Not sure how to override this error with flags in the requirements or pipenv file. But I decided to just move on from PyJWT 1.7.1 and only support 2.0+ since 1.X.X has just been unmaintained for too long.

I agree in that:

- If you want to stay on PyJWT 1.7.1 and there is no flag that allows you to override the incompatible version check, then stay o

[2021-05-25 05:24] Andrew-Chen-Wang commented on #394
@apologeticallypervy I've released 4.7.0. Let me know if it's working now!

[2021-05-25 17:34] mom1 opened #410 "Inconsistency `0008_migrate_to_bigautofield` and field `id` in models"
Hi.
I found inconsistency in 4.7.0.
You have added an `id` field to the models.
After that, if you run `python manage.py makemigration`, you will get entries something like this
[code]
but now in 0008_migrate_to_bigautofield it looks like this
[code]
This leads to the fact that now a new migration is always created.
[code]
Instead, I suggest you add setting `default_auto_field = 'django.db.models.

[2021-05-26 12:14] barseghyanartur commented on #380
I'm just wondering, why would one deprecate Python 3.6 support **before** the EOL of the latter.

[2021-05-26 18:45] joetheone commented on #410
We are staying on 4.6.0 because of this issue

[2021-05-27 01:57] Andrew-Chen-Wang commented on #380
@barseghyanartur the intention is push everyone to move to more advanced Python versions so we wouldn't have to maintain compatibility for Python 3.6 and so we can take advantage of new stuff (like the walrus operator), even if it's not completely out of support. To me, it wasn't really necessary for a simple library like this one, but I don't really see a point to regressing and maintaining suppo

[2021-05-27 14:29] grvrai commented on #389
Please update this on pip too

[2021-05-27 17:24] Andrew-Chen-Wang commented on #389
@grvrai it's on pip. We only allow Python 3.7+

[2021-05-28 01:37] #410 closed

[2021-05-28 01:42] #263 closed

[2021-05-28 13:37] iamaakashbasnet opened #413 "Super user cannot delete User"
Quite new to djangorestframework-simplejwt! Recently when I tried to delete a user from django admin(with super user permission) I was not able to delete. Why's that?

![Screenshot from 2021-05-28 19-20-56](https://user-images.githubusercontent.com/70271922/119992075-e37f7b80-bfe9-11eb-8aac-cf9ab2055ca2.png)

[2021-05-28 13:39] iamaakashbasnet commented on #413
How can I delete this user instance? Any solutions? :)

[2021-05-28 14:01] Andrew-Chen-Wang commented on #413
@iamaakashbasnet Here is a link to a concrete example: https://github.com/jazzband/djangorestframework-simplejwt/issues/266#issuecomment-820745103

The explanation is basically our admin class did not give permission for any user to delete. We're currently investigating if we should allow superusers to be able to delete, but until then this workaround is safe to use :)

[2021-05-28 14:01] #413 closed

[2021-05-28 14:14] iamaakashbasnet commented on #413
@Andrew-Chen-Wang  Thank you! :)

[2021-05-28 18:40] CharanpreetSingh056 commented on #266
Hey, I am facing similar error, can you elaborate what you changed to get rid of that error !

[2021-05-29 08:07] CharanpreetSingh056 commented on #266
@Andrew-Chen-Wang , I went through that comment(example ) and tried it, but it gives me an error "AttributeError: module 'rest_framework_simplejwt.token_blacklist' has no attribute 'admin'", I saw the above conversation and @dhvcc commented to "unregister ORM's model and not AdminModel", could you please elaborate a bit more on what does it exactly mean to unregister ORM's model ?

[2021-05-29 08:13] dhvcc commented on #266
Well to really call `admin.unregister(...)` on a real Django `modles.Model`. For `token_blacklist` it's `OustandingToken`
Your problem is that you did not import admin. To use `rest_framework_simplejwt.token_blacklist.admin` the way you wrote it you shloud import it as follows `import rest_framework_simplejwt.token_blacklist.admin`

[2021-05-29 15:07] kingychiu commented on #408
Yeah, you are right, when I call the endpoints with my frontend app, I need to capitalize the header name. But it is not the case when I am using the testing client... it is strange. any ways, thanks!

[2021-05-29 15:11] #408 closed

[2021-05-29 17:02] kingychiu commented on #408
To make the test client work with the authorization header:

SIMPLE_JWT setting:
"AUTH_HEADER_NAME": "HTTP_AUTHORIZATION",

Test request code:
[code]

[2021-05-30 11:34] Brechard commented on #266
[code]

[2021-05-31 07:28] mbl-sme opened #414 "Simple jwt breaks when Secret Key is put into environment variable on Google App Engine"
In a project hosted on Google App Engine, I receive this error message as soon as I put the secret key into an environment variable and try to create a secret key at the jwt/create endpoint:

    TypeError at /api/v1/auth/jwt/create/ Expected a string value

The key is stored in the apps yaml file as SECRET_KEY_ENV and loaded in Django's settings file like this:

SECRET_KEY = str(os.environ["SECRE

[2021-06-01 02:49] Andrew-Chen-Wang commented on #414
Probably because you set the key to be a tuple: `key : ('your_key' , )`. Notice that `,` is creating that tuple. Notice how you set it: `SECRET_KEY = str(os.environ["SECRET_KEY_ENV"]),` see that `,`? Remove it and it should work!

[2021-06-01 02:49] Andrew-Chen-Wang commented on #414
Hope that helps (closing since this is not really simplejwt's problem; just a misconfig between your local and prod environment)!

[2021-06-01 02:49] #414 closed

[2021-06-01 06:55] mbl-sme commented on #414
It threw me off that Django handled it and showed the Secret key as string in the debug window while it was JWT that threw the error message in the end. Removing the colon fixed it. Thank you Andrew!

[2021-06-04 11:51] apologeticallypervy commented on #394
Hi. Sorry I was swamped lately.

Nope. Still not working.

`djangorestframework-simplejwt==4.7.0`

`Accept-Language: es`

`{"detail": "No active account found with the given credentials"}`

`{"password": ["Este campo no puede estar en blanco."]}`

`MIDDLEWARE = ["django.middleware.locale.LocaleMiddleware",
    ...
]
`

[2021-06-05 17:49] Andrew-Chen-Wang commented on #394
@apologeticallypervy I think I'm understanding why. Reference this and try setting it up: https://docs.djangoproject.com/en/dev/topics/i18n/translation/#how-django-discovers-translations

Try either of these options:
- add "rest_framework_simplejwt" to `INSTALLED_APPS`
- in LOCALE_PATHS, specify the path to our locale directory.

I'd try the first option (never tried it before). Even though we don