[2017-05-15 16:50] davesque opened #1 "Test different DRF versions on travis"
We should be testing against a range of Django REST Framework versions.  Need to modify travis config to enable this.

[2017-05-15 16:51] davesque opened #2 "Add version support information to README"
Should add a section to the README that lists which versions of Python, Django, and Django REST Framework are supported.

[2017-05-15 16:52] davesque opened #3 "Add "Customization" section to README"
Need to add "Customization" section to README which explains how to subclass `JWTAuthentication` and `TokenBackend` classes.

[2017-06-14 18:38] davesque opened #4 "Add support for separate access and refresh tokens"
Though RFC 7519 doesn't dictate the use of separate access and refresh tokens, having separate tokens in this way is a common pattern when utilizing JWT's in authentication systems.  It provides advantages in certain situations, most notably when an authenticated web service wishes to keep a list of blacklisted (refresh) tokens but also wishes to avoid performing a database lookup against that lis

[2017-06-14 18:46] davesque opened #5 "Add support for Fernet tokens, also possibly rebrand library as general-purpose stateless token auth library"
Add support for Fernet tokens.  Also, consider rebranding django-rest-framework-simplejwt as a general purpose stateless token auth library which supports either JWT or Fernet.

The JWT specification has various problems in that it allows for crypto negotiation or even unsigned tokens.  Fernet is an alternative signed token spec that has the advantages of being more explicit, simpler, and dictatin

[2017-06-27 02:10] #4 closed

[2017-07-06 15:49] jpadilla opened #6 "PyJWT"
I may be a bit biased and curious, if you're only using a subset of the spec, why not use [PyJWT](https://github.com/jpadilla/pyjwt) instead of [python-jose](https://github.com/mpdavis/python-jose)?

[2017-07-06 18:33] davesque commented on #6
There was no reason really.  I'd be happy to write a backend for it!

[2017-07-06 18:57] jpadilla commented on #6
Got it, I'll make sure we actually verify those two other claims that we currently don't, and update our entry on jwt.io. Might not really make much sense to have another backend for it though.

As a side note,  IMO I think another advantage at using PyJWT is that at the moment [PyJWT](https://libraries.io/pypi/PyJWT) has some more visibility and usage than [python-jose](https://libraries.io/pypi/

[2017-07-06 19:08] davesque commented on #6
Yeah I had gotten the impression that PyJWT is a bit more popular and actively maintained.  Maybe I can just make a backend for PyJWT and have that be the default backend.

By the way, I wanted to mention to you that I considered submitting pull requests to django-rest-framework-jwt to add the features that ended up going into Simple JWT.  But it seemed like I just had too many things I wanted to

[2017-07-06 19:23] jpadilla commented on #6
Great! I can send a PR later doing just that if you'd like.

I imagined that was it. To be honest, the project lost a bit of focused some time back, some features were pulled in that really shouldn't have, and too many hooks for extending were introduced, that's why I was hoping for a revamp, but I'm tied up a bit at the moment, and not working recently with any projects needing it. It's a shame r

[2017-07-06 19:49] davesque commented on #6
Cool.  Yeah, if you have the time to make a PR feel free.

[2017-07-08 02:45] #6 closed

[2017-07-08 02:49] davesque commented on #5
Fernet appears to have some of its own issues: https://github.com/fernet/spec/issues/20

[2017-09-13 21:16] nicholasserra opened #8 "Add option to provide blank AUTH_HEADER_TYPE?"
Wondering what thoughts are on allowing an empty AUTH_HEADER_TYPE to the settings. I've seen some other packages that simply omit `Bearer` or `Token` from the Authenticate header when implementing JWT.

In my case, Swagger docs for django rest framework don't play nice with JWT yet, and allowing a blank AUTH_HEADER_TYPE would solve that issue.

It seems providing AUTH_HEADER_TYPE=None causes an en

[2017-09-14 04:46] davesque commented on #8
Hi Nicholas,

Thanks for feedback!  I'll have to look into this and clarify what the relevant RFCs have to say about it.  Also, do you have a link to something that makes it more clear what the issue is with Swagger?  Either way, you could probably get away with subclassing `rest_framework_simplejwt.authentication.JWTAuthentication` and overriding the `get_raw_token` method to get what you need.

[2017-09-14 17:13] nicholasserra commented on #8
Here's a related PR for swagger, but basically, swagger doesn't support adding `Bearer` or `Token` to the `Authentication` header via the UI right now. https://github.com/marcgibbons/django-rest-swagger/pull/662

I think you're right on checking the RFCs. I'm now realizing the JWT implementation I saw that did not include a `Bearer` or `Token` prefix was a custom job, so it may be incorrect to sim

[2017-09-15 12:54] hvdklauw opened #9 "Support Private/Public key algorithms (RS256 etc)"
Would be nice if it was supported out of the box.

For now I can do it by making my own backend and making sure the SECRET_KEY settings is a dict.

Here is the working backend I wrote:
[code]

[2017-09-15 13:25] hvdklauw opened #10 "No easy way to add extra fields to token payload (`AUTH_TOKEN_CLASSES` not used in token views)"
Which makes the setting a bit of a half feature, it would be nice to have this in case you want to add more information to the payload.

[2017-09-15 13:27] hvdklauw opened #11 "Add ValidationView"
For the HS256 algorithm it would be nice to have a view that you can pass a token and it returns if it's valid or not. For when you don't want to hand out your secret but still want to offer a way to validate the token.

[2017-09-15 14:38] davesque commented on #11
Thanks for reminding me about this.  I meant to add something like this a while ago when I was trying to provide similar features as [django-rest-framework-jwt](https://github.com/GetBlimp/django-rest-framework-jwt) but I ended up forgetting about it.  I'll try and find some time over the weekend to add this.  Tested pull requests are also welcome.

[2017-09-15 18:03] davesque commented on #10
I see your point here.  I'll look into making this part of the API a bit more natural.

[2017-09-15 18:07] davesque commented on #9
Thanks for the suggestion.  I'll spend some time thinking about how I can support other algorithms more naturally.  I'm sure your solution works fine but I hadn't considered the possibility that people might use the `SECRET_KEY` setting for something other than a string.

[2017-09-16 13:29] hvdklauw commented on #9
Yeah, this wasn't the nicest way to do it, you might need a token_backend_kwargs setting for specifying different settings based on the backend used.

Also it might be nice to offer a path to the private/public key files and correctly load them for usage.

[2017-09-16 13:31] hvdklauw commented on #11
Feel free to wait.

1. It's not that important
2. We'll probably use this at work so I'll have some time to do it and do a pull request. ;-)

[2017-09-18 07:43] hvdklauw commented on #11
See #12

[2017-09-22 19:30] #1 closed

[2017-09-22 19:30] #2 closed

[2017-10-13 19:11] #5 closed

[2017-10-13 19:50] davesque commented on #10
I'm leaning towards keeping things the way they are.

One of the problems with tying view behavior to the `AUTH_TOKEN_CLASSES` setting is that the structure of a token view response might be different depending on the token type being used.  For example, sliding token views will respond with a JSON payload which has one key, "token", whereas token pair views respond with two keys, "access" and "re

[2017-10-14 10:13] hvdklauw commented on #10
Sure, but then I guess we need an easier way to extend the token class being used to change the payload.
Maybe a callback method that is used in the for_user method to add extra context?

Now you have to overwrite the view, to overwrite the serializer to overwrite the Token class being used, which seems a bit much.

[2017-10-15 02:01] davesque commented on #10
I hadn't actually considered the problem of adding extra fields to the payload (even though that was in your original comment).  Sorry for overlooking that.  I'll re-open this until that issue is addressed.

[2017-10-16 22:15] davesque commented on #9
This should be possible now with the latest master.  You can look at the README to see how it's done.  I decided just to do away with the whole extensible backend thing and just use the PyJWT library exclusively.  I'll update the CHANGELOG at some point to reflect backwards incompatible changes that were made in the process.

[2017-10-16 22:15] #9 closed

[2017-10-25 18:06] davesque commented on #3
I think we can hold off on this for now.

[2017-10-25 18:06] #3 closed

[2017-10-26 00:48] davesque commented on #11
@hvdklauw I ended up taking a different approach to fixing this issue.  I'm bummed I didn't get to use your work, but I really appreciate your taking the time to do it all the same.

[2017-10-26 00:48] #11 closed

[2017-10-26 06:28] hvdklauw commented on #11
Awesome, I think your solution is much nicer!

[2017-10-26 13:45] hvdklauw commented on #10
Easiest would be to add a function that takes the token as parameter and return value.
Put a reference to it in the settings and add it to the IMPORT_STRINGS.

Then use it at the bottom of the for_user method.

[2017-10-26 17:52] davesque commented on #10
Yeah that's definitely something I could do.  Honestly, I've always had a bit of an aversion to that style of customizing a library's behavior.  If possible, I'd like to find a way to do this that works by taking a more traditional, object-oriented approach.  Haven't quite figured out how that would look just yet.

[2017-10-26 23:26] davesque commented on #10
Here's the solution I've come up with: 448fb9717538b7d42e826ceb870d517be740bbca.  It's not ideal in the sense that it requires the subclassing of two classes.  But I think I prefer it since it's simply an object-oriented enhancement of the existing classes.

[2017-10-26 23:26] #10 closed

[2017-10-30 00:11] davesque commented on #8
@nicholasserra Did you ever happen to find out if a blank auth header type is kosher?  I haven't had the time to look into this.  Also, did my suggestion ever work out for you?

[2017-11-02 19:25] nicholasserra commented on #8
So for a bit I was basically just typing `Bearer example-token` into the Swagger authorize box, as this was the workaround:

![screen shot 2017-11-02 at 3 20 47 pm](https://user-images.githubusercontent.com/512288/32345751-86fc5ad8-bfe1-11e7-94ff-b0866da6f087.png)

But I just tried out your recommendation finally, and it works well. So as the code sits, you cannot add `None` to `AUTH_HEADER_TYPES`

[2017-11-02 19:25] #8 closed

[2017-11-02 20:36] davesque commented on #8
Thanks Nicholas.  Glad you got things worked out.

[2017-11-17 10:18] hvdklauw opened #13 "Blacklist app only blocks refreshtoken, not accesstoken"
When using the refreshtoken/accesstokens the blacklist app only blocks the issued refreshtoken, not the accesstoken that has been issued with it.

[2017-11-17 10:23] hvdklauw commented on #13
Hmm, I see now why, but that might not be what you want.

Maybe a accesstoken should contain a refreshtoken's jti if blacklisting is active, so you can also verify that against the database.

[2017-11-17 16:46] davesque commented on #13
As I see it, performing a check for every access token which is submitted defeats one of the purposes of using JWTs to begin with: that you don't need to do any DB access to use them properly.  Furthermore, that's one of the very reasons for having refresh tokens.  You perform the DB check against a blacklist for longer-lived, more powerful tokens, but set a small lifetime (5 minutes) or so for ac

[2017-11-18 09:42] hvdklauw commented on #13
Good point

[2017-11-18 09:42] #13 closed

[2018-02-26 13:07] dspechnikov opened #15 "Invalid token response does not provide WWW-Authenticate header"
According to [RFC](https://tools.ietf.org/html/rfc7235#section-3.1):

I think 401 status code is used correctly here (403 applies to already authenticated user), so it would be nice for response to conform with RFC.

[2018-02-26 18:57] davesque commented on #15
Thanks for pointing this out.  I'll see what I can do about this.

[2018-03-04 21:09] rajeevamoorthy opened #16 "A suggestion to prevent AttributeError when accessing TokenUser.is_superuser"
Thanks for the really nice ideas implemented in this module. I am in the process evaluating this package to implement SSO. I encountered AttributeError: 'AccessToken' object has no attribute 'get' while calling TokenUser.is_superuser.

I have diagnosed that the exception is due to the lack of a get() method implemented in the Token class.

Adding this piece of code should fix the issue.

[code]
ch

[2018-03-05 06:36] davesque commented on #16
Hah.  What a dumb bug :(.

Fixed in this commit: d751f50bd352ffd00baa4863b8823aa71d26cc8f.  Just published a new version with this fix included.

[2018-03-05 06:36] #16 closed

[2018-03-05 06:37] davesque commented on #16
Thanks for pointing that out by the way!

[2018-03-05 15:46] rajeevamoorthy commented on #16
Awesome, glad it's fixed! If I observe other enhancements, I will post them too! It would be nice to make has_perm() actually check permissions (potentially sent via the token).

Thanks for updating the codebase!

[2018-03-07 05:40] davesque commented on #15
This should be fixed with this commit: e1217664529481a37d32f7cabae77dc24ff18861.  Thanks for bringing this to my attention! :)

[2018-03-07 05:40] #15 closed

[2018-03-10 18:13] tguillemot opened #17 "Modify SIGNING_KEY to accept function"
Before going further, thanks for your work :).

For my application, I use a unique `SIGNING_KEY` per user to generate the tokens.
On the current version of the library `SIGNING_KEY` must be a string instead of a function depending of the user.
Do you have any plan to modify that in the future ?

Thanks in advance for your answer.

[2018-03-11 14:30] tguillemot commented on #17
Finally, I think the best solution is to implement a new Token class and send it to the library through `AUTH_TOKEN_CLASSES`.

[2018-03-11 14:30] #17 closed

[2018-03-12 03:53] davesque commented on #17
That works.  Sorry I didn't respond to this while it was open! :)

[2018-03-12 08:26] tguillemot commented on #17
@davesque No problem :)

[2018-03-18 09:30] pritstift opened #19 "Running tests locally fails"
Do you have some instructions on how to run the test. When i do `pytest`, test are collected but a lot of them fail. Probably you have to run them in a django installation?

[output of pytest](https://gist.github.com/pritstift/2c25173508f77da9dec575b94f1db7ce)

[2018-03-18 22:27] davesque commented on #19
I added a section to the README which includes some details about how to get set up for testing:
https://github.com/davesque/django-rest-framework-simplejwt#running-the-tests

In your case, it looks like you need to follow the "manual setup" steps at the bottom of that section.  Let me know if that helps!

[2018-03-18 22:27] #19 closed

[2018-03-19 07:09] pritstift commented on #19
👍
This helps.

[2018-03-20 09:25] tuupola commented on #5
Hijacking an old thread here. Maybe support Branca which is basically Fernet but with modern crypto?

https://branca.io/
https://github.com/tuupola/pybranca

[2018-04-24 10:34] bitdivision opened #21 "TokenRefreshSlidingSerializer verifies exp claim when constructing SlidingToken"
From the documentation in the readme:

This documentation doesn't seem to match what is happening in the code. The expiration claim is being checked even though only the refresh claim should matter.

The `TokenRefreshSlidingSerializer` serializer creates an instance of `SlidingToken` and then checks the refresh claim expiry. The constructor of `SlidingToken` calls the `__init__` method of `Token`

[2018-05-04 18:51] gbezyuk opened #23 "Allow cookies support, so that SessionAuth won't be required for the DRF browsable API"
Currently we often end up with a REST_FRAMEWORK config like this:
[code]

Here `rest_framework.authentication.SessionAuthentication` is present in order to allow browsing DRF's browsable API, which relies on cookies. However, this session auth class often causes problems for the primary application (cross-site origin related, not to go into too many details).

If only there were an option for Simp

[2018-05-05 07:59] davesque commented on #23
I feel like that's a bit out of scope for Simple JWT.  I think that including the `SessionAuthentication` backend for the purpose of logging into the browsable API is the correct way to enable that functionality.

[2018-05-06 20:06] #23 closed

[2018-05-29 08:14] adrienbrunet commented on #21
I face the same issue and I think you're right in your approach. Can someone confirm this ?

[2018-05-29 12:53] adrienbrunet commented on #21
@bitdivision What have you done to solve this ? Your PR breaks a few tests...

For example, with `verify=False`, this is no longer a correct test :

[code]

[2018-06-07 17:18] sergiowalls opened #24 "Serializer responsability"
I can see that serializers in this library are [authenticating users](https://github.com/davesque/django-rest-framework-simplejwt/blob/master/rest_framework_simplejwt/serializers.py#L33). Does this break the Single Responsability Principle? In my project I want to pass the request object to the authentication method but as it is coupled with serialization I can not do it without rewriting the enti

[2018-06-07 18:12] davesque commented on #24
Maybe it does.  Although the single responsibility principle is more of a guideline than a rule.  In practice, it's not possible to rigorously adhere to that principle.  In my experience, form and serializer classes usually end up doing more than just serialization tasks and form stuff and it's awkward to avoid that.

You're welcome to try and figure out a (hopefully) simple modification to the li

[2018-06-08 11:56] jesusjiib opened #25 "Refresh token rotation not storing the valid one on Outstanding token table"
Hi!

When _'ROTATE_REFRESH_TOKENS': True_, and _'BLACKLIST_AFTER_ROTATION': True_, the old refresh token is stored on the _Blacklist_ table, but the new one delivered is not stored on the _outstanding_ token table.

Is that the desired behaviour? Because by that way the new delivered refreshtoken cannot be manually blacklisted since we don't have it anywhere

Thank you for the lib!!

[2018-06-09 18:41] Julio0025 opened #26 "Custom fields are not being added."
Extra fields are not being added. I was following the documentation https://github.com/davesque/django-rest-framework-simplejwt#customizing-token-claims

    class CustomTokenObtainPairSerializer(TokenObtainPairSerializer):
       @classmethod
       def get_token(cls, user):
           token = super(CustomTokenObtainPairSerializer, cls).get_token(user)

           token['username'] = user.usernam

[2018-06-09 23:11] davesque commented on #26
Have you tried adding a breakpoint to your `get_token` method and following the path of execution?  Perhaps the request is not actually being routed to your view?

[2018-06-10 08:12] Julio0025 commented on #26
I feel stupid right now. I have never used JWT tokens before. Didn't know you have to decode them .... Everything works as it should.

[2018-06-10 08:12] #26 closed

[2018-06-10 14:34] sergiowalls commented on #24
#27 I try to make the minimum changes but I add some test to this new "feature"

[2018-06-11 15:29] davesque commented on #24
I'll try and find some time in the next few days to look over this.  Mostly looks good at a glance.

[2018-06-13 14:57] bitdivision commented on #21
@adrienbrunet - I'm fairly sure setting `verify=False` is a bad idea, but not had time to investigate any better solutions.

I would think that having a separate flag for expiration verification would be the best approach, but I wanted to check with the maintainers before doing that refactor.

Did you have any better suggestions?

[2018-06-13 14:58] bitdivision commented on #21
@davesque Would you be happy to accept a PR using the above approach?

[2018-06-13 15:02] adrienbrunet commented on #21
I tried to debug it but I ended up deep inside pyjwt and I only got a non secure solution... I stopped using sliding token and now use access and refresh token. It seems to me sliding tokens are currently broken by design within these libs. The current implementation does not seem correct (I might be mistaken but it does not work the way it's sold). Sadly I did not find enough time to provide a PR

[2018-06-14 12:49] unityliving-saravanan opened #28 "Logout Functionality"
How can i invalidate the token after the user logout form the application before token expire? Clearing the token form client side is not enough for prevent the access to protected resources.  Is there any other options or work round for invalidate key?

[2018-06-14 16:53] davesque commented on #28
Currently, there is no way to logout.  I had planned to add a revocation view for tokens but I just don't have the time to do it right now.

[2018-06-18 08:17] sergiowalls commented on #28
If refresh token were saved on database we can add a validation against it and perhaps invalidate compromised tokens.

[2018-06-22 20:49] calebpsdinc commented on #10
What about separate methods for get_access_token and get_refresh_token. My refresh tokens are very bloated with data that belongs only in the access token, but since I can't separate them they are included in both right now.

[2018-06-23 21:20] sphrak commented on #17
Hello,
Sorry for bumping this issue but I am interested myself as to how I could go about this, I would too like to be able to supply a function instead of a string for `SIGNING_KEY`. Can someone point me in the right direction? :)

[2018-06-26 00:44] MihaiVisu opened #30 "authentication decorators"
Hello,

If I wanted to use simple function based views, which would be the recommended way to check authorization with the access token from within the request header? Is there any decorator or should I create some custom methods?

Thank you in advance!

UPDATE: I just added the rest_framework decorator `@permission_classes([IsAuthenticated])` but I am not sure whether this is the right way becaus

[2018-06-28 11:43] MihaiVisu commented on #28
In my case I instantiated a `CustomAccessToken` class inheriting the `BlacklistMixin` too and in my logout view I just blacklist the token. I know it is not very effective from a database perspective, but it was the quickest workaround in my case.

One solution might be to edit the access token and add some kind of flag in the jwt encoding highlighting whether the token has been deactivated by log

[2018-06-28 11:43] #30 closed

[2018-07-09 12:15] panzelva opened #31 "Email normalization"
Hello,

when using custom user model with email instead of username and trying to log in (obtain pair of tokens), user's email is not normalized and view returns 400 code.

e.g.: user@example.com should be same as user@Example.com or user@ExAmPle.cOm, etc...

btw. I love the package!

[2018-07-10 16:23] sergiowalls commented on #24
Yeep, it's all okay?

[2018-07-14 07:21] superandrew opened #32 "Custom token claim not in output"
I'm trying to put out with the token a field that indicates that a user needs to change password.

So I implemented a custom claim, this way:

[code]

I can see the debugger step in, then the token is returned, but when I make the api call the token still contains only `access` and `refresh`.

[2018-07-14 21:53] frlinw opened #33 "Refresh custom claims"
Hi,

I switched from django-rest-framework-jwt to django-rest-framework-simplejwt.
- I'm using a sliding token
- I override TokenObtainSlidingSerializer `get_token` methods to add custom claims (first_name, last_name, ...)
- Users can update some of these data in the app

Problem: refresh the token just update the `exp` value. Is there a way to refresh custom claims with fresh data too ?

[2018-07-14 21:57] davesque commented on #32
The response from the token view is no the token itself but a JSON document which has `access` and `refresh` keys.  Those keys contain two base64 encoded tokens which should contain your custom claim.

[2018-07-14 21:57] #32 closed

[2018-07-14 22:04] davesque commented on #33
The only way to do that currently is to do something like this:

[code]

[2018-07-14 22:04] #33 closed

[2018-07-14 22:33] davesque commented on #21
I don't agree that sliding tokens should be usable if the "exp" claim is expired.  Otherwise, what's the point of using a sliding token?  Why not just set the `SLIDING_TOKEN_LIFETIME` claim to some long duration and forego refreshing tokens at all?  The idea with sliding tokens is that you can have a person be logged in for up to a certain length of time as long as they're active within a differen

[2018-07-14 22:42] davesque commented on #28
Actually, that's probably the best way to do it as long as you're flushing the blacklist fairly frequently.  If a token is expired, it will be flushed from the blacklist.  There's really no other way to log someone out with JWT's other than to have a blacklist or to change the signing keys (logging *everyone* out).

[2018-07-14 22:53] davesque commented on #24
I think it may be possible to use the `self.context` property which automatically includes references to things like the request and view instances.  See here:

http://www.django-rest-framework.org/api-guide/serializers/#including-extra-context

That article talks about include "extra" context.  However, I'm pretty sure that a fair amount of information is included in this context attribute by def

[2018-07-17 11:31] AustinStehling opened #34 "User Creation and Custom Response"
David, thanks for the great package.

I had a couple of issues I was running into that hopefully have an easy fix.

First was authenticating Users upon account creation. I tried implementing a serializer that inherited from ```TokenObtainPairSerializer```.

[code]
Upon authentication, I would add the token to the payload I passed to the frontend. The problem with this function is that it returned

[2018-07-19 20:29] LizanLycan opened #35 "Error for TokenRefreshView, 403 Forbidden"
* Platforms:

1. Python: 3.6.5
2. Django: 2.0.3
3. djangorestframework: 3.8.2
4. djangorestframework-simplejwt: 3.2.3
5. React

* Description:

When it is required to refresh the access token with the TokenRefreshView view through the frontend functionality in ReactJs `fetch ()` (general functionality in Javascript for request), it happens that it responds with `403 Forbidden: CSRF cookie not set`

[2018-07-23 08:29] marioyc commented on #28
https://github.com/GetBlimp/django-rest-framework-jwt/issues/385 mentions the possibility of having different signing keys per user which allows to logout only the intended user, would there be a simple way to implement this?

[2018-07-24 19:48] davesque commented on #28
Hmm...yeah, I suppose that *is* another way.  I can't think of a really straight forward way to do it right now.  A couple drawbacks to that approach:

* Creating tokens could take a database read or a cache entry per user account
* It could be difficult to coordinate using the same signing key across multiple services

[2018-08-10 09:03] sampaccoud opened #37 "AttributeError when trying to access "is_staff" or "is_superuser" on a TokenUser"
## Bug Report

**Expected behavior/code**
If I have a JWT token with the "is_staff" or "is_superuser" property set, I expect these properties to be available on a TokenUser instanciated with this token.

**Actual Behavior**
A clear and concise description of the behavior.

**Steps to Reproduce**

File "/usr/local/lib/python3.6/site-packages/rest_framework_simplejwt/models.py", line 47, in is_staff

[2018-08-10 18:37] davesque commented on #37
Thanks for submitting this issue.  I think those `token.get` statements were just typos that resulted from me forgetting that the token objects only implement part of the dictionary API.  If you'd like, you can make a pull request which makes that modification.  You'll have to update one or two tests as well which will break.

[2018-08-11 05:49] sampaccoud commented on #37
I looked into it and In fact my reporting was wrong. I thought I was installing the last version with `djangorestframework_simplejwt==3.2` in my requirements but because of the 3.2 tag it was installing 3.2 instead of 3.2.3.

Maybe you should rename it to 3.2.0? Anyway all is well. Thank you for the great work and the fast answer.

[2018-08-11 05:49] #37 closed

[2018-08-13 00:44] whirish opened #38 "Verifying audience and issuer claims"
I am following the guide at https://auth0.com/docs/quickstart/backend/django/01-authorization to use auth0 with DRF. This guide uses the `django-rest-framework-jwt` package which allows verification of the `aud` (audience) and `iss` (issuer) fields as per [RFC 7519 Section 4.1.3](https://tools.ietf.org/html/rfc7519#section-4.1.3). Is this possible with the current state of this library?

[2018-08-13 19:34] davesque commented on #37
You should try pinning a version range instead of an exact version.

[2018-08-17 09:09] liampauling commented on #24
I am having issues with 'django axes' due to it requiring the request to authenticate.

@davesque looking through the code is there any reason why the authentication cannot be moved to the JWTAuthentication class? This seems to be standard with the examples in restframework and I would have thought make things cleaner.

[2018-09-01 15:01] wakaryry commented on #28
You could add a judge that a token before the logout is invalid.

If add tokens into db, why not to use sessions.

[2018-09-09 04:48] ckeeney commented on #34
I have this working reasonably well, but the code could probably be a bit cleaner.

.  If I post a `username` and `password ` to this view, a `User` is created and the response contains my access tokens with a claim added for the user's email address.

[code]

[2018-09-13 19:12] #35 closed

[2018-09-14 08:22] behconsci opened #42 "ImportError: cannot import name 'InvalidTokenError'."
I am getting this error:

    ImportError: Could not import 'rest_framework_simplejwt.authentication.JWTAuthentication' for
    API setting 'DEFAULT_AUTHENTICATION_CLASSES'. ImportError: cannot import name
    'InvalidTokenError'.

![image](https://user-images.githubusercontent.com/10358323/45538701-110b4300-b808-11e8-9edf-70a782518d8f.png)

any idea why?

[2018-09-25 12:49] TihonV opened #43 "TokenObtainPairView raise BadRequest instead of Unauthorized"
Steps to reproduce:
1. Create user
2. Try sign in with a wrong password.

[2018-10-18 06:36] Regzon opened #46 "Token verification is passing after token rotation"

[2018-10-19 11:13] SMaurischat commented on #42
did you find a solution? stumbling across the same thing after a new setup.

[2018-10-19 11:16] behconsci commented on #42
@SMaurischat I just switched to:

Django==2.1.1
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0

and it worked.

[2018-10-22 09:35] SMaurischat commented on #42
ok got it, apparently i had https://pypi.org/project/jwt/ installed which is creating the same module names as https://pyjwt.readthedocs.io/en/latest/ does.
pip uninstall both, install pyjwt -> your good to go

[2018-10-22 10:29] behconsci commented on #42
ah nice, glad you solved it!

[2018-10-22 14:02] mitch104 opened #47 "Token saved to OutstandingToken does not match custom serializer output"
When a custom serializer adds extra fields to the JWT payload and the `rest_framework_simplejwt.token_blacklist` app has been added to `INSTALLED_APPS` in settings, the `token` field in `OutstandingToken` does not match that returned to the user.

The following 2 lines in the code are responsible for entering the string representation of the tokens into the database:
https://github.com/davesque/dj

[2018-10-23 09:48] ilstreltsov opened #48 "If successfully authenticated, why to not return token instance instead of None in JWTAuthentication?"
https://github.com/davesque/django-rest-framework-simplejwt/blob/master/rest_framework_simplejwt/authentication.py#L41

`return self.get_user(validated_token), validated_token`

Then I can check token payload in DRF views and, for example, invalidate all except current refresh tokens on password change.

[2018-11-06 08:45] User3759685 opened #52 "Allow multiple algorithms to be used"
We need to allow both RS256 and HS256 authentication. Basically we want to allow users of our API to either login with email/password to get the the token (normal users), or, they provide us their public key to verify their secret key signed JWT signature (external systems using our API). At the moment, drf simplejwt does not seem to allow this without some hacking.

Currently the Token class' \_\

[2018-11-13 13:28] gilsonbp opened #53 "Translate validations"
I need returned as validation messages without my name to be displayed on the front end.

https://github.com/davesque/django-rest-framework-simplejwt/blob/master/rest_framework_simplejwt/serializers.py
See line 47, I need to translate this message that is returned when the user is inactive.

I tried to extend but it does not work.

[2018-11-13 13:34] #53 closed

[2018-11-19 15:02] User3759685 commented on #48
This would be nice addition. I'd like to do permission check that either the request user is authenticated, or there is token in the request.

[2018-12-09 15:01] ngocngoan commented on #28
Hi!

I wrote a logout function, and I added a successful token refresh to the blacklist. But then I realized that when I send requests with access token in HTTP Header, I still get the value of success (code 200) without the unauthorized error (code 401) as expected.

[2018-12-18 00:24] dominicmarmont opened #54 "IndexError list index out of range when an empyt"

[2018-12-18 00:24] dominicmarmont opened #55 "IndexError list index out of range when an empty AUTHORIZATION header is sent"
If an empty AUTHORIZATION header is sent to `JWTAuthentication.get_raw_token()` then an IndexError occurs rather than returning None

[2018-12-18 00:30] #54 closed

[2018-12-18 00:33] dominicmarmont commented on #55
Stacktrace:
[code]
#56 should fix this issue.

[2018-12-18 07:05] padmaja9 opened #57 "How can i give expiry time based on user role?"
i tried giving exp time in payload like this

    SUPERUSER_LIFETIME = timedelta(minutes=60)
    class MyTokenObtainPairSerializer(TokenObtainPairSerializer):
    @classmethod
    def get_token(cls, user):
        token = super(MyTokenObtainPairSerializer, cls).get_token(user)
        if user.is_superuser:
            token.set_exp(lifetime=SUPERUSER_LIFETIME)
        return token
    class MyToke

[2018-12-19 05:30] navenchary commented on #57
[code]
And in urls.py

`path('api/token/',MyTokenObtainPairView.as_view(), name='token_obtain'),`

I would like to override the access token expiry time. It seems like the above code is overriding the  'refresh' token inspite of access token. Anyone can help me on this please .

[2018-12-19 19:45] davesque commented on #57
As a side question, is there a reason you'd like the access token in particular to be longer lived instead of the refresh token?  A longer lived refresh token can be continually used to get access tokens unless you have refresh token rotation activated.

Anyway, to do what you want, the most straight-forward approach is probably to override the `validate` method on your serializer and then replace

[2018-12-20 19:09] davesque commented on #57
I'm going to close this ticket.  If my suggestion didn't help, feel free to re-open it.

[2018-12-20 19:09] #57 closed

[2019-01-03 12:57] jamescooke opened #58 "`state.token_backend` does not respect updated Django settings at test time"
While writing a small integration test to assert that data can be retrieved from a JWT created by this lib, I found that [pytest-django's settings fixture](https://pytest-django.readthedocs.io/en/latest/helpers.html#settings) is not causing an update to `state.token_backend` instance (https://github.com/davesque/django-rest-framework-simplejwt/blob/128582df8f07b5e0fb74c51a0dc90d11302bba07/rest_fra

[2019-01-06 19:09] adwait-thattey opened #59 "Revoke refresh token if password is changed"
If the user changes his/her password, the old refresh token can still be used to generate new access tokens.

How to make refresh tokens invalid if username or password is changed

[2019-01-16 01:43] JerzySpendel opened #64 "Use default_error_messages and self.fail"
Let's take a look at TokenObtainSerializer:

[code]

And let's change this and other serializers to look more like that:

[code]

This way, when I inherit over `TokenObtainSerializer` and override `validate` method, I don't have to copy and paste the error message, I can just use `self.fail` with proper argument. What do you think?

[2019-01-16 23:18] JerzySpendel opened #65 "Naming issue"
To what extent `TokenObtainSerializer` has anything to do with tokens? It can be misleading that serializer that has at least `token` is it's name is always returning empty dictionary.

What do you think about naming that more in terms of authentication? `AuthenticationSerializer` or something like that?

[2019-01-16 23:26] JerzySpendel opened #66 "Usage of authenticate function in TokenObtainSerializer"
[code]
TokenObtainSerializer is using authenticate function which makes it impossible use something else than User.USERNAME_FIELD for authentication.

Let's say I set `username_field` to something else than `User.USERNAME_FIELD`, for example `email` (and assume `User.USERNAME_FIELD` equals to `username`). Is this going to work? `authenticate` function is going to use `User.USERNAME_FIELD` = `usern

[2019-01-16 23:54] JerzySpendel opened #67 "Implementation of validate method"
Let's look at:
[code]

Why `refresh` and `access` fields are added in `validate` method? This method is supposed to validate data returned by `to_internal_value`, why not add those to keys in `to_internal_value`?

In my case, I had to override `TokenObtainPairSerializer` in the following way:

[code]

I had to explicitly declare these two fields under `class` statement, otherwise I have been recei

[2019-01-17 22:47] davesque commented on #65
It's called `TokenObtainSerializer` because it's associated with and used by the `TokenObtainView`.  The `TokenObtainView` follows the pattern of view naming `<Model><Action>View`.  Tokens are not *exactly* a model in the typical Django sense but they're still close enough.

[2019-01-17 22:48] #65 closed

[2019-01-17 23:48] JerzySpendel opened #68 "IndexError: list index out of range"
When sending empty string as a value of Authorization header, i.e: `Authorization:`, then I get:

[code]
(this is only a bottom part of traceback)

I believe the code responsible for this behaviour is:

[code]

I think this situation should be handled somehow, right now this will result in 5xx type response. Should I prepare PR to fix that, supposing that this is fault of this library and not my c

[2019-01-18 00:02] JerzySpendel commented on #68
Ok, sorry for spamming, I just now noticed that there's alredy issue with the same problem and even a bugfix that's alredy merged. I think it's quite important bugfix

[2019-01-22 21:40] HH0718 commented on #26
@Julio0025 Could you provide your method to solve this issue?

[2019-01-24 08:20] parmeshbhande opened #70 "Authentication using username or email"
it is not supporting username_or_email and password for authentication. Any settings to authenticate using username as well as email?

[2019-01-26 07:56] kcrebound commented on #68
the same problem, the new release is will be useful

[2019-01-26 20:44] jaycle opened #71 "Allow httpOnly cookie storage"
Similar to #23 but with a different motivation.

To protect against XSS, I would like the option to store the JWT in an HttpOnly cookie. `django-rest-framework-jwt` has this feature as an optional setting but that project I believe is abandoned and also has a vulnerability due to preventing the usage of django's CSRF token (see: https://github.com/GetBlimp/django-rest-framework-jwt/pull/434). Comb

[2019-02-02 15:37] chgad opened #72 "Access JWT claims in view method"
Hello everyone,

I'm currently working on a `DRF` ViewSet which defines a `create()` method.

For this method i need to access the `user_id` claim from the JWT.
I couldn't find anything on accessing claims during view handling/preparing so I'm currently stuck with
a imo rather bad solution for this :

    def create(self, request, *args, **kwargs):
        data = request.data
        jwt_token = r

[2019-02-02 17:51] bitdivision commented on #21
Fair enough @davesque - I wasn't sure what the expected behaviour was and the documentation wasn't super clear.

I'll close this. Thanks for the response

[2019-02-02 17:51] #21 closed

[2019-02-07 22:20] jnegro opened #73 "Django 2.0 dropping support for Python 2"
Unit tests against django master are failing because Django 3.0 is going to drop support for Python 2.  They are deprecating django.utils.encoding.python_2_unicode_compatible function, which is imported and used as a decorator in models.py.  This error can be see on the py37-djangomaster-drf39 test case:

[code]

The link to the deprecation announcement is here:
https://github.com/django/django/bl

[2019-02-09 18:29] derek-adair commented on #71
This is super important for me going forward... and it should be for everyone who uses this project.  [It SEEMS to be rather trivial to set the cookie](https://github.com/GetBlimp/django-rest-framework-jwt/search?q=JWT_AUTH_COOKIE&type=Code).

Unsure what other side effects this may have.

[2019-02-10 21:04] guzzijones opened #74 "How do I base64 decode the tokens on the client side?"
base64.b64decode of refresh token is failing.  I am getting incorrect padding error.  Is there another method I can used to decode the base64 encoded token?

[2019-02-10 21:15] guzzijones commented on #74
[code]

this seems to work.

[2019-02-16 08:51] sshishov commented on #72
Hello, to get the payload you do not need to decode and use key. Key is needed just to sign the payload (that it is not altered).
Just write the util's method for you to get the payload from token:
[code]

[2019-02-16 08:58] sshishov commented on #67
Just a question, why did you base your serializer from two classes, including your custom `CustomTokenObtainSerializer`?
In my case I inherited from `TokenObtainPairSerializer` to create my serializer and wrote validate method to send signal `user_logged_in`. Everything works as expected.

[2019-02-16 08:59] sshishov commented on #66
IMHO in this case write your own AUTH Backend and implement `authenticate` method. I am not maintainer but in my opinion `USERNAME_FIELD` is the field for authentication, do not look at the name of the field, feel the meaning.

[2019-02-16 09:01] sshishov commented on #59
In my opinion refresh token should be `blacklisted` in this case.
Also RefreshToken should be blacklisted in case of new `authentication` IMHO

[2019-02-16 09:04] sshishov commented on #46
Please retest this issue as for me it is not passed.
Rotation only happens when you call `refresh` API with provided refresh token.
I noticed that old RefreshToken is not blacklisted if new pair is generated using ordinary login what is also the omission in my

[2019-02-16 09:10] sshishov commented on #25
Also noticed this. It should not be like this.

[2019-02-18 14:33] derek-adair commented on #28
Would someone mind posting a gist of this working?  Seems like something beneficial to the docs.

[2019-02-18 15:47] sergiowalls commented on #24
@davesque I think that using `self.context` implicitly is a bad idea as it could imply unexpected behavior for customs requests and views. Simple JWT users may spent some time looking for this behavior if we make it implicit. As said in the Zen of Python

[2019-02-18 17:50] orehush commented on #28
@derek-adair I have created [https://gist.github.com/orehush/667c79b28fdc94f86746bd15694d1167](gist) with logout view.
@ngocngoan access token will be expired in ACCESS_TOKEN_LIFETIME and you can not refresh it, because refresh token blacklisted.

[2019-02-18 23:03] JVP3122 opened #75 "Django/Vue braces added to request method after logout"
Cross-post from [https://github.com/axios/axios/issues/1994#issuecomment-464779874](https://github.com/axios/axios/issues/1994#issuecomment-464779874) that I thought was an axios issue but a user tried it out with a mock backend server and didn't have a problem.  I'm also posting on [https://github.com/Tivix/django-rest-auth/](https://github.com/Tivix/django-rest-auth/) because I'm not sure if it'

[2019-02-19 21:53] davesque commented on #73
Just created a branch for removing python 2 support.  Feel free to look it over and give a review.

[2019-02-20 06:44] davesque commented on #75
I'm pretty confident in saying this doesn't sound like an issue with `simplejwt`.  Going to close this for now.  If you're eventually certain that I'm wrong, feel free to re-open.

[2019-02-20 06:44] #75 closed

[2019-02-20 06:44] davesque commented on #74
Sounds like you figured it out :).

[2019-02-20 06:44] #74 closed

[2019-02-20 07:08] davesque commented on #72
@chgad Assuming you're using the `JWTAuthentication` backend properly by placing it in the list of `DEFAULT_AUTHENTICATION_CLASSES` in the `REST_FRAMEWORK` config object, Django should provide a user object to you on the view's `request` object:
[code]
If you're not able to resolve the difficulty, feel free to re-open the issue.

[2019-02-20 07:08] #72 closed

[2019-02-20 07:55] davesque commented on #31
Can you provide a more specific example of how this is causing issues for you?

[2019-02-20 14:44] sshishov commented on #72
Just try to be more specific, what you should get in the view. If you need `user_id` then you do not need to get it from the token. Just get it from `request` object as @davesque mentioned.

[2019-02-20 16:00] bourou01 commented on #34
Hi,
here an exemple with a custom user model from sqlalchemy

serializer.py
`
from common.model.shared.User import User
from common.businesslogic.persistance.UserBL import UserBL
from rest_framework import fields
from rest_witchcraft.serializers import ModelSerializer
from rest_framework.validators import UniqueValidator
from common.config.database.connection import ConnectorPostgres, ConnectorPos

[2019-02-20 20:15] felixxm commented on #73
Django dropped python 2 support in version 2.0 (see [docs](https://docs.djangoproject.com/en/stable/faq/install/#what-python-version-can-i-use-with-django)).

[2019-02-20 20:20] davesque commented on #73
@felixxm Yes, now I remember that.  Thanks for pointing that out.

[2019-02-20 21:40] nourani commented on #70
+1 from me. However, I don't think this is an issue but rather a feature?

[2019-02-21 03:33] dremfly opened #78 "django2.1 error"
First of all, thank you for your support.
 I am from China, English is not very good,so  I am using google translation.
 I encountered an error in django2.1 and could not get the token, but it is ok in django2.0.
I use a custom authentication username and password and custom get the token, but  in django2.1 error, it prompts: {'non_field_errors': [ErrorDetail(string='No active account found with t

[2019-02-21 05:05] davesque commented on #78
Can you post a more detailed example of the code you're using?  It's hard to understand the issue just from the information you've provided.

[2019-02-21 05:43] yizantianxia commented on #78
OK ,Below is my code，It doesn't work in django2.1

[code]

[2019-02-21 05:53] yizantianxia commented on #78
@davesque

[2019-02-21 09:12] chgad commented on #72
Hi,
please excuse me for taking so long to respond to the first/second answer.

@davesque suggestion is what i finally went with, which didn't work in the first run due to a miss-configuration of our `settings.py` .

This miss-configuration resulted in `self.request.user` always becoming an instance of  `AnnonymusUser`.

In response to @sshishov :

We are looking forward to implement interactions

[2019-02-21 15:15] wakaryry opened #80 "How to use other auth backends such as phone/email with password"
Now the auth is username with password.
How to auth use username/phone/email with password?
User would use any to login.
Thanks.

[2019-02-22 01:15] yizantianxia commented on #80
答案在下面一个问题中

[2019-02-22 02:35] #80 closed

[2019-02-23 20:19] davesque commented on #73
Merged #77 .

[2019-02-23 20:19] #73 closed

[2019-02-23 21:57] davesque opened #82 "Create RTD site for Simple JWT"
We should have a readthedocs site for Simple JWT.  I'll hopefully get to this in the next couple of weeks.

[2019-02-25 14:58] gabn88 commented on #70
Authentication is done using the authenticate method of django.contrib.auth. Therefore you can modify its behaviour by modifying the AUTHENTICATION_BACKENDS setting in settings.py.

Your question has nothing to do with this package, please close.

[2019-02-25 15:04] gabn88 commented on #66
I really see too many questions concerning email authentication. Below a pluggable authentication backend, copied from django-alluauth. Feel free to use it.

Could we now please go back to security and/or other questions regarding usage of this package and close all unrelated questions?

[code]

[2019-02-25 18:35] #66 closed

[2019-02-25 18:38] davesque commented on #70
What @gabn88 says is correct, actually.  Take a look [here](https://docs.djangoproject.com/en/2.1/topics/auth/customizing/).  Will close this since it seems out of scope for simple jwt.

[2019-02-25 18:38] #70 closed

[2019-02-25 18:40] gabn88 opened #83 "Token has no update method"
I have seen https://github.com/davesque/django-rest-framework-simplejwt/issues/10, and this works. But if you want to add a bigger amount of keys it would be handy to have an update method on the token, like with a normal dict.

[2019-02-25 18:45] davesque commented on #24
Honestly, this just seems too specific to your particular use case.  I suggest you just use this pattern in your project and that we keep it separate from the main fork of simple jwt for now.

[2019-02-25 18:45] #24 closed

[2019-02-25 19:11] davesque commented on #68
I believe this issue has been addressed since the new release?  Feel free to re-open if that's not the case.

[2019-02-25 19:11] #68 closed

[2019-02-25 19:12] davesque commented on #31
I'll go ahead and close this since I'm doing some housekeeping.  Feel free to re-open if this is still a problem.

[2019-02-25 19:12] #31 closed

[2019-02-26 08:08] davesque commented on #64
Yeah, looks good to me.  Feel like making a PR with those changes?

[2019-02-26 08:49] davesque commented on #43
Yeah, I think you're right that 401 is more appropriate in that case.  I just made a PR for this and you're free to inspect.  I'll merge it in a day or so.

Actually, now that we're raising more non-validation errors inside of serializers, it's making the point that @sergiowalls was trying to make in #24 seem more valid.

[2019-02-26 10:06] Toruitas commented on #59
It's not the best UX, but you could delete the tokens from local storage and force the user to log in again.

Something like:
`localStorage.removeItem('refresh_token');`

[2019-02-26 11:11] JerzySpendel commented on #64
Ok :)

[2019-02-26 11:16] fuergaosi233 opened #86 "I don't need refresh token, what should i do?"
i just need back-end return a token, but i can't find some option about it.

[2019-02-26 11:41] sergiowalls commented on #24
Good! I will try to find some time this week to think about it...

[2019-02-26 20:30] davesque commented on #86
You can just discard the refresh token and set the access token lifetime to a bit longer.  But this generally isn't recommended.  The idea is that you would keep the refresh token in storage that is more secure and only send it over the wire once in a while to reduce the change that your authentication creds are compromised.  You're free to use longer lived access tokens but you open yourself up t

[2019-02-26 20:30] #86 closed

[2019-02-27 15:13] gabn88 opened #87 "On refresh I think the user is not checked again (whether it exists)"
I've been going through most of the code now, trying to find differences between django-rest-framework-jwt and this package to migrate to this package if we can and if the security aspects allow it.

So far there are some minor differences:
1. refresh tokens and access tokens are created with a different type instead of the same type (in -jwt you can refresh a token by sending an access token to t

[2019-02-27 19:02] whatcould commented on #70
For others with this issue: In an existing app with multiple authentication backends (including login by email), I was confused when I passed "email" and "password" fields and DRF-simplejwt returned `{"username":["This field is required."]}`.

All I had to do was pass the email as the username — don't change the field name to 'email'.

[2019-02-27 20:27] davesque commented on #87
Simple JWT has this functionality.  Look at "Sliding Tokens" in the readme.  Although I think sliding tokens are not a good idea.  I recommend against using them instead of a refresh/access token pair.

That's intentional.  One of the reasons people use JWTs instead of DB-backed sessions is that there's no interaction required with a database.  If the signature checks out, then why not trust the t

[2019-02-27 20:45] davesque commented on #70
@whatcould Right.  The login serializer just uses the username field defined on the user model.  I don't think there's any way it could properly account for the behavior of non-standard authentication backends.

[2019-02-28 08:22] AlpaGyani commented on #35
Hey! Did you find out what the problem was? I am stuck with this problem right now. Issuing a new token request with TokenObtainPairView works just fine but TokenRefreshView and TokenVerifyView throws out 401, Unauthorized for me.

[2019-03-01 13:57] volartem opened #88 "Log out logic"
Hi guys,
can you explain one thing.
I'de like to understand what i should make on server side(drf), when user log out on client side.
On client side i remove Athorization header from request, but what need to do on server side in django part. How to remove current access/refresh tokens that had recieved on client ? And where they are stored?

[2019-03-01 14:02] gabn88 commented on #87
Thank you for your response. :+1:

I'm not fully into the spec of JWT, but I feel there must be a check if the user still exists and is active somewhere on the refresh. Most of the scheme's I've seen also state that a refresh requires contact with an authentication server (and database). Whereas accessing a resource with an access token does not (per definition, it might) require a check on the us

[2019-03-02 03:01] wisnuprama commented on #88
Hi @volartem, there is an ongoing discussion, see #28

[2019-03-02 11:16] volartem commented on #88
Thanks

[2019-03-02 11:16] #88 closed

[2019-03-04 11:02] volartem commented on #28
Is it possible to change expires_at in current access token on logout request?

[2019-03-04 17:10] davesque commented on #28
Yes, but there are still unexpired access tokens with valid signatures out in the wild at that point. So doing that wouldn't really log anyone out.

[2019-03-05 11:08] Igreh commented on #25
Any updates here?
bug or feature?

[2019-03-05 12:57] sshishov commented on #25
I fixed it by myself. I am not sure that it will be fixed soon... As the PR is a half of the year old

[2019-03-05 13:41] Igreh commented on #25
Could you provide a patch? I suppose it will speed up issue resolving

[2019-03-07 17:35] sandeshnaroju opened #89 "Programmatically get access_token and refresh_token in view"
I want to get refresh_token and access_token from user instance in view. How to implement it?

[2019-03-08 04:51] nithinmurali commented on #87
I think the /refresh should hit the database and check if the user actually exists. As the refresh token is used in a single request, i don't think hitting db would cause an overhead. In my case there is an endpoint for the user to delete himself. But there is no way for me to logout him after he deletes himself. As currently the refresh token dosen't check that user exists, the user can stay logg

[2019-03-08 05:52] davesque commented on #89
You could do something like this in your view code:
[code]

[2019-03-08 05:52] #89 closed

[2019-03-08 08:45] sandeshnaroju commented on #89
Thanks for the reply. But, I want to return refresh token and access tokens from APIView. I want to return these(Access and Refresh) after validating user sign in to my mobile app using google. I will validate the user details in the APIView If the user exists I will return access and refresh tokens so the user instance and the user can use them to continue using the app. **get_context_data** is n

[2019-03-12 18:46] binaypg opened #94 "how to get user id of the user"
how to get user id of the user
i am sending the
"Authorization":"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNTUyNDkyNzc0LCJqdGkiOiIwZGRkMDUwNzBmMmU0Nzc4YTkyMmJkN2FiOGEzYzMxNyIsInVzZXJfaWQiOjF9.MJfyaCqpinW9P9pRTI24IASvy6N2tEiJUKt8KJOvptI"

from payload

{
  "token_type": "access",
  "exp": 1552492774,
  "jti": "0ddd05070f2e4778a922bd7ab8a3c317",
  "user_id":

[2019-03-15 08:55] arnoldjos opened #95 "How to create sliding token manually for login."
Is there a way to create sliding token manually just like there is for the access token?

[2019-03-15 09:21] arnoldjos commented on #95
Nevermind found the answer SlidingToken.for_user(user).

[2019-03-15 09:25] #95 closed

[2019-03-15 09:29] arnoldjos commented on #94
In python after decoding it you can get it by:
token.get('user_id') or token['user_id']

[2019-03-15 15:52] #94 closed

[2019-03-21 21:08] greyhare commented on #28
The way things are supposed to work is that you have some other communication channel to JWT-using services, such as a publish-subscribe setup, that would broadcast revoked tokens. Those other services would need to add them to their blacklists.

This channel, IMHO, is outside the scope of this project, because we have no idea what it is (dbus, zeromq, smtp, who knows). The module user would be ex

[2019-03-21 21:24] greyhare opened #96 "Support for auth against user models other than get_user_model()"
I was looking through the code for this module, and I can't use it as-is because ``.state`` defines ``User = get_user_model()``. It would be nice if I could authenticate different tables against different users.

## Rationale ##

In the system I'm building, I want the ``AUTH_USER_MODEL`` table to be "company employee" users only, and I want "customer" users to be in a separate table. (There may be

[2019-03-21 21:46] davesque commented on #28
@greyhare Yeah that seems correct.  Although maybe we could add something like a signal that people could hook into if they want to build their own blacklisting channels.

[2019-03-22 01:59] greyhare commented on #28
Right now, I guess the signal could be "blacklist object created"

[2019-03-22 17:49] greyhare commented on #96
Well, that turned out to be much easier than anticipated. Passes all 122 tests. Now I need to figure out some tests for the custom user (as opposed to ``get_user_model``) route. And add this to the README.

All I had to do was replace:

    from .state import User

with:

    from django.contrib.auth import get_user_model

    # ...
    class JWTAuthentication(...):
        # ...
        user_clas

[2019-03-22 18:22] davesque commented on #96
Actually, I really like where you're going with this.  If you want to create a PR, I'll probably merge it in.  I feel like having those class properties opens up the ability for people to more easily customize the way things work.  It would be nice to have some tests that run through those customizations and then eventually some documentation to describe it.

[2019-03-22 19:01] greyhare commented on #96
In writing the tests, I'm noticing some other things like dependencies on ``api_settings``, which can be resolved by similar means. So there's a bit more work to go.

But it's going well so far. Tricky mocking up a couple classes to act like a custom user table without actually making a Django model out of it (which would require populating ``tests/models.py`` and writing migrations and so forth.)

[2019-03-22 19:02] greyhare commented on #96
(i.e. the user ID field name needs to be overridable but default to ``api_settings.USER_ID_FIELD``)

Python makes stuff too easy.

[2019-03-22 23:28] #64 closed

[2019-03-23 05:20] greyhare commented on #96
Well, only one tox test fails:

    INTERNALERROR> ImportError: cannot import name 'six' from 'django.utils' ([...]/venv/src/djangorestframework-simplejwt/.tox/py37-djangomaster-drf39/lib/python3.7/site-packages/django/utils/__init__.py)

Seems like a nothingburger, really. Should I do anything about it?

[2019-03-26 15:31] ThomasBoni opened #99 "[feature] permit to use custom header instead of "Authorization""
Permit to use another header than `Authorization` to retrieve token.

**Current and suggested behavior**

Current: this module permit only to use the standard header `Authorization`
Suggested: permit to user to define a custom header name

**Why would the enhancement be useful to most users**

For example:
I have a Django API which uses this module to manage authentication with JWT. I run this API

[2019-03-28 16:30] mscansian opened #100 "Release on PyPI"
@davesque Is it possible to release a new version to PyPI? I need to use some features that are in the latests commits.

[2019-03-28 18:01] davesque commented on #100
Just released `4.1.1`.

[2019-03-28 18:01] #100 closed

[2019-04-01 11:11] yhoiseth opened #102 "TokenObtainPairSerializer.validate() raises KeyError 'request' after update to 4.1.1"
Thanks a lot for making this library. I find it very useful.

I encountered an issue after updating to 4.1.1, using the following code in a custom view action.

[code]

This results in the following `KeyError`.

[code]

I fixed the issue by adding `token_serializer.context["request"] = request`:

[code]

As far as I can understand, #40 introduced the passing on of `request`, resulting in the `KeyE

[2019-04-01 14:15] trase8 commented on #28
maybe it's better to use cache or redis for blacklist storage backend? Cache may be expired for instance in 24h. So this allows not to use cron tasks

[2019-04-01 15:03] greyhare commented on #28
I haven't used Redis much myself. Can you tell it when to expire an object? If so, then you can just set object expiration time to token expiration time.

Also, can you search for an object via its SHA-256 hash? The blacklists I've seen elsewhere just store the SHA-256 hashes of expired tokens, not the tokens themselves.

[2019-04-01 21:56] davesque commented on #102
Just cut a fix for this: https://github.com/davesque/django-rest-framework-simplejwt/commit/e188845febc29a5ad059377437df58c8070a7acb .  Re-open if this is still happening.

[2019-04-01 21:56] #102 closed

[2019-04-02 06:41] yhoiseth commented on #102
Yeah, this solves the problem. Thanks a lot for the quick response!

[2019-04-03 19:43] fergyfresh commented on #71
@derek-adair I pick the cookie out in nginx and put it in the authorization header. This is a workaround, but it works for me.

[2019-04-03 21:44] soap opened #103 "Get 400 Bad Request when trying to refresh token"
When I call the refresh token end point, I got 400 bad request with this data:
[code]
I use POST with refresh token in body as JSON data.
[code]

What is possible of problem here? Please suggest.

[2019-04-03 21:49] eabrouwer3 opened #104 "AUTH_USER_MODEL used before it is installed"
I'm trying to integrate this package into my API and it's giving me problems when I'm trying to run the server. I get the error
[code]
user.User refers to a custom User model written to hold some extra information. The error occurs when in `state.py` you call `get_user_model()` to get the User model. I think it's called before the INSTALLED_APPS are actually installed, which is a problem. I even t

[2019-04-04 18:23] davesque commented on #104
I guess post your `settings.py` and things like that?  This probably has something to do with the particular config of your project since no one else has complained about this problem.  This seems like the sort of thing that would prevent almost anyone from using this package if it was a matter of our code doing something incorrectly.

[2019-04-04 18:29] davesque commented on #103
Can you post your relevant view and url code files?  My guess is that you're somehow routing refresh requests to the wrong view.

[2019-04-05 15:54] derek-adair commented on #71
I'll hopefully be submitting a PR for this in the near future!

[2019-04-07 13:36] soap commented on #103
When I removed rest_framework.auth_token from INSTALLED_APPS, it works!!

Thanks, I will close this issue.

[2019-04-07 13:36] #103 closed

[2019-04-07 14:17] lorddaedra opened #106 "Add JTI_CLAIM to SIMPLE_JWT config"
Add ability to change `jti` key name for integration with Auth0 (Auth0 do not add `jti` to jwt by default and you can't add `jti` via hooks there).

So ```access_token['jti'] = require('uuid').v4();``` will not work, but ```access_token['https://domain.com/jti'] = require('uuid').v4();``` will add `https://domain.com/jti`

It can look like:

[code]

default value: 'jti'

Related question on Auth0

[2019-04-08 09:27] petarGitNik opened #107 "Using third party token"
Is it possible to use third party token instead of the token generated by the framework? For example, when authorization/authentication is outsourced to Azure AD, the Azure AD returns JWT token which can be used to consumed my API. How could I save this token for the user? In a view?

[2019-04-09 01:42] davesque commented on #71
Cool, @derek-adair .  Looking forward to seeing that!

[2019-04-10 08:43] TorfinS opened #109 "Login via token"
Hi,
I need to create endpoint for this POST request:
`POST /api/login_panel_token`
Body of request:
`{"token":"access _token_generated_in_default_way"}`
I expect response: default with old tokens if valid or new.

Which way will be best to resolve this case? I'm trying:
[code]
[code]

Can I do it without overwriting classes?

[2019-04-10 10:14] TorfinS commented on #109
A more precise question in this case: It's possible to get user SECRET (id) based on access token? I want to use this code block in overwritten serializer.

[2019-04-10 21:07] wdifruscio commented on #43
Hi, is this fixed yet, or any plans to? I would like to have this!

[2019-04-11 02:54] ngocngoan opened #110 "how do I use ViewSet for login and logout functions?"
I need to write an authentication viewsets which do login and logout functions. So how do I resolve this issue

[2019-04-11 16:38] madEng84 opened #111 "Add Django 2.2 LTE support"
Is Django 2.2 supported?

If so README should be updated

[2019-04-12 16:15] eGirlAsm opened #112 "wrong type"
➜  ~ curl \
  -H "Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoic2xpZGluZyIsImV4cCI6MTU1NTA4NTc2OCwianRpIjoiM2RlMDU5NDk4Yzg1NDU3YmJjNTA2NDY0YmY0NDE4NDYiLCJyZWZyZXNoX2V4cCI6MTU1NTE3MTg2OCwidXNlcl9pZCI6MX0.K6mwJtAc1C0Q71DGeT9R0yKw6fEMK7Yxy64YwKUjJfE" \
  http://localhost:8000/schedule/
{"detail":"Given token not valid for any token type","code":"token_not_valid","mes

[2019-04-12 16:39] #112 closed

[2019-04-12 16:39] eGirlAsm commented on #112
from rest_framework_simplejwt.views import (
    TokenObtainSlidingView,
    TokenRefreshSlidingView,
    TokenVerifyView
)

instead

TokenObtainPairView

[2019-04-13 02:54] SamsadSajid opened #113 "Error: "non_field_errors": [ "No active account found with the given credentials" ]"
Winter is coming :v
I was using this library and after installing and following everything written on the `README.md` I got the above error.

First I tried with the following config.
## Config:
[code]

And I was getting the error:

        "No active account found with the given credentials"
   ]

And the server log was:

Then I changed to the following config:
[code]

And I still get the above-me

[2019-04-14 01:31] davesque commented on #113
That error message is returned when either when no user is found with the credentials that were submitted in the authentication request or when a user was found but is not active.  If that doesn't clarify things, feel free to re-open this issue.

[2019-04-14 01:31] #113 closed

[2019-04-14 01:35] davesque commented on #43
@wdifruscio Thanks for reminding me about this :).  I just rebased that PR and will merge it.  I'll probably cut a minor version release soon with that change included.

[2019-04-14 01:40] davesque commented on #43
@wdifruscio Just cut v4.2 with this fix included.

[2019-04-14 01:40] #43 closed

[2019-04-14 01:53] davesque commented on #111
Just added django 2.2 testing to travis and updated the readme.

[2019-04-14 01:53] #111 closed

[2019-04-14 02:19] SamsadSajid commented on #113
I just set up my project and currently, I have no user in the database. So you are saying I have to have some users in order to use this library?
If a user doesn't exist, say a new user wants to register, then how do I able to do it?

[2019-04-14 04:37] SamsadSajid opened #114 "`/api/token/` api returning different tokens if querying multiple times."
With the same username and password, if I hit the api, `/api/token` multiple times, though the expiration time for the token is not expired, I get different access tokens and refresh token in each response.
For example, if I do this first

I get the response
[code]

Then again if I do the `curl`, I get a different access token and refresh token?

Isn't it bad?
Like as long as the expiration date f

[2019-04-14 05:45] davesque commented on #113
You would need to make some kind of sign-up or registration form.  This library is for authentication and assumes that your app already has registration features and a database of user credentials.

[2019-04-14 05:48] davesque commented on #114
It's the client app's responsibility to keep track of the tokens it receives.  The tokens are different because they have different expiration times, since the requests to obtain the tokens happened at a different times.

[2019-04-14 05:48] #114 closed

[2019-04-14 05:51] davesque commented on #110
That question is really broad.  Can you give me more specific information about what you're trying to do?  If so, please re-open the issue.

[2019-04-14 05:51] #110 closed

[2019-04-14 05:56] davesque commented on #109
You shouldn't need to customize anything to do this.  You can just make a URL route for the default `TokenObtainPairView` as described in this section of the README: https://github.com/davesque/django-rest-framework-simplejwt#installation .  If that doesn't solve the issue, feel free to re-open this ticket.

[2019-04-14 05:56] #109 closed

[2019-04-14 06:12] davesque commented on #107
@petarGitNik The only thing that really makes tokens issued by simple jwt different is that they are required to have a `jti` claim and also include a `token_type` claim.  The `token_type` claim tells simple jwt what token class to use as a wrapper for the JWT payload.

If all you're trying to do is verify a this party token's signature and expiration time (and this assumes you have a way to do th

[2019-04-14 06:12] #107 closed

[2019-04-14 07:50] SamsadSajid commented on #114
Say, there's a scenario where a user modifies his `access token` and then send this to the server.
Well, if I don't have the capability to produce the same access token and the refresh token again I can't check if the user's action is valid and this is crucial in any transaction related system.

Leaving this thing on client side responsibility, I think it's quite not a good design.

I should have

[2019-04-14 07:50] SamsadSajid commented on #113
Thanks.. understood it. :D

[2019-04-14 09:59] madEng84 commented on #111
Thanks @davesque

[2019-04-15 20:31] davesque commented on #114
@SamsadSajid

You're misunderstanding how JWTs work.  The client can't modify the token because that would invalidate the signature.  They can't re-sign a modified token because they don't have access to the same signing key as the service that generated the token and will verify it.

I strongly recommend that you do some reading on the function and use cases of JWTs before trying to use them.

[2019-04-16 02:27] davesque commented on #106
Just released version 4.3 which includes this feature.

[2019-04-16 02:27] #106 closed

[2019-04-16 02:39] davesque commented on #99
It's easy enough to do this without adding an extra settings variable.  You can just make a subclass of `rest_framework_simplejwt.authentication.JWTAuthentication` like so:
[code]
The default implementation for `JWTAuthentication.get_header` includes a little extra logic to handle an edge case with the django test client as seen [here](https://github.com/davesque/django-rest-framework-simplejwt/bl

[2019-04-16 04:09] SamsadSajid commented on #114
I understand what you trying to say by these,

My point is how do you verify it? What verifies that the token coming from the front end is valid, signature is not distorted?

What I'm trynna say is that when I log in I get my access token and from the browser(debug section), I can see the structure of the token which is X.Y.Z and I can also know the length of each portion.

Now if I do this from m

[2019-04-16 05:26] davesque commented on #114
Sorry if I misunderstood the question.  You're correct that you can't validate a token on the client-side because the client doesn't have the secret key.  If you want to validate it, you can use the [`TokenVerifyView`](https://github.com/davesque/django-rest-framework-simplejwt/blob/d6084c595aefbf97865d15254b56017e710e8e47/rest_framework_simplejwt/views.py#L78).  Internally, validation is done by

[2019-04-16 05:31] davesque commented on #114
By the way, you don't have to manually verify any of the tokens that are sent with the `Authorization` header.  If you've included simple jwt's authentication backend in the list of default backend classes, as is shown in [this](https://github.com/davesque/django-rest-framework-simplejwt#installation) section of the README, then the authentication backend will do all of that for you.  It will auth

[2019-04-17 13:54] wdifruscio commented on #43
@davesque Thanks so much!!! Amazing

[2019-04-17 21:35] davesque commented on #104
I'm going to close this.  If you still want to try and figure this out, feel free to re-open it.

[2019-04-17 21:35] #104 closed

[2019-04-17 21:37] davesque commented on #99
@ThomasBoni I'm going to close this for now.  If the workaround I proposed seems inadequate or if other people have an interest in a feature like this, we can re-visit it and look into merging your PR.

[2019-04-17 21:37] #99 closed

[2019-04-20 08:25] SamsadSajid commented on #114
Thanks for the explanation. But I think there are information gaps. So let me give you the whole picture, why I'm using this library and for what usage.

Say I have a blog application. But the architecture is completely `REST`. The front is made by **React** and the backend is made by **Django**.
As the whole architecture is stateless, an access token is the only way to verify a user.

So in my sy

[2019-04-21 21:06] davesque commented on #114
This plugin assumes you're using `django.contrib.auth` to store a table of users in your database.  When you post a user's credentials to the token obtain view, the contrib auth app tries to find a user matching those credentials.  If it finds one, it creates access and refresh tokens for that user that contain the value in the user's `id` field.  That value is stored in the tokens under the `user

[2019-04-22 08:37] lynkas opened #116 "request.user is always Anomynous"
I can post and generate a token and refresh pair,
I can refresh the token,
I can verify the token.
but when I try to read some login-needed-content, it says that the request.user is an Anonymous user.

Here are my codes that has changed for simplejwt in settings.py

`REST_FRAMEWORK = {
    'DEFAULT_AUTHENTICATION_CLASSES':(
        'rest_framework_simplejwt.authentication.JWTAuthentication',
    )

[2019-04-22 18:45] davesque commented on #116
Can you post the relevant url config, view files, and `INSTALLED_APPS` setting value?  Also, can the possible make your request with `curl` in verbose mode so I can see the exact request and response data?

[2019-04-24 08:37] ndrbrt commented on #116
I had this issue with a regular Django view.
Try to use @api_view or APIView instead, if you hadn't already (https://www.django-rest-framework.org/tutorial/2-requests-and-responses/#wrapping-api-views)

[2019-04-24 08:55] sshishov commented on #59
This is my custom implementation of blacklist on consequent logins:

[code]

[2019-04-24 10:04] micurbanski commented on #96
How's that PR going @davesque? I did a very similar 'workaround' for my case and would appreciate having this in next release :)

[2019-04-25 01:09] lynkas commented on #116
@ndrbrt Thanks! it works.

@davesque Thank you, too. Now the problem is solved.

I should use @api_view.

[2019-04-25 01:09] #116 closed

[2019-04-26 17:03] ShamansCoding commented on #87
I think that might be some kind of optional behavior. Some times it is very convenience  In my case, I'm sending link to user photo inside the token. And also some permissions inside token that might change, during a user session.

Can it be possible?

[2019-05-04 08:58] martyzz1 commented on #96
yes +1 for this

[2019-05-05 11:30] arif opened #118 "How to get user information after verifying token"
How can I add user information to verifying view if token is valid?

I created custom serializer as subclass of `TokenVerifySerializer` and custom view as subclass of `TokenVerifyView`. How to add user information in response returned from this view?

I want to do something like this

[code]

[2019-05-07 09:06] SamsadSajid commented on #114
Hello again,
Yes, your explanation almost clarifies things except for one thing.

I was trying to get the payload from the token by doing this:

[code]

and then I did `token_payload['exp']` which returned `1557305578`. Is this a time in milliseconds? Does it mean that from the creation of the token, the token will expire after `1557305578` milliseconds?

I need to verify if the token has expired

[2019-05-17 22:49] arif commented on #118
Ok, I found the solution. I'm new at using JWT Authentication.

I figured it out with using decode method from jwt package

[2019-05-17 22:49] #118 closed

[2019-05-18 16:50] SamsadSajid commented on #118
@arif, how did you do it? If you please explain it a bit.

[2019-05-23 07:21] ajaiau0 opened #121 "no validation for Customizing token claims"
no need of  Serializer for the custome token claims

[code]
when i just call the view i got the acess token and refresh token,there is no need of security,
also i cant add any custom claim in Serializer.
[code]
it just return the token ,nothing my custom claim

[2019-05-23 09:34] arif commented on #118
@SamsadSajid

I installed PyJWT package from [here](https://github.com/jpadilla/pyjwt)

Then I created `CustomTokenVerifySerializer` class in `serializers.py` and override the validate method like this

[code]

[2019-05-23 09:35] arif commented on #118
@SamsadSajid

I installed PyJWT package from [here](https://github.com/jpadilla/pyjwt)

Then I created `CustomTokenVerifySerializer` class in `serializers.py` and override the validate method like this

[code]

[2019-05-23 12:28] psv-git commented on #121
Some problem for tokens - it just return "access|refresh" pairs with no my changes.

[2019-05-23 22:03] Marpop opened #122 "New translation"
Hello, I want to add new (Polish) translation, but I don't know how (I can't see manage.py or something to execute).

Do I have to make *.po file manually?

Thanks ;)

[2019-05-24 03:58] ajaiau0 commented on #121
@psv-git it works,thanks bro

[2019-05-24 10:02] psv-git commented on #121
You may override default user class like this:

[code]

But it not full example. Detailed description you may found in google by "custom user django" keyword.

[2019-05-27 02:32] mrodal commented on #71
Hey @derek-adair, are you on it? If not, I want to give it a try!

[2019-05-27 03:19] mrodal commented on #71
I could give it a try too, but I'm not sure how the refresh tokens come into play with cookies.. I think they don't make sense with cookies,

- If both are cookied, then both would be included in each request.. which takes away little secrecy the refresh token had.
- If only one of the tokens is cookied, the other will be kept in the client, which makes it vulnerable to XSS attacks. In this case,

[2019-05-28 06:25] madqueendany opened #123 "Override Username and Password fields"
I'm looking to override username and password fields.

My project relies on **Firebase** to authenticate users on the front end.

Firebase allows users to access the app through multiple channels
1. via email and password,
2. via SMS authentication,
3. via social media (ie Facebook, Twitter, Google account etc)

It then returns a `FirebaseUser` class with various fields like
1. email,
2. display n

[2019-05-28 09:15] madqueendany commented on #123
I ended up with overriding these classes:

* TokenObtainSerializer
* TokenObtainPairSerializer

In the former, I replaced the default values to

`email_field = User.EMAIL_FIELD`

and `password` to `uid`

Also added a custom ModelBackend to validate email and uid

Added this to settings.py

[code]

[2019-05-28 09:15] #123 closed

[2019-05-29 14:19] derek-adair commented on #71
@mrodal - yes it does, when its a same-site cookie.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#SameSite_cookies

[2019-05-29 14:26] derek-adair commented on #71
I'm pretty sure the scenario described is the way to go.  If anyone else has a more thorough understanding of how to secure these tokens i'd love to learn about it.

[2019-05-29 14:48] mrodal commented on #71
what do you mean by "it does"? What I meant is that as far as i know, refresh tokens provide an extra security layer because they are less exposed (they are only used when the access token expires)

But if they are stored in cookies, both travel in each request, so I don't see how refresh tokens make it more secure

[2019-05-29 19:17] davesque commented on #71
@mrodal makes a good point.  Refresh tokens are supposed to be sent over the wire less frequently (only when obtaining a new access token or access/refresh pair).  It's a bit awkward in the context of web browsers, but JWTs can potentially be used by non-browser clients as well.  The access/refresh dichotomy makes more sense in that broader scope.

[2019-05-29 19:30] davesque commented on #71
IIRC, another option would be that the refresh token cookie is only set for the refresh view's path.  Then, it would only be sent over the wire for refresh requests in particular.

[2019-05-31 13:25] derek-adair commented on #71
@mrodal it's my understanding that httpOnly + same site cookie is more secure than storing it in memory or localStorage (XSS vulnerability).

If the refresh token is not persisted in a cookie where would you suggest storing it?

Honestly this shit is soooo obtuse... this is the healthiest dialog i've participated around this subject.   I'm almost convinced to NOT implement JWT for web browsers.  H

[2019-05-31 13:31] derek-adair commented on #71
Does django mitigate XSS?

As someone who possesses JUST enough knowledge about security to fuck it up... i'm quite confused as to how to implement ANY jwt setup securely (**_in a web browser_**).

[2019-05-31 13:48] mrodal commented on #71
I would actually not use it at all when using cookies.. Since it requires extra logic in the front-end and, as I said before, I don't see the benefit from using it. This is what Im doing in a mobile app that's also going to be a spa in the future.

Take into account that storing it in the cookie makes you possibly vulnerable to CSRF attacks if you don't use CSRF tokens, since the auth token is aut

[2019-05-31 14:51] derek-adair commented on #71
So just store the actual token for longer, make them re-auth when it expires?

Man i wish i would have came to that conclusion before I implemented a replay request thing in my redux app.... ha!

Right, it's clear this is where the miscommunication.

What about if you are using CSRF tokens?  Should be good is my understanding.

[2019-05-31 14:55] derek-adair commented on #71
Jeeeeez.  So the refresh token is pretty damn useless in a browser... however....

httpOnly cookie still seems essential for the access-token.

[2019-05-31 15:37] mrodal commented on #71
Make the expiration time longer.. assuming https is being used, the risk of it being captured in the middle is negligible, and since its an httpOnly cookie, from js it cant be accessed either.. the only possibility I see is an attacker gaining physical access to the device and copying the cookies, but that I believe is always present anyways

Yeah, if you are using both CSRF and httpOnly cookies f

[2019-05-31 18:01] davesque commented on #71
@derek-adair This is what I was talking about with the cookie path.  If the refresh token is set for the refresh view path, the browser will only include a `Cookie` header with the refresh token when making requests to the refresh view.  So the refresh token is still used more securely and isn't sent over the wire as often as an access token.

What @mrodal is saying about CSRF also applies.  Since

[2019-06-01 15:18] errrken opened #124 "Axes messages"
Hi,

When using django-axes, and I get a lockout, I would like this to be shown in the error message instead of the "No active account found with the given credentials". Do I have to override TokenObtainSerializer in order to achieve this?

Thanks

[2019-06-07 00:01] metawise commented on #78
Did you resolve the issue yet? I'm having same issue after I upgraded to Django 2

[2019-06-24 20:49] jhouse-solvd commented on #121
Hi there, sorry to be dense, but I was on extending the claims myself, and was only getting back the original access/refresh response.

Are you suggesting a code modification for the built-in TokenObtainSerializer class, or adding in your own subclass which inherits the above?

[2019-06-24 21:51] psv-git commented on #121
If I understand your question correctly, I just inherite my own class by TokenObtainPairSerializer and override his "validate" method.

In this example I add only one string:

[code]

Other code its a just copy-paste from original method.

[2019-06-25 18:13] jhouse-solvd commented on #121
Cool, thank you for the response and clarification.

With gratitude,
*Jesse House*  *·  **Head of Products and Services*
E: jesse@slvd.io | M: 415.374.9562
slvd.io | Twitter <https://twitter.com/slvdio>

On Mon, Jun 24, 2019 at 2:51 PM PSV <notifications@github.com> wrote:

[2019-06-26 15:42] johnthagen opened #127 "Consider changing install instructions to `djangorestframework-simplejwt`"
In the README it says:

[code]

But the actual package link on PyPI is:
https://pypi.org/project/djangorestframework-simplejwt/

And PyPI instructs users to:

[code]

Both work, but I think this project should consider updating its install instructions to match PyPI to avoid confusion, and perhaps even make the name in `setup.py` match as well.

[2019-06-27 09:29] ajaiau0 opened #128 "is it possible to add username in token.the default is user id in token."

[2019-07-01 00:30] lig opened #129 "Avoid potential vulnerability in pyjwt"
`pyjwt` prior version 1.0.1 is [known to have](https://jwt.io/) a critical vulnerability.

It could be wise to depend on `pyjwt>=1.0.1` in `setup.py`.

[2019-07-01 07:39] geoffreylzf opened #130 "Is Session And Auth needed?"
After implement simplejwt into django project as the main authentication,

is it okay to remove session and auth from `INSTALLED_APPS` and `MIDDLEWARE`?

[code]
I am asking this because I plan to work on legacy database, I plan to create as less as possible for the new table (such as auth_group, auth_group_permissions, django session)

[2019-07-02 19:25] da13omb opened #131 "Conversion error when migrating token_blacklist app."
When running the initial migrations for the token_blacklist app I would get this message.
[code]

So in that specific migration there is this code.
[code]

I changed it to this and now it works.
[code]

[2019-07-03 13:04] m2mbr opened #132 "last login update"
Hi,

Is there any reason for the last_login field, in the auth_user table, is not updated

[2019-07-03 19:46] davesque commented on #132
I'm not sure why that would be.  We just use the standard authentication API for Django.  I would dig into how that API updates the `last_login` field and see how that's being done.

[2019-07-04 09:27] sonu247 opened #133 "Verify JWT Token Manually"
Hi, I am new to Django and having some issues with the verfiying token. I've created token manually, and now  I need it to verify the token, and I want it to do manually just like created it.

Thanks

[2019-07-04 13:40] timur-orudzhov opened #134 "Inactive users can't authenticate regardless auth backend"
Hi! I'm using the latest django==2.2.3. I can't able to authenticate a user with is_active=False, even though I set the authentication backend to `django.contrib.auth.backends.AllowAllUsersModelBackend`. After research I've understant for what the reasons it was done:

[code]

Nonetheless, I'm think there are some rare cases when we want authenticate users regardless of the `is_active` flag. I sup

[2019-07-04 16:10] andreafonso commented on #132
Yes, I noticed this behaviour quite a while ago, but solved it by editing the **serializers.py** file, adding this two lines at the end of the `validate()` function:

[code]

Don't know if this is the best/only way to do it though, @davesque .

[2019-07-04 17:02] m2mbr commented on #132
@andreafonso,
there are different ways to solve the problem, I imagine that it is important a solution that does not create hardcode.

[2019-07-04 17:05] m2mbr commented on #132
@davesque,

I am using the latest version of Django. without any change in the default behavior.
If it is a defect I can, I can search for a solution and send a "pull request"

[2019-07-04 19:09] davesque commented on #132
@m2mbr I'd say first try and find the ways in which the default `django.contrib.auth` authentication framework updates this value.  Then figure out why that code doesn't get triggered by simple jwt.

[2019-07-04 19:34] m2mbr commented on #132
Ok I'll do this.

[2019-07-05 14:06] shmidtelson commented on #132
Same problem

[2019-07-08 10:14] #134 closed

[2019-07-08 13:00] ThomasBoni commented on #99
Hello @davesque , (late) thanks for your answer, we have finally tried to implement it following your explanation and we have an issue.
When we use your module as a classical way (without custom header name) it works perfectly.

When we tried to use a custom header, something breaks, we have an error at each query:

Code:
[code]
Settings:
[code]

`TypeError` which occurs at each query:
[code]

[2019-07-12 11:16] andreafonso commented on #132
Fix https://github.com/davesque/django-rest-framework-simplejwt/pull/136

[2019-07-13 19:27] amity29 opened #137 "Override the login functionality"
How can I add some custom verification at the time of login? What I want to do is to send an email at the time of user registration and if the user verifies the email then only he can log in. For eg in Django auth, we can achieve like  -
[code]
in django-rest-framework-simplejwt user directly gets login by calling url-
`path('login', jwt_views.TokenObtainPairView.as_view(), name='token_obtain_pair

[2019-07-16 06:47] impala2 opened #138 "Add setting to specify user model manager name."
# Problem

Have custom manager set on `User` model which filters out certain types of users (sometimes this is desirable). There is a second, `all_objects` manager which is the default one and doesn't filter anything. `rest_framework_simplejwt.authentication.JWTAuthentication.get_user()` is hard-coded to use `User.objects`.

# Solution

Add `api_settings` option to configure this, default being `o

[2019-07-17 04:16] ajaiau0 opened #139 "Adding information to JWT token body."

[2019-07-17 05:26] #139 closed

[2019-07-17 05:26] ajaiau0 commented on #139
got it

[2019-07-17 05:59] #128 closed

[2019-07-22 14:35] xianfuxing opened #140 "How to get user object via access_token?"
Can I get the user object via access token?

[2019-07-24 06:41] hadi2d opened #141 "Revoke access token if password is changed"
If the user changes his/her password, the old access token can still be used until expired.
How to make access tokens invalid if username or password is changed. #59 !

I built a multi-platform project that I need to logout user from other devices after changing their password

[2019-07-26 09:08] rajasimon opened #142 "How to access request object in get_token?"
I want to access request object in `get_token` because I want to get company_id from the `POST` request and add  into token claims.

[code]

[2019-07-27 20:22] MarkYHZhang commented on #140
same question

[2019-07-27 21:42] arif commented on #133
Maybe this helps I've done it like #118

[2019-07-27 22:08] davesque commented on #140
It depends on what you have access to in the current scope.  If you're in the code of an authenticated view, your user has already been determined by django and the jwt plugin.  You'd do something like this:
[code]
If all you have is the base64 encoded access token string, you can decode it using the `AccessToken` class:
[code]

[2019-07-28 02:48] xianfuxing commented on #140
`user = User.objects.get(id=access_token['user_id'])` , works fine.
@davesque Thank you.

[2019-07-28 03:37] davesque commented on #140
@xianfuxing How come the authentication framework isn't giving you a user object on the request?

[2019-07-29 01:26] #78 closed

[2019-07-29 02:15] #140 closed

[2019-08-02 02:34] phuongtai opened #143 "Should we have TokenWhitelist?"

[2019-08-02 02:36] phuongtai commented on #141
Is Blacklist Token not enough for you?

[2019-08-02 12:11] napsterv commented on #130
May I ask how are you making things work right now?

[2019-08-02 14:43] naelmusleh opened #144 "Issue when Authentication fails: __init__() takes from 1 to 2 positional arguments but 3 were given"
I have the following in my views.py

[code]

And in my serializers.py
[code]

When Authentication is successful, data is returned with no issues. But when Authentication fails, instead of getting a JSON with the error message, I get the following Django Exception:

`__init__() takes from 1 to 2 positional arguments but 3 were given`

Traceback:
[code]

[2019-08-03 01:11] geoffreylzf commented on #130
@napsterv

My current setting is

[code]

auth is needed for jwt login,
session can be remove unless u need the default django admin site

[2019-08-03 22:12] davesque commented on #130
I think you should keep the `AuthenticationMiddleware`.  Otherwise, you won't have a `request.user` property available in view code.  But yeah, you can probably remove anything session related if you don't care about Django's admin site.

[2019-08-03 22:12] #130 closed

[2019-08-05 18:30] davesque commented on #143
The title of this issue is not clear enough to indicate what should be discussed here.  Re-open if you provide an issue description.

[2019-08-05 18:30] #143 closed

[2019-08-06 07:27] amirtavakoli997 commented on #142
I have this problem too.
Anyone have a solution?

[2019-08-06 07:33] rajasimon commented on #142
Hi amir,

Nope still searching for the answer.

[2019-08-06 20:54] davesque commented on #142
Are you sure you want to do be doing that?  Without knowing any more about what you're trying to do, it seems like a huge security risk to allow users to provide the information that you then sign with the server's token key.

[2019-08-06 20:56] vitale232 commented on #142
Since the `rest_framework_simplejwt.serializers.TokenObtainPairViewSerializer` inherits from the Django Rest Framework `Serializer` class, I think this [stackoverflow question](https://stackoverflow.com/questions/34613442/accessing-request-object-in-viewset-and-serializers-in-django-rest-framework) can get us there.

From the stackoverflow link, you can see that the request is stored on the contex

[2019-08-06 21:01] davesque commented on #142
@vitale232 I would ***strongly*** recommend ***against*** doing that!  You should really only be putting curated data into tokens.  Don't just take whatever a third party gives you in POST data and stick it in a token.  That's a great way to introduce vulnerabilities into your app.  Remember that, by signing a bearer token, you're basically saying to anything that accepts it as proof of authorizat

[2019-08-06 21:22] vitale232 commented on #142
@davesque Thanks, that makes sense to me. I personally don't see the use case for this... I would probably just submit two requests from the client. One for the token, one for the `other_thing`.

Is this one of the reason you use the `@classmethod` decorator in the docs?

[2019-08-06 21:38] davesque commented on #142
I suppose I chose the `classmethod` decorator just because the method didn't need access to the serializer instance at the time I wrote it.  So I thought I'd make that clear to the reader of the code with that decorator.

And there may still be a use-case for adding extra data to tokens.  It's just that you need to be careful about where it comes from and make sure it's undergone some kind of veri

[2019-08-07 05:08] amirtavakoli997 commented on #142
Thank you for your comment
but i want generate a token via agent that for example if a user use from another browser, become invalid token.
what is your opinion?

[2019-08-07 16:49] rajasimon commented on #142
After huge discussion we've decided to go with two API to our backend.

1. For getting the token by submitting the `username, password`. This API also return company information if the user assign to single company. else
2. Using the token to fetch all the `company_ids` and anytime the client will have multiple companies associated with it can able to switch without relogin.

@davesque Our interna

[2019-08-07 16:49] #142 closed

[2019-08-10 10:06] mjackstone6 opened #146 "Adding token claims when creating tokens manually"
I currently have an APIView that authenticates first to another server using request data and obtains a value (unfortunately this is the only way). I have updated the example to include this value in the get_tokens_for_user method:

    def get_tokens_for_user(self, data):
        refresh = RefreshToken.for_user(data['user'])
        refresh['value'] = data['value']

        return {
            '

[2019-08-15 04:50] phuongtai opened #148 "About raising NotAuthenticated without token in Header request"
I have some enhancements with exceptions of Authentication.
When I request to API without token in header, I would encounter the below error:

`AttributeError: 'AnonymousUser' object has no attribute ... `

That means request accessed to this view. So I think it's not secure and I have a sollution to fix that.

I will raise `NotAuthenticated` of `rest_framework` . Document hear: [link](https://git

[2019-08-17 19:29] klevamane commented on #113
Can someone please tell how I can override the message to something else. I'm currently making use of simplejwt and I get this message when an inactive user is being accessed or when the username and password combination is wrong. That's good but I just want to customize the message. Cheers

[2019-08-21 11:16] LECbg commented on #48
I think DRF doc on [authentication](https://www.django-rest-framework.org/api-guide/authentication/) supports this idea:

[2019-08-24 17:07] shinneider opened #150 "Breaking if no use auth model"
I use django for micro services architecture, in this case i have a API Gateway to control the auth users

in each micro service i need user id only, to filter and return data, validation of jwt and user model is not necessary, but i can not remote `django.contrib.auth` and `django.contrib.contenttypes`, because raise a exption...

My settings.py:
[code]

I investigate and sugest this alterations:

[2019-08-25 14:37] littlehome-eugene opened #151 "Using jwt as django auth backend?"
it's related to https://github.com/davesque/django-rest-framework-simplejwt/issues/130

I'm wondering if I could use single jwt auth backend for DRF and django views
(asked in SO as well https://stackoverflow.com/questions/57646299/django-jwt-authentication-in-django-view-not-just-drf/57646409#57646409)

In our app, we have webview and native android httpclient, and react-native.
If we have to use

[2019-08-26 13:15] caniko2 opened #152 "Question: Any way to make the payload on JWT tokens immutable?"

[2019-08-26 13:16] caniko2 opened #153 "Question: How would you have a client post immutable data to a JWT API?"
--deleted--

[2019-08-29 17:08] IvanFon opened #154 "Sliding Token Clarification"
Hi, I'm trying to use sliding tokens, but I think I need a bit of clarification. From what I understand, when I generate a sliding token, it can be used for authentication until it's expiration claim expires. After the expiration claim expires, I can refresh the token until the refresh expiration claim expires.

The problem I'm running into is that I can only refresh the token while the auth expir

[2019-09-01 21:18] shinneider commented on #150
I am still working on this issue.
wait a little longer

[2019-09-03 08:00] thomasboni opened #155 "Usage of custom Authorization header"
Hello,

Following issue #99 I have tried to use a custom header name to get the JWT token.
When we use your module as a classical way (without custom header name) it works perfectly.

When we tried to use a custom header, something breaks, we have an error at each query:

Code:
[code]
Settings:
[code]

`TypeError` which occurs at each query:
[code]

[2019-09-04 20:46] #153 closed

[2019-09-04 20:48] davesque commented on #152
They're effectively immutable since modifying them invalidates the signature.  I'll close this for now.  Feel free to re-open if my comment doesn't clarify things for you.

[2019-09-04 20:48] #152 closed

[2019-09-04 20:51] davesque commented on #48
I'm pretty sure this has been resolved.

[2019-09-04 20:51] #48 closed

[2019-09-15 12:24] hhuseyinpay opened #158 "Why TokenObtainPairView return Unauthorized?"
I get the Unauthorized response when I am trying to request token with incorrect username or password.  Why this is happening? I think it is more reasonable to get BadRequest in this situation.

[2019-09-19 19:22] ajhodges commented on #38
I think this can be closed now :tada:

[2019-09-20 02:04] whirish commented on #38
I think so too, thanks your PR

[2019-09-20 02:04] #38 closed

[2019-09-24 23:35] kinwolfqc commented on #26
yes, some help would be welcome here.  I have no idea what is meant by "you have to decode them"

[2019-10-02 07:17] kyantikov opened #160 "DEFAULT_AUTHENTICATION_CLASSES spec not being used"
I am having an issue where the simplejwt plugin, specifically the settings.py setup. I have the settings.py set up correctly, yet when attempting to log the user in, the authentication seem to run through the base DRF authentication class. I know this because when attempting to hit the endpoint with postman, a session cookie is generated. I am wondering what the issue is? Are there some sort of de

[2019-10-02 13:09] ro70 opened #161 "'No active account found with the given credentials' throws 422 instead of 401"
It's a bit a strange and I don't think it's an issue with the simplejwt package. But maybe you can give me a hint where I could search for the solution.

Among other packages I use
[code]

**ex 1**
The code below returns
[code]
for invalid credentials. I'd expect a 401 instead of a 422 status.

[code]

**ex 2**
The next code example returns
[code]
This seems to be the right answer for invalid cred

[2019-10-02 13:56] ro70 commented on #161
Ok... Updating simplejwt to version 4.3.0 did it!

[2019-10-02 13:56] #161 closed

[2019-10-02 23:14] kumjShid4 commented on #118
@arif Where do you put the CustomTokenVerifySerializer class? The serializers.py in rest_framework_simplejwt folder?

[2019-10-03 03:07] rbasniak opened #162 "Does it support custom claims in the token data?"
Hi!

I can see that the generated token has   token_type, exp, jti and user_id. Is there any way to add custom data to the claim in the token?

Thanks in advance!

[2019-10-03 09:11] pawel-czarnecki commented on #96
Do we have some progress in this feature? Please for merge ;)

[2019-10-03 12:38] arif commented on #118
@kumjShid4

No, it's not a good idea editing module files. I created serializers.py in my own app. So create file named serializers.py in your own app and import like this

`from your_app.serializers import CustomTokenVerifySerializer`

[2019-10-04 11:25] johnthagen opened #164 "Add example to README on how to use verify endpoint"
There is currently not an example in the README that gives an example of how to `curl` this endpoint:

[code]

[2019-10-04 16:27] ajhodges commented on #158
Unauthorized is the correct response in this scenario:

https://stackoverflow.com/questions/32752578/whats-the-appropriate-http-status-code-to-return-if-a-user-tries-logging-in-wit?answertab=votes#tab-top

[2019-10-04 17:15] hanneskuettner commented on #162
See the readme section about [customizing token claims](https://github.com/davesque/django-rest-framework-simplejwt#customizing-token-claims).

You can easily add your own claims by overriding the token serializer and obtain view and using that serializer in your `urls.py`:

[code]

[2019-10-04 18:26] threewordphrase commented on #146
+1, I would also like to do this

[2019-10-04 21:28] rbasniak commented on #162
@hanneskuettner Thank you so much, I don't know how I missed that section in the docs.

[2019-10-04 21:28] #162 closed

[2019-10-08 16:08] hanneskuettner commented on #162
That is correct. You're only modifying the token payload. That means you add the field `userid` and `username` to the token payload that is then encoded with the token and can be retrieved by decoding the token.

For example pasting your token into the online decoder found at [jwt.io](https://jwt.io) shows that the token does indeed contain your custom token payload.

If you want to add data to th

[2019-10-08 16:16] hscspring commented on #162
Oh, i got that, thanks very much .

i just printed the `token.__init__` and have seen the custom claims.

i believe u r very clever, i'm really need the user id to the HTTP response, then user id is together with token to request other APIs.

thanks again.

[2019-10-09 08:05] #158 closed

[2019-10-13 12:13] haichong98 commented on #113
Custom verification will report an error, and the custom verification settings will be annotated.

[2019-10-13 12:14] haichong98 commented on #113
@davesque

[2019-10-14 16:24] knasti opened #165 "Distinguish between token exceptions"
Hi,

I've been trying to distinguish between the following exceptions when logging whether a token is invalid.

-  Token has expired
-  Token is invalid
-  Token is blacklisted

To me it seems like the logic determining whether a token is valid is listed in the class Token inside tokens.py. Specifically lines 41-44. However, this will trigger the same exception (if I understand it correctly) wheth

[2019-10-14 23:18] #160 closed

[2019-10-17 14:31] IvanFon commented on #154
No, unfortunately. I ended up using separate auth and refresh tokens, which works fine.

It’s not a huge hassle to use two separate tokens, but in my case it would be slightly more convenient to use a single sliding token. Having separate tokens wouldn’t improve my security, both tokens are stored in memory/localStorage. If an attacker gets access to one, they have access to both.

On October 17,

[2019-10-18 11:40] #133 closed

[2019-10-19 23:36] akshaybabloo commented on #164
Added in #167

[2019-10-23 17:13] imomaliev opened #168 "Locale is not provided"
For some reason locale files are not present in wheel

[2019-10-25 18:55] ethanjahn opened #169 "User ID method handling"
Hi, thanks for the great work on this project!

I am using Auth0 and have been using the now deprecated django-rest-framework-jwt library but would like to switch to simplejwt. Part of the implementation I was using used a function to alter a username from the token and authenticate the user in Django's User model.

The relevant function is:
[code]
and the setting in django-rest-framework-jwt is:

[2019-10-28 15:16] Norfolks opened #170 "Add support other JWT algorithm"
For some reason there is no support for es(256-512) algorithm.
But it seems pyjwt includes them.
What are pitfals of the implementing it?

Thanks :)

[2019-10-28 16:52] struegamer commented on #150
@shinneider did you find a solution for this issue?

[2019-11-06 20:59] ajhodges opened #171 "TokenUser should be configurable"
We've got a use case where we want to flesh out some of the properties of TokenUser like `permissions`, and possibly add other custom properties. It'd be a pretty simple change to allow the TokenUser class to be configurable, and I'm going to take a stab at it.

[2019-11-14 21:33] decepulis commented on #154
I think I'm having the same problem...
If I understand the problem correctly, in the time after `exp` and before `refresh_exp`, we should be able to refresh the token with `post('/api/tokens/refresh/', {'token': token})`.  But instead, we're getting 401 errors.

So I dug into the source a little to see if I could see what's going on.

## TL;DR
A low-level verification function is checking if `exp`

[2019-11-18 13:54] felixcheruiyot opened #176 "How to invalidate token on new logins by same user"
I'd like to make sure that the user owns only one token and it will be invalidated at every new authentication in a separate device/browser.

How can this be easily implemented. My objective is to improve security in what I'm working on by ensure no information is leaked incase the user fails to logout in their current browser before login in a different one say phone.

Thanks for the good library

[2019-11-19 05:36] davesque commented on #154
Yeah, I included the whole sliding token thing to provide some kind of backwards compatibility with users of the legacy `django-rest-framework-jwt` library.  But I honestly just don't like the idea and I kinda want to get rid of it.  I need to look into how easy it would be to do this.

[2019-11-23 08:24] MandelaK commented on #137
Hi @amity29, not sure if this is still an issue for you, but if you are using the TokenObtainPairSerializer, then you could override the validate method there and add a check for the user's verification status like in this snippet below:
[code]

I would do something like this, but there are probably better ways too. Hope this helps

[2019-11-25 20:26] dbinetti opened #177 "how to debug"
Sorry for the issue, but I'm not certain where else to turn.

I'm trying to use this with Auth0 and have as yet been unsuccessful doing so.  My question is how to debug?  I'm currently receiving the following response when trying to access a protected endpoint:
[code]

But this doesn't tell me what's wrong.    I can inspect the payload of the JWT returned by Auth0, but i'm not sure what to do next

[2019-11-28 11:56] CZZLEGEND commented on #34
from rest_framework_simplejwt.tokens import RefreshToken

def get_tokens_for_user(user):
    refresh = RefreshToken.for_user(user)

    return {
        'refresh': str(refresh),
        'access': str(refresh.access_token),
    }
The above function get_tokens_for_user will return the serialized representations of new refresh and access tokens for the given user. In general, a token for any subclass

[2019-11-29 17:44] shinneider commented on #150
@struegamer I'm sorry for answering so late, a lot has happened since then.

But i don't find de solution, because after apply suggested changes, all tokens is not verified, and accepts experied tokens (What the hell), but in my organization we are using a simple API gateway that I developed user auth through the header

see a example in one of my repositories:
`https://github.com/shinneider/infog

[2019-12-04 13:30] Aniket-Singla opened #180 "How to use this package in context with both single page applications and mobile applications?"
Sorry for asking it here , but I did not get any response on stackoverflow. (https://stackoverflow.com/questions/59057192/do-both-spas-and-mobile-applications-hit-the-same-endpoint-for-authentication-in)
My question is : Do we make different end points  to use token for two different devices?

I am asking this because it is recommended to store token in http only cookie on web browsers for securit

[2019-12-05 18:41] #177 closed

[2019-12-05 18:44] dbinetti commented on #38
Hey @whirish sorry to bother, but were you able to get SimpleJWT to work with Auth0?  I've struck out and if so I'd really, really appreciate a pointer or two.  Thanks.

[2019-12-06 02:36] whirish commented on #38
@dbinetti I abandoned auth0 before the PR was made and haven't had a chance to test it, sorry. You might have better luck contacting the PR's author.

[2019-12-06 02:40] ajhodges commented on #38
I have not tested simplejwt with auth0 but we do use django-oidc-provider, and since they are both oidc implementations, I can't imagine why they wouldn't be compatible. What sorts of issues are you running in to?

[2019-12-06 03:14] dbinetti commented on #38
well, the simplest -- I can't get it to work!  :-)  but more to the point,
I really don't know how to debug it:  it simply says "invalid token" and I
don't know how to figure it out. I can check `django-oidc-provider` to see
if that provides any hints.

On Thu, Dec 5, 2019 at 6:40 PM Adam Hodges <notifications@github.com> wrote:

[2019-12-06 03:34] ajhodges commented on #38
Not sure that gives me enough context to be of any help, sorry. This issue was originally about this section of the auth0 Django quickstart guide:
![image](https://user-images.githubusercontent.com/856738/70293569-ab112f80-17ae-11ea-9f66-b046066dfb78.png)
which applies to another package. Previously simplejwt did not have an analogue for the JWT_AUDIENCE and JWT_ISSUER settings; I added them in #6

[2019-12-06 03:59] dbinetti commented on #38
thank you for replying despite the dearth of information I have provided.
I have been working with Auth0 as well (apparently they are planning on
updating their Quickstart to account for SimpleJWT and not the [since
deprecated] djangorestframework-jwt package) but for now I'm stymied.

I did put a test repo up here with particular emphasis on the settings,
which I suspect is the culprit, but despi

[2019-12-06 15:44] littlehome-eugene commented on #112
Can you elaborate how you solved the problem? I'm having the same problem

[2019-12-06 16:11] littlehome-eugene opened #181 "Is it possible to migrate from "access" token to "sliding" token in existing app?"
as in the question, we are using `TokenObtainPairView` ,

Is it possible to migrate to `TokenObtainSlidingView`?

[2019-12-06 16:33] rvdrijst commented on #58
I ran into the same issue. I've worked around it for my tests with a bit of monkey patching. Not ideal, but it works and it's only in the test:

[code]

You could also set the testing `TokenBackend` in each test method instead of globally in `setUp()`.

[2019-12-06 16:45] littlehome-eugene opened #182 "401 error When token is invalid/expired for GET request (which doesn't require user to authenticate)"
`get_validated_token` raises exception when there access token is invalid.

DRF raises the error.

When api doesn't request user to be authenticated, I was expecting for user to get 200, but I'm seeing 401.

Is there a way to change this behavior?

[2019-12-06 17:01] makmary170 opened #183 "Add support Django 3"

[2019-12-06 19:23] davesque commented on #112
I suspect this is probably because you're trying to use sliding tokens without listing that as a valid auth token in your settings.  See here: https://github.com/davesque/django-rest-framework-simplejwt#token-types

[2019-12-06 19:24] davesque commented on #181
I wouldn't recommend it.  I plan to eventually remove support for sliding tokens.

[2019-12-06 19:24] #181 closed

[2019-12-06 19:54] davesque commented on #182
Maybe you've configured your django project to authenticate all views by default?  Can't really say for sure what's going on without more information.  If you can provide more info, feel free to re-open the issue ticket.

[2019-12-06 19:54] #182 closed

[2019-12-07 03:22] davesque commented on #183
We already actually supported django 3 but I just made it official by adding testing jobs for it.

[2019-12-07 03:22] #183 closed

[2019-12-07 07:49] littlehome-eugene commented on #182
Yes I added JWTAuthentication as one of default authentications .

     'DEFAULT_AUTHENTICATION_CLASSES': (
         'rest_framework.authentication.BasicAuthentication',
         'rest_framework.authentication.TokenAuthentication',  # store_integrate
         'rest_framework_simplejwt.authentication.JWTAuthentication',
         'site_common.rest.authentication.csrf_exempt.CsrfExemptSessionAuthenti

[2019-12-07 18:14] davesque commented on #182
Take a look at that section of documentation I linked above. I think it will help.

[2019-12-09 07:34] yhoiseth opened #184 "Thanks!"
I just noticed that you made a new release, v4.4.0, a couple of days ago. Thanks for keeping up the good work. I really appreciate it :)

[2019-12-09 22:31] davesque commented on #184
@yhoiseth No problem at all!  I haven't had much time lately to devote to adding complex features, but I at least found some time the other day to do a version bump and add testing for more recent versions of Django, Python, etc.  Glad you're getting some use out of the project!

[2019-12-09 22:31] #184 closed

[2019-12-09 22:37] davesque commented on #180
Hey @Aniket-Singla .  I just created an answer to your question on stack overflow.  It's funny but it didn't even occur to me that people might be asking questions on SO even though I guess I should have expected it.  I just changed the settings on my SO account to watch for questions including the simplejwt tag.

[2019-12-09 22:37] #180 closed

[2019-12-10 16:27] juancrescente opened #187 "Authentication credentials were not provided in new environment"
I'm having this odd issue. I'm using  djangorestframework-simplejwt==4.3.0 in my project and everything works fine. I deployed to elasticbeanstalk and worked for many days ok. Now I suddenly started getting this:

{
    "detail": "Authentication credentials were not provided."
}

In postman, the same version of my code, in one enviroment it works fine and in the other I got that error. I don't kno

[2019-12-10 16:40] juancrescente commented on #187
SOLVED BY adding this:
container_commands:
  00_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

[2019-12-10 16:40] #187 closed

[2019-12-12 23:39] haristimuno-omnibnk commented on #144
Did you solve this issuer?

[2019-12-14 08:02] mamashin opened #189 "How to get token from query string ?"
In some cases it is not possible to pass token via header, but I can do it via query strings (_like https://url/?jwt=xxxx_),  how can I get and decode this token on backend side ?

[2019-12-14 14:31] Aniket-Singla commented on #59
But the above method will blacklist all the refresh tokens of the user. What should I do to invalidate the current refresh token only?

[2019-12-14 14:38] adwait-thattey commented on #59
@Aniket-Singla You can get the current token from _request.user_  I think. Then you can use the corresponding outstanding token to blacklist it.

However IMHO, all tokens should be blacklisted if user changes her password/username. I made a signal for this .

[2019-12-14 14:40] adwait-thattey commented on #141
Access tokens, by definition can not be blacklisted. There is no database hit to check access tokens. Only basic decoding/encoding.
You need to blacklist corresponding refresh tokens. The expiry time of access tokens should be reasonably small so that anyone who gets access token can use it only for a short duration without the refresh token.

[2019-12-14 16:35] Aniket-Singla commented on #59
@adwait-thattey  I already tried getting user from the request. But I did not find any way to only logout user from current device. Please suggest how to delete the current device token.

[2019-12-14 21:56] Toruitas commented on #59
I've ended up posting the refresh token to a DRF APIView while also removing it from the backend. If the token is in the headers, that may be a more straightforward approach.

[code]

And the Django code:
[code]

[2019-12-15 05:58] Aniket-Singla commented on #59
Thanks for sharing the code. I will try to delete the token by finding it from the header.

[2019-12-15 06:37] hadi2d commented on #141
a lot of thanks for you!

On Sat, Dec 14, 2019 at 6:10 PM Adwait Thattey <notifications@github.com>
wrote:

[2019-12-15 08:12] Aniket-Singla commented on #59
I reached at the following logout method:
[code]
[code]
I am taking the refresh_token in post body. Token will be deleted only if the submitted token belongs to the current logged in user. Permission classes is also set to IsAuthenticated .
Thanks for the inputs.

[2019-12-15 17:57] mamashin commented on #189
[code]
May be not true way, but works for me.
Everybody thanks %-)

[2019-12-15 17:58] #189 closed

[2019-12-17 09:42] ricardocamposilva opened #190 "Implement django authentication signals"
Wouldn't it be better?

If implemented this feature developers could apply their own logic around it and use where they want.
In this case I think it's more for security and audit purposes, today I have to apply lots of code lines to record a log raster.

[2019-12-17 11:14] nirgilboa opened #191 "Missing "jti" (JWT ID) Claim throws TokenError by default, while "jti" is optional"
First some background :) I'm using the plugin to support JWT in a hybrid-cloud platform.
It works nicely, and that's the right time to also say: thanks! :)

I ran into this issue, and in order to spare debugging time for future users, I'd recommend to change the default behaviour of the plugin should be to follow the RFC as closely as possible.
The "jti" claim is optional (https://tools.ietf.org/h

[2019-12-19 14:45] selmanceker opened #193 "If a user is deleted, simple JWT allows token refreshing and verifying the user's token"
Whenever a **user is deleted** and the user tries to refresh the token, **it is refreshed** or tries to verify the token, **it is verified** with 200 ok.

Due to the new token is not valid, frontend starts to refresh the token constantly. Then this causes the django server is down.

I love using simple JWT. Hope it is fixed soon.
Thanks in advance.

[2019-12-19 16:46] llorenspujol commented on #103
I have exactly the same error.

I have **rest_framework** as an installed app, but not **rest_framework.auth_token explicitly** ( I assume that maybe is included by default)

If I **change** the `/api/token/refresh` route for another one, it works.

I don't have any custom url that starts with /api, so I assume that rest_framework is somehow **overriding** this route or something.

Is there a way

[2019-12-23 11:04] barseghyanartur opened #194 "Add tests into the package distribution"
Please, consider adding tests into the package distribution. It's handy when writing custom tests relying on the package and in general is a good practice. Package size won't grow significantly.

[2019-12-25 18:51] sieira commented on #190
It is weird this is not working (I confirm it doesn't) because the library is explicitly calling django authentication method, which emits the signals

https://github.com/davesque/django-rest-framework-simplejwt/blob/master/rest_framework_simplejwt/serializers.py#L43

[2019-12-25 22:58] sieira commented on #190
This should to it https://github.com/davesque/django-rest-framework-simplejwt/pull/196/files

[2019-12-28 02:08] adriangzz commented on #46
I'm also facing this issue, has anybody come with a solution?

[2019-12-28 02:13] adriangzz commented on #46
I'm facing the same issue. When I use the `verify` API provided I still get a 200 OK status with the previous, now blacklisted refresh token.

[2019-12-31 13:01] yoerivdm commented on #71
An HttpOnly Cookie access token combined with a Refresh on a certain url (refresh view) looks nice to me.

As for SPA-clients, you can protect against CSRF by setting the x-requested-with header and checking that one on the server (see [https://markitzeroday.com/x-requested-with/cors/2017/06/29/csrf-mitigation-for-ajax-requests.html](url)).

@davesque  How would you cover both web and mobile scena

[2020-01-03 13:56] MutatedGamer commented on #26
This is old but I just came across this (I also didn't understand JWT when first using this library). The solution is to pass either the access or data token into a JWT decode function. This will give an object with the fields added.

https://stackoverflow.com/questions/38552003/how-to-decode-jwt-token-in-javascript-without-using-a-library

[2020-01-06 17:12] davitovmasyan opened #199 "RemovedInDjango40Warning: django.utils.translation.ugettext_lazy() is deprecated in favor of django.utils.translation.gettext_lazy()"
[code]

[2020-01-10 23:15] robertavram opened #200 "Third party jwt providers rely on jwks_uri and rotate keys, could be good to allow VERIFYING_KEY to be a function"
Basically when using RS256 alg and getting a token that was generated by a third party.. (let's say Azure AD), these tokens can be verified with a public key. The current implementation allows you to provide this key in the settings as either a string or cryptography object through the `VERIFYING_KEY` variable, **however**, most of the external identity providers these days will use the `jwks_uri`

[2020-01-15 12:27] wwarne opened #201 "Why I can't delete OutstandingToken via django-admin"
I'm using **Blacklist app** and if I try to delete one of my users I get the error message

[code]

The OutstandingTokenAdmin's `has_delete_permission` method always returns False. So even admin user with superuser status can't delete this.

Is there a reason to forbid deletion of OutstandingTokens?

It's strange but I'm new to all this jwt stuff and maybe I miss something.

[2020-01-18 21:13] PetrS12 opened #202 "Separate signing keys for different services"
Hello!
In our project there are restrictions on services: in the api information is given depending on the specified service.
In this regard, there was a problem with the separation of "signing_key" for different services, since at the moment you can specify only one single "signing_key" for project.

Thanks!

[2020-01-20 05:34] davitovmasyan commented on #199
https://github.com/davesque/django-rest-framework-simplejwt/commit/bc3fb30626e56f14b287bd8d920c011b3b8a79f1

[2020-01-20 05:34] #199 closed

[2020-01-20 13:02] aritzmetal opened #203 "Error inserting token into blacklist mongodb"
Hi,

i am currently developing a project that uses django as backend with mongodb (with djongo/pymongo as db engine) and it seems to have some conflicts when i try to login 2 consecutive times. In other words, it shows the following error when I request for a second token for the user to log in:

pymongo.errors.BulkWriteError: batch op errors occurred

The above exception was the direct cause of t

[2020-01-23 11:41] sandeepsajan0 opened #204 "Pass token by Header[X-Access-Token]"
Currently, the package has only authenticated a user on the basis of "HTTP_AUTHORIZATION". Sometimes client passes the token in header['X-Access-Token']. So, we can use an api_settings variable which may be default as "HTTP_AUTHORIZATION" but can be changed to headers['X-Access-Token'] or something else. It'll provide some more flexibility.
What do you guys think?
If it is not possible then please

[2020-02-01 21:04] Routhinator commented on #190
This would be a solid addition and I just came here looking to see if this was already supported. :+1:

[2020-02-03 07:36] radekwlsk commented on #202
What do you mean by a service? Could you give an example? Maybe code snippet to reproduce the issue and how you imagine it to be solved.

[2020-02-03 12:58] jvhellemondt opened #205 "Is there a way to combine with django-rest-framework-passwordless?"
Hi !

I am trying to implement a passwordless JWT token authentication 'system'. Is there anything like this, or maybe to be included in this package?

I am now trying a hacky solution, by replacing the authenticate() function (with the authentication flow of drfpasswordless) within the 'TokenObtainSerializer', which I can share. However, would be awesome if there was something like this out of th

[2020-02-04 11:08] T-101 commented on #193
The same happens when the user model has .is_active set to False

[2020-02-07 20:32] JoelBennett commented on #200
We've run into the exact same situation.  Rather than Azure AD, we're using Keycloak, but it's the same situation - the keys rotate with some frequency.

In the time being, did you find another way around this?

[2020-02-08 14:08] prabin-sr opened #206 "Updating last_login in User model"
The user should be able to update the last_login in User model.
1. Set settings variables `LAST_LOGIN` and `LAST_LOGIN_FIELD` in django settings.(LAST_LOGIN accepts Boolean and LAST_LOGIN_FIELD accepts String as input)
2. If LAST_LOGIN is True, then default value of LAST_LOGIN_FIELD will be `last_login`.
3. If the developer uses a custom user table, then he must input the LAST_LOGIN_FIELD in setti

[2020-02-08 19:08] davesque opened #207 "Looking for maintainers (and Thank You to the community!)"
Hey folks!  So Simple JWT has really come a ways in terms of popularity (further than I probably would have imagined).  For that, I owe a big "Thank you!" to the community of Django and REST devs that have used and contributed to the project!

However, for a while now I haven't had a lot of time to devote to addressing issues and feature requests.  My professional life dominates my schedule and it

[2020-02-09 03:21] 65usami opened #208 "How to verify token manually?"
I am trying to verify token manually.
But I am not sure.
Is this right way?

[code]
I am very grateful for this contribution.

[2020-02-09 15:46] jrsupplee commented on #204
You need to change the `JWTAuthentication.get_header` method in `authentication.py`.

You can subclass it in your project and then just use your class in the `AUTHORIZATION_CLASSES` list.

[2020-02-09 19:53] PetrS12 commented on #202
![JWT_ServicesV2](https://user-images.githubusercontent.com/34192859/74108844-0b499680-4b8f-11ea-824d-5f5850d79d6b.png)

[2020-02-12 03:34] bducraux opened #211 "Is locale working?"
How can I change locale to pt_BR? many thanks!

[2020-02-12 16:23] m2mbr commented on #211
Hi @bducraux,

I made a pull request[1], the problem is related to the copying of .po files during the build process.

1 - https://github.com/davesque/django-rest-framework-simplejwt/pull/117

[2020-02-16 22:19] PetrS12 commented on #202
There are two cases that cannot be implemented using your library: when the Service A don`t trust the Service B(is presented above(our case)) and when there is one service and several authtorization servers which must have different signing keys(is presented below).

![JWT_ServicesV3](https://user-images.githubusercontent.com/34192859/74613751-01410e00-5122-11ea-9c96-37365fefce62.png)

[2020-02-17 07:49] SorianoMarmol opened #212 "Allow custom jwt_payload_handler"
Like rest_framework_jwt, it would be nice to be able to use our own function for payload

* https://jpadilla.github.io/django-rest-framework-jwt/
  * JWT_PAYLOAD_HANDLER setting
* Function code: https://github.com/jpadilla/django-rest-framework-jwt/blob/master/rest_framework_jwt/utils.py

Thanks a lot

[2020-02-18 17:18] Andrew-Chen-Wang commented on #207
@davesque Did you try to move this to JazzBand? This repository is used a lot and was the only maintained JWT package for Django.

[2020-02-19 02:45] rfschubert commented on #207
Hi there, I'm contributor of Masonite project, and currently I'm using `Django-rest-framework-simplejwt` on many projects.

We use many open source projects inside of our company and I'll be glad to offer to help maintain it :)

[2020-02-19 15:15] dchoruzy opened #213 "custom User model"
Hi, is there some additional work to do if I want to authenticate with custom User model? I can't find it in documentation.

[2020-02-19 18:55] danstreeter commented on #146
+1, I'm also in need of doing this in a reliable way.

I have implemented the standard token obtain as outlined in the [documentation](https://github.com/davesque/django-rest-framework-simplejwt#customizing-token-claims) which works fine for the two standard routes.

However the implementation I'm using is also passing through an OTP token collection/verification so the JWT tokens need to be verif

[2020-02-21 22:24] FlashBanistan commented on #116
`SIMPLE_JWT = {
    "AUTH_HEADER_TYPES": ("Bearer",),
}`
In my case I had to change this setting from "Bearer" to "jwt".  It needs to match whatever you have specified in the request.

[2020-02-22 00:47] Andrew-Chen-Wang commented on #71
I am very... confused as to the purpose of this? Why would you use JWT authentication for web when you have session cookies already? So assuming this is for the web application / the website, here's my opinion:

If anything, you're going to be implementing a lot more JS which means a new point of attack (as previously mentioned in the XSS and CSRF token misplacements). Seems more like a headache t

[2020-02-22 00:55] Andrew-Chen-Wang commented on #213
There shouldn't be. I believe even if you've set USERNAME_FIELD to something like email, Simple JWT should only be using the PK of your user model (which hopefully is auto incrementing).

[2020-02-22 00:58] Andrew-Chen-Wang commented on #205
I believe you would have to do this manually. There are functions and methods that do allow you to return refresh tokens and access tokens manually somewhere in the source code.

[2020-02-22 09:59] yoerivdm commented on #71
@Andrew-Chen-Wang I just think we need both :-)

I have one API for both web and mobile, would like to use cookies for the websession part and jwt for API auth. If we can't differentiate the method (cookie vs jwt) then the jwt-token should be stored in a httponly cookie, not readable by js. In this case a few more measures need to be taken to further secure the token.

[https://blog.logrocket.com/

[2020-02-23 10:00] msk4862 opened #214 "Creating tokens manually by accepting user dictonary also"
**`refresh = RefreshToken.for_user(user)`**
Here `user` is a of type object but I was passing it as a dictionary and wasted a lot of time figuring out what's wrong as Its also not mentioned in the documentation also.

I think **`for_user`** method of **`Token`** class should accept both `dict` as well as `object` type user to avoid throwing unnecessary errors.<br>
**Expected Code:**\
`...`\
`if(ty

[2020-02-23 10:02] msk4862 commented on #213
@Andrew-Chen-Wang @dchoruzy  Yes. I'm also using it in my custom user model, and there are no issues.

[2020-02-23 12:02] shahriaroo commented on #28
The problem with Redis is that it's an in-memory database and therefore when it restarts it would log everyone back in (unless you use a Redis cluster or something).

[2020-02-23 15:16] caniko2 opened #215 "When refreshing token: JSON parse error - Expecting value: line 1 column 2 (char 1)"
I am trying to use the view that came with the package; however, I am getting an error when sending the JSON manually with my own code. I have tested in Postman (it worked), so there must be something wrong at my end.

Here is the code:
![image](https://user-images.githubusercontent.com/29519599/75114633-09d0a180-5658-11ea-8f8f-190c7c35650e.png)

Here is the msg object along with the error:
![imag

[2020-02-23 20:14] davesque commented on #215
If you believe you've identified a bug in the library, let me know about that.  If you think this is due to a bug in your own code, I'm going to close this ticket for now since it's outside of the scope of this issues forum.  Re-open if you think you've identified a bug in the library.

[2020-02-23 20:14] #215 closed

[2020-02-23 20:20] davesque commented on #213
Looks like I can close this.

[2020-02-23 20:20] #213 closed

[2020-02-23 20:30] caniko2 commented on #215
I am trying to say that there is a bug in your code since it doesn't handle the error in a an informal manner.

What does JSON parse error even mean? My JSON is structured correctly, everything is as it should be.  The issue is somewhat similar to #103.

[2020-02-26 13:33] dimmg commented on #193
One of the reasons of using access tokens is to reduce the number of database calls, but In my opinion that whenever a new access token is issued using a refresh token, the database must be touched in order to ensure that account exists and is active.

To bypass above specified use cases, I've created a custom refresh token serializer and used it for the refresh token view.

[code]

[2020-02-26 16:35] thacoon opened #216 ""Token is invalid or expired" error because cryptography package was not installed"
We are using a microservice architecture where we create our jwt tokens in a different service. We added today django-rest-framework-simplejwt for verifying jwt tokens in one of our django services. While adding this we were faced with the error message that the `Token is invalid or expired`. We are using `RS256` and checked that the token and public key were valid.  We tracked down the issue and

[2020-02-27 03:53] Andrew-Chen-Wang commented on #216
@thacoon My educated guess: This is because the `setup.py` in PyJWT specifies the `cryptography` package is an extra package that may be required for certain algorithms. For RS256, it is necessary to have the cryptography package.

For this repository, HS256 is the default algorithm and is built-in to PyJWT (maybe, never checked, but assuming so since cryptography package isn't necessary). PyJWT I

[2020-02-27 03:54] Andrew-Chen-Wang commented on #212
@SorianoMarmol Can you make a PR of any implementation perhaps?

[2020-02-27 04:01] Andrew-Chen-Wang commented on #206
If you're looking into creating a PR, I would 1) leave a caution to doing this and make it OPTIONAL and 2) do what Django does which is `from django.utils import timezone; user.last_login = timezone.now(); user.save()`

For 1, constantly updating the user model detracts from caching usage. So I advise against this. HOWEVER, if your refresh token is -- let's say -- active for 15 minutes, then it is

[2020-02-27 04:04] Andrew-Chen-Wang commented on #207
@davesque Any progress in getting a maintainer? If not, I'll go and ask JazzBand if they would like to maintain this. I would also be happy to assist in maintenance if JazzBand doesn't work out BUT I can't be alone; basically, I would need someone (maybe multiple people) to help maintain.

[2020-02-27 04:28] Andrew-Chen-Wang commented on #203
This is an interesting issue in that according to the model: https://github.com/davesque/django-rest-framework-simplejwt/blob/master/rest_framework_simplejwt/token_blacklist/models.py#L5 that should never happen since it's an auto incrementing field. MongoDB uses huge IDs instead right? Since this model has no specified primary key, you'd have to look up if Django has its own default field for its

[2020-02-27 09:35] smb-h commented on #201
Superuser account **doesn't have permission to delete** the outstanding token
Still no solution?

[2020-02-27 09:49] theayash opened #218 "Blacklist access token"
How to blacklist access token along with refresh token, only able to blacklist refresh token?

[2020-02-27 17:48] dqjackso commented on #207
I'm interested in being a maintainer!

[2020-02-27 21:58] davesque commented on #207
@Andrew-Chen-Wang I applied to join JazzBand, but haven't received any response yet.

[2020-02-28 09:26] LordGordonQ commented on #218
The idea behind JWT is to keep the access token lifetime very low (minutes) so that you don't need to blacklist them, as they will naturally expire very soon. You just need to blacklist the refresh tokens, thus making impossible to obtain new access tokens without a new authentication.

[2020-02-28 10:08] Lepiloff commented on #218
Does this mean that in the ACCESS_TOKEN_LIFETIME settings it makes sense to specify a minimum time, for example 1 minute?

[2020-02-28 10:39] LordGordonQ commented on #218
Yes. You have to calibrate the time because if your access token expires, then you have to automatically (from the front end code) request a refresh token and retry the failed request. So, if you set a time too small you have an huge amount of failures and retries, if you set a time too high, you may have security issues (the token is valid but the user shouldn't). In my projects (API consumed by

[2020-02-28 10:52] Lepiloff commented on #218
Suppose we make a Logout function that adds a refresh token to the blacklist.  Then how do I display the login button on the frontend if the user still has a valid access token. Or is it a frontend task? After running the logout function, should the frontend draw the login button?

[2020-02-28 11:15] LordGordonQ commented on #218
## Logout from back end
For the first part (the logout function) it's pretty easy: you need a new API endpoint. Create a new View inherited from  `TokenRefreshView` that uses a new token serializer that inherits from `TokenRefreshSerializer`.

In this serializer (see the source code for inspiration), inside the `validation` method, you can manually blacklist it with:
[code]

Then you can decode th

[2020-02-28 12:47] Lepiloff commented on #218
@LordGordonQ Great, very helpful. Thank you!

[2020-02-28 13:39] Lepiloff commented on #218
@LordGordonQ the question is not exactly on the subject, but could you tell me if it's possible to redirect to the custom page?
 Default django way doesnt work
`LOGIN_REDIRECT_URL = 'administartor_dashboard'`

And besides is it possible to use `emai+password` instead `username+password `  to get a token?

[2020-02-28 18:05] LordGordonQ commented on #218
this is quite offtopic, better ask on StackOverflow (it has already been replied many times)

depends on how is is configured your User model and your authentication backend. Check Django's documentation for further information, or ask StackOverflow.

[2020-02-29 05:32] #171 closed

[2020-02-29 17:49] belhassen07 commented on #71
Shouldn't we store the refresh token rather than the access token inside the http only cookie. JWT access tokens are best stored in memory with a countdown to refresh using the refresh endpoint. If you store the access token in the http cookie, like this patch/plugin suggests, where do I store the refresh token.

[2020-03-01 04:50] watsonhaw5566 commented on #140
@davesque
 i meet this question , when i using [Drf framework HiddenField](https://www.django-rest-framework.org/api-guide/fields/#hiddenfield)
` user = serializers.HiddenField(default=serializers.CurrentUserDefault())`
that wannt return  an user object.
Drf deal with code is
![image](https://user-images.githubusercontent.com/4210367/75619725-8d3f4500-5bba-11ea-8a84-b4ea4b784289.png)
I want to use

[2020-03-01 14:08] theayash commented on #218
@LordGordonQ Thank you so much for your help.

[2020-03-02 08:18] Lepiloff commented on #70
Based on stackowerflow answer https://stackoverflow.com/questions/37332190/django-login-with-email

use this link for update default User model and change `username` field to `email`
https://stackoverflow.com/questions/37332190/django-login-with-email

[2020-03-02 09:09] Roejkum commented on #201
Also facing this issue. Are there any ways around this? I am unable to delete users currently because of this.

[2020-03-02 12:12] brandfilt commented on #71
I liked @davesque's idea of storing both in HttpOnly cookies but setting the refresh token cookie for the refresh path only. This way there's no need to store tokens in localStorage but the refresh token isn't sent with every request.

[2020-03-02 12:36] thacoon commented on #216
@Andrew-Chen-Wang yes that would be nice if you could note this in the README.

[2020-03-05 19:25] SuperMasterBlasterLaser opened #221 "django.core.exceptions.ImproperlyConfigured: AUTH_USER_MODEL refers to model 'authe_.MainUser' that has not been installed"
Hello.

I have my own implementation of `AUTH_USER_MODEL` which is on `authe_.models`.

My `settings.py` looks like this:

    AUTH_USER_MODEL = 'authe_.MainUser'
    USERNAME_FIELD = 'email'

    REST_FRAMEWORK = {
        'DEFAULT_PERMISSION_CLASSES': (
            'rest_framework.permissions.IsAuthenticated',
        ),
        'DEFAULT_SCHEMA_CLASS': 'rest_framework.schemas.coreapi.AutoSchema'

[2020-03-06 08:27] jvhellemondt commented on #205
I ended up writing a backend for the authentication with custom serializers (to hook drf_passwordless). Additionally I hooked up simpleJwt by inheritance from it's views (with reference to the custom serializer class).

[2020-03-06 23:27] davesque commented on #207
@Andrew-Chen-Wang Actually, I think I might make an open source github org for this.  If so, care to be a member?

[2020-03-07 03:58] Andrew-Chen-Wang commented on #207
@davesque Sure, I’m down. Looking forward to it.

[2020-03-08 22:11] catalincoroeanu commented on #207
@davesque you can count me in too...

Thanks in advance

[2020-03-09 14:09] Andrew-Chen-Wang opened #223 "Django 3.0 Async Support"
I’m in need of utilizing Django 3.0’s asgi.py with authentication methodology. There already is an issue #71 raised for httpCookie storage, so web is covered, I suppose, since Django 3.0 can’t access the database being not thread safe.

When it comes to 3.0 support, the token blacklist and sliding token will not be available until Django 3.0 make db access thread safe. Plus, creating too many thre

[2020-03-10 11:42] theayash commented on #218
It's difficult to get access token in every 5 mins for a front-end guy. Help me out if i make it to 2 hrs or give me some suggestions what can be done for better security purpose because i can't go with default 5 mins.

[2020-03-10 12:16] LordGordonQ commented on #218
To change the default settings, just set the desired time for
`ACCESS_TOKEN_LIFETIME` and `REFRESH_TOKEN_LIFETIME` configurations.

But I guess your issue is not in the time itself: it's in the front end code. I'm afraid that discussion of front end code is out of scope here (also much depend what front end are using). I strongly suggest you to ask this on StackOverflow for the proper front end yo

[2020-03-10 12:33] wwarne commented on #201
I had used `python manage.py shell` and then deleted it by hands
[code]

[2020-03-10 12:41] theayash commented on #218
@LordGordonQ ...Yeah but can you just tell me one reason of not blacklisting access token along with refresh token? Any specific reason?

[2020-03-10 12:59] LordGordonQ commented on #218
JWT was designed as to run at a scale in a decentralized system. This implies avoiding hitting a single source of truth (the datastore) at every request.

Maybe you should first ask yourself what are your need, and then choose the proper authentication mechanism that better fits your need. JWT is one of the many solutions, with its strengths and weakness. And it is suitable for specific use cases.

[2020-03-10 13:10] theayash commented on #218
@LordGordonQ ..Ok ,let me explore me more about it. BTW thanks man for the suggestions and help.

[2020-03-10 14:30] guillaumevincent commented on #207
Hello here, I can help you if needed for issues triaging for example, or code review.
I'm the creator and maintainer of https://github.com/lesspass/lesspass 3.8k stars

[2020-03-10 16:32] davesque commented on #218
This seems like an issue with the way that someone is choosing to construct their front-end app.  I'm going to close this for now.  If anyone thinks this can be interpreted as an issue with simple jwt, feel free to re-open.

[2020-03-10 16:32] #218 closed

[2020-03-10 17:35] ricardogsilva opened #224 "can't install when using poetry"
poetry refuses to install this package due to conflicting python version requirements

[code]

So, since poetry defines my project's python version as `^3.7` (i.e. all python patch and minor versions above 3.7, so 3.7.1, 3.8, 3.9, 3.10, etc), I guess it refuses to install djangorestframework-simplejwt since it only claims to support python `>=3.6,<3.9`- presumably poetry wants to ensure that if at

[2020-03-10 21:44] #224 closed

[2020-03-11 20:31] sidneijp commented on #206
They way django deal with it is sending the signal  `django.contrib.auth.signals.user_loggeed_in`. But it'has `last_login` hard coded as the User's model field used for it. This signals is sent only by the `django.contrib.auth.login` method that's based called on some forms used by login views.

Something similar could be done only for the serializer used to "Obtain token" and not for the "Refresh

[2020-03-11 22:31] Andrew-Chen-Wang commented on #223
If you take a look at Django 3.0 development in Google Group, you'll find out that the creator of psycopg2 might be creating a native async psycopg3! So if you use Django 3.0 + psycopg3, it might not be necessary to change too much code. But for now, is anyone looking into creating this (besides me)?

[2020-03-11 22:32] Andrew-Chen-Wang commented on #206
That's a better option than refresh token in my opinion. It's not that I'm FULLY opposed to a refresh token updating last login, but we should not add it in here as you'll need some kind of rate limiter/throttler.

[2020-03-16 03:27] hvitis commented on #144
Reviving issue, any ideas?

[2020-03-16 04:15] Andrew-Chen-Wang commented on #144
@naelmusleh @haristimuno-omnibnk @hvitis I’m not sure where the problem could lie to be honest IN GENERAL. But if you take a look at the original def validate, it already returns something... so having token = super() doesn’t really make (at first glance, it seemed like an infinite loop, but I guess not). You’re getting this because you’ve supplied validate with super().validate(attrs) which in tu

[2020-03-16 12:46] abhishekkumaresan commented on #116
Hi,
     I am trying to create a login using simplejwt, As of now I am receiving both access and refresh token for given credentials but the request.user is still Anonymus User, I was using regular Django views, based on the suggestion by @ndrbrt  I converted it to TemplateHTMLRenderer (because I am rendering a template).

**My Observations (Maybe it helps)**
[validate in TokenObtainSerializer ](h

[2020-03-17 08:10] #206 closed

[2020-03-17 11:01] pauloxnet commented on #207
@davesque consider moving the project to @jazzband also [dj-rest-auth](https://github.com/jazzband/dj-rest-auth) was moved there and there's a [PR](https://github.com/jazzband/dj-rest-auth/pull/3) to replace `rest_framework_jwt` with `django-rest-framework-simplejwt`

[2020-03-17 22:17] catalincoroeanu commented on #207
@davesque  👍  i'm in

[2020-03-18 04:45] abhishekkumaresan commented on #116
Hi,
    Th

This seems to be an issue with my application, Which I am resolving

Thank you
Abishek.

[2020-03-18 04:50] Andrew-Chen-Wang commented on #116
There is a pull request for httpCookies that you should wait for. The community seems to like this method if you use simpleJWT for your regular Django authentication.
I personally dislike it since I view django rest framework as something to platform with mobile or outside application APIs.

I’m detailing this because I can’t actually tell what you’re trying to do... Is your login page using deskt

[2020-03-18 05:10] abhishekkumaresan commented on #116
@Andrew-Chen-Wang  Thank you for the comment, My application will be viewed in both Mobile and Desktop, I also need a Rest API for the mobile app which may be required in the future. The mistake I was doing was I was trying to redirect to a different page after successful login While redirecting I won't have the access token in the header ([attaching headers while redirecting is impossible](https:

[2020-03-18 05:13] Andrew-Chen-Wang commented on #116
@abhishekkumaresan No problem. Follow #157 if you plan to use sinpleJWT for authentication. Cookies are persistent. I personally like using session cookies since I don’t have to fiddle around with them like httpCookies require. Good luck.

[2020-03-18 05:19] abhishekkumaresan commented on #116
@Andrew-Chen-Wang Sure Thank you will check #157

[2020-03-18 10:05] lakshaytalkstocomputer commented on #162
How to change payload of only access token?

[2020-03-18 16:27] EricLewe commented on #154
An alternative, as suggested @IvanFon is to use pair token. Dont forget to set 'ROTATE_REFRESH_TOKENS' to True, if you decide to go for the pair token approach. I forgot this flag existed which made me believe sliding tokens was the only alternative.

[2020-03-19 06:00] davesque commented on #82
Wow, this finally got done!

[2020-03-19 06:00] #82 closed

[2020-03-20 20:52] elinaldosoft commented on #221
Hello Daniyar, the name your package is `authe_` ?
Your problem is with importing the package into Django

You need to register your new package:
[code]

[2020-03-21 02:21] SuperMasterBlasterLaser commented on #221
@elinaldosoft I already had added my package. I just forked jwt auth for drf and made changes that works properly with my project

[2020-03-21 02:21] #221 closed

[2020-03-21 16:06] Andrew-Chen-Wang commented on #223
For those later on: I created a native Django 3.0 chat application (i.e. without django channels). In order to connect to a certain pool, the user first needs to perform a POST request to a view. The view returns a token. That view also adds the token to redis (or whatever your cache may be). The token is the key and the value is whatever you want it to be. When you connect via web sockets to a po

[2020-03-24 11:48] JaniL commented on #131
Hey, we started using this library in our project and stumbled on this same issue as well with @JoonatanPartanen.

If we understood this correctly based on few commits we found related to this, `token.jti` should be a `UUID` object instead of `str`. Because of this we're seeing the error mentioned earlier since `UUID` has a method called `hex` and `str` does not. We're not sure why this is happeni

[2020-03-24 13:56] JoonatanPartanen commented on #131
There is likely some migration magic going on here. Looking at the migrations preceding this one (in the same path), OutstandingToken.jti should indeed still be a UUID object instead of a str. I am not sure what actions cause the migrations to be executed out of order (or whatever causes this).

[2020-03-25 13:28] An-dz commented on #208
If all you need is having an endpoint that has different behaviour for authorised vs non-authorised users you can simply set the `AllowAny` permission on the endpoint and then test `request.auth`.

If no Authorization header is sent `request.auth` will be `None`, if one is sent and the token is valid `request.auth` will contain the token, if the sent token is invalid it raises 401 before calling y

[2020-03-27 10:38] ThePresence opened #226 "Unable to add Simplejwt"
Hi,

While adding simplejwt I'm getting below error -

[SolverProblemError]
The current project's Python requirement (^3.8) is not compatible with some of the required packages Python requirement:

  - djangorestframework-simplejwt requires Python >=3.6,<3.9

Because no versions of djangorestframework-simplejwt match >4.4.0,<5.0.0
 and djangorestframework-simplejwt (4.4.0) requires Python >=3.6,<3

[2020-03-27 11:06] ThePresence commented on #224
I've the same issue. How do I solve it?

[2020-03-27 16:42] t-io opened #227 "Customize which user can login"
For one of my projects, I want a user first to confirm their email before they can log in. For this, I use the package [django-simple-email-confirmation](https://github.com/mfogel/django-simple-email-confirmation) which extends the user with a boolean `is_confirmed`. To achieve this behavior I have to either do some syncing with the build-in `user.is_active` or I have to overwrite `TokenObtainSeri

[2020-03-27 16:46] Andrew-Chen-Wang commented on #227
Hi, I recommend against what that package does. I use django-allauth to have a separate model (which still has a unique index on the username) so that you can have something like an expiring mechanism for verification.

In that case, we wouldn’t need to have this extra validation measure. The purpose of this package is for already verified users as many Django projects do not even have an email ve

[2020-03-27 18:47] davesque commented on #226
This was fixed in this PR: https://github.com/SimpleJWT/django-rest-framework-simplejwt/pull/225

I need to cut a new release.  In the mean time, you can use the current master of this project.

[2020-03-27 18:47] #226 closed

[2020-03-27 19:13] t-io commented on #227
Hey @Andrew-Chen-Wang,
I get your point regarding django-allauth. That is definitely a better approach for storing data.
But that aside I think it is valuable to have the who-can-authenticate with JWT flexible through optional configuration.
For example, if you want to implement a soft-delete, where the user is still there but not yet physically deleted. This can be completely independent of `is_a

[2020-03-27 21:55] Andrew-Chen-Wang commented on #227
@t-io I’d be happy to see a PR! Just make sure you add documentation and tests since @davesque is the main person here who can merge PRs. I’ll review it, too, once the pr’s out.

[2020-03-28 13:58] thedatamineio opened #228 "How to get user"
How can i get the authicated user dict with the token pair.

[2020-03-29 21:18] Andrew-Chen-Wang commented on #228
Check this out @thedatamineio : https://django-rest-framework-simplejwt.readthedocs.io/en/latest/rest_framework_simplejwt.html#rest_framework_simplejwt.authentication.JWTAuthentication.get_user

Although it shouldn't be necessary to do that if you're using DRF and follow the normal set up in which you just do `request.user`.

@davesque It might still be useful to have half the documentation in the

[2020-03-29 21:18] #228 closed

[2020-03-29 21:26] Andrew-Chen-Wang commented on #208
That pretty much solves it. If you have anymore questions, re-open the issue.

[2020-03-29 21:26] #208 closed

[2020-03-29 23:55] 65usami commented on #208
Thanks your answer!!
It solved my issue.

[2020-04-04 02:08] mohmyo opened #229 "Pure JWT authentication class without tieing it to any user, not even TokenUser"
Hello,

I found myself yesterday working on a part which a token is only needed there just for the sake of anonymous access and to share some info in the payload. I already know the concepts of JWT and used it before but this is the first time for me to use it in DRF.

I only needed to create and validate a JWT token for only one endpoint which is different from the standard way which is using it

[2020-04-07 02:09] stunaz commented on #207
So what's the roadmap?

[2020-04-07 07:24] philipp-siegmantel opened #231 "Token Verification ignores Blacklist"
You can argue whether or not this is the right behaviour, but I would say it is not. As a user of a token verification endpoint, I expect a token that passed to be usable for authentication. This is not true for blacklisted refresh tokens.

[2020-04-08 19:52] mjlabe opened #232 "Cannot delete users"
Deleting the selected users would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:

outstanding token

[2020-04-10 12:57] Andrew-Chen-Wang commented on #232
Can you give more background info one who the "selected user" is? Is it the super user? A staff account? A regular user? What does your code look like and how and where are you seeing this message?

[2020-04-10 13:02] Andrew-Chen-Wang commented on #231
Purpose of blacklisted token is to make sure the revoked token is never used again. If it is used, then, imo, you send back a 403 status code. Correct me if I'm wrong (because I could be misinterpreting your issue), but are you suggesting that a blacklisted token that is still usable (as in not expired and would pass if the blacklist app was off) should be able to pass and allow authentication as

[2020-04-10 13:06] Andrew-Chen-Wang commented on #229
When I was initially testing out SimpleJWT with native Django 3.0 websockets, I ran into a similar issue of needing only one endpoint. Worse yet, database accessing is dangerous async (until psycopg3 comes out + Django ORM re-written). However, the SimpleJWT library is designed for authentication purposes. Especially since your use-case is for a single view, too, you should just use the `jwt` libr

[2020-04-10 13:06] #229 closed

[2020-04-10 13:07] Andrew-Chen-Wang commented on #223
Written in a gist (needs some more revision, but already deployed in an app using Redis pub/sub with SimpleJWT methodology for getting a custom TokenUser).

[2020-04-10 13:07] #223 closed

[2020-04-10 13:08] Andrew-Chen-Wang commented on #227
@t-io Any updates on a fork? I'm not able to find how other libraries incorporate permission-based logins... would we need decorators? Custom decorators? I don't know, but lemme know on any progress!

[2020-04-10 13:09] Andrew-Chen-Wang commented on #207
@stunaz Currently, there is a big PR regarding support for HTTP cookies for SPAs. @pauloxnet Apparently, Dave already tried going to Jazzband awhile ago, but there was no response. There's also an "experimental feature" using the TokenUser model that you can play around with. I haven't had the time to consider the security measures of it and its future full-time use, though. Otherwise, there are a

[2020-04-10 13:11] Andrew-Chen-Wang commented on #211
Merged.

[2020-04-10 13:11] #211 closed

[2020-04-10 13:12] Andrew-Chen-Wang commented on #205
If you don't mind sharing how you did so in this issue, please do! It'd be greatly appreciated. We're considering a portion in the docs for third-party integrations, too, so it'd be great if you left how you configured SimpleJWT to fit your needs.

[2020-04-10 13:13] Andrew-Chen-Wang commented on #204
It's standard to simply use the Authorization Bearer header for JWT tokens. Although, flexibility has been an issue in this library for many, and I'd consider adding it for sure. Shouldn't be much overhead.

[2020-04-10 13:16] Andrew-Chen-Wang commented on #203
Stale issue. This seems more like a MongoDB issue. Try recreating your database or at least seeing what happened with your migration files: https://stackoverflow.com/questions/61062816/django-mongodb-has-issue-with-default-id-autofield-on-django-models

[2020-04-10 13:16] #203 closed

[2020-04-10 13:16] Andrew-Chen-Wang commented on #232
Duplicates #201. I'll take a look.

[2020-04-10 13:16] #232 closed

[2020-04-10 13:19] Andrew-Chen-Wang commented on #201
Check the admin code here: https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/master/rest_framework_simplejwt/token_blacklist/admin.py#L30-L43 If you would like to delete the OutstandingTokens, re-register the models in your own app.

Some companies like having an app called "core" which is for all background, non-essential, etc. stuff. You can register there. @wwarne Mind trying it

[2020-04-10 13:23] Andrew-Chen-Wang commented on #214
@msk4862 Is this from DRF after de-serialization? When is your `User` instance a dict? I never knew Django gave model instances as a dict... If it's from DRF, just use `request.user`.

[2020-04-10 13:27] Andrew-Chen-Wang opened #233 "Put some of the docs back in the README"
@davesque It's probably better if SOME of the docs was put back in the README. Quick usage, a little help in understanding how JWTs work, and installation and LICENSE information would be helpful for first glance users, which is about 50% of all passer-bys.

[2020-04-10 17:41] msk4862 commented on #214
@Andrew-Chen-Wang  This is my code:

[code]

[2020-04-10 22:02] mjlabe commented on #232
Thanks! I was just about to post more details. I'll take a look.

[2020-04-10 22:33] mjlabe commented on #201
It worked. I created a new app `core` like you recommended and created a new admin file:

[code]

Thanks!

Is there a reason it is set to False that I should be concerned with when I change it?

[2020-04-10 22:47] DrJfrost opened #234 "Implement LastLogin when user is succesfully logged in on validation"
I think this functionality should come with the built in serializer since it just has to update the User.last_login column of the User model.

Also extending the view serializer and re-creating new routes just to add 1 or 2 lines of code that would easily cover the use case of many people is too much of a work for something that could come with the built-in serializer

[2020-04-11 20:15] Andrew-Chen-Wang commented on #214
For the most part, devs will have the user instance already. What you have in your code is the user object which didn't perform a SQL query, anyways, so I believe it's fine, as is. Sure, maybe 1kb of memory was just used up, but it doesn't hurt since it'll be dumped in 1 ms.

The other option is to use the JWT library. I just don't think a user dictionary would be good since it doesn't have some r

[2020-04-11 20:15] #214 closed

[2020-04-11 20:21] Andrew-Chen-Wang commented on #234
I've discussed this before in several other PRs and Issues, but having an API exposed like this is expensive and would need several algorithms and even ML to allow without security vulnerabilities and DevOps nightmares. It's expensive for your database to continuously update attributes (even worse if your application grows and red team-ers DOS attacks you through our views, plus most Djangonauts d

[2020-04-11 20:21] #234 closed

[2020-04-11 22:03] DrJfrost commented on #234
what about adding django signals functionality just like django auth package does, would that also expose an API to DOS attaks?, if so does that mean that django auth package is vulnerable to DOS attacks?

[2020-04-11 22:20] Andrew-Chen-Wang commented on #234
Denial of Service attacks can happen because of expensive db queries. That’s why you throttle your views. A signal would be fine, but I’d recommend that signal be without any database updates or insertions. Those queries are expensive timewise and can slow down the rest of your clients’ requests. That’s what makes a DOS attack scary, and this is a scenario I’d have people stay away from.

A signal

[2020-04-11 23:08] DrJfrost commented on #234
Ok I actually got your point I am also a cybersecurity team guy and try to have as much sanitation and security permission policies as possible, I also do security vulnerability tests.

I am really really glad you just took the time to explain with detailed info about why you haven't implemented it "yet" and why it is actually a great risk too; based on the notes you just gave me I can tell that t

[2020-04-12 15:15] smb-h opened #235 "Translate errors"
hi, is there anyway to translate default errors ?!

[2020-04-12 15:22] Andrew-Chen-Wang commented on #235
All exceptions use Django’s gettext_lazy. You’ll just need to add some more translations for languages we haven’t translated yet. Check out the locale dir in the package directory for all currently supported languages.

[2020-04-12 15:22] #235 closed

[2020-04-12 15:26] Andrew-Chen-Wang commented on #150
@shinneider You can just use the JWT package instead of using this one. Take a look at authentication.py and backend.py for more info. I believe this repo is more for DRF + Authentication, so to not have a model for users is peculiar. Are you saying you have a database with all users for several services? Is it that you have one project with sharded dbs?

[2020-04-12 15:26] smb-h commented on #235
Actually i did some digging in locales before writing this issue but still couldn't find any thing relative to this package.

[2020-04-12 15:29] Andrew-Chen-Wang commented on #151
There’s a PR for SPAs at #157 which can help. I’m not for it because I’m still skeptical of security vulnerabilities (typically, if you want JWT tokens for desktop, go with OAuth protocol too instead of only JWT).

There are plenty of articles that differentiate when you use only JWT tokens and when to use JWT tokens with OAuth protocol.

[2020-04-12 15:29] #151 closed

[2020-04-12 15:32] #168 closed

[2020-04-12 15:37] Andrew-Chen-Wang commented on #169
I’m planning on creating a signal handler (with lots of warnings for when to use them, but this scenario seems fine) for post authentication. I can add a pre_authenticate handler as well. @ethanjahn

[2020-04-12 15:46] Andrew-Chen-Wang commented on #202
I’m not quite sure how we would implement this... are you asking if we should have a list of signing keys and test against each one until — voila — it works? @PetrS12 I don’t think it’d be an issue to implement, but I’m just wondering how you’d or some other package would do it.

[2020-04-12 15:53] Andrew-Chen-Wang commented on #235
I must be confused somehow but all exceptions have translations for the currently support languages https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/master/rest_framework_simplejwt/locale/cs/LC_MESSAGES/django.po That’s an example file of translations.

[2020-04-12 15:59] Andrew-Chen-Wang commented on #234
Yes. Django was written a decade ago when none of these problems showed up. And it’s also not Django’s duty to protect devs from DOS attacks and the like.

Regarding the current login forms, yes, it’s a vulnerability, but not as much as REST APIs because the server is transferring the cached templates. Problems start arising when people do a DDOS attack from multiple machines in swarms, but that w

[2020-04-13 11:16] johnthagen opened #236 "Release new version to PyPI"
Could a new release be pushed to PyPI that includes #186?

For users using Django 3.0, `django-rest-framework-simplejwt` currently throws a warning. If running unit tests with `-Werror`, this causes builds to failed unless the warning is suppressed.

[2020-04-13 13:17] mjlabe commented on #201
Ok. I realized there is a problem with this (which is why deleting was likely blocked). This also deletes the blacklisted tokens, essentially undoing blacklist. I'm trying to think of a solutions, but since it is a 1:1 relationship, I'm not sure what can be done.

[2020-04-13 13:29] mjlabe commented on #201
After looking at the flush script, it doesn't seem like that would effect them getting flushed. Would there be any other negative? If not, I'll create a PR with those changes.

[2020-04-13 13:36] Andrew-Chen-Wang commented on #236
@davesque I’m just part of the triage team, but we could try to have a GitHub action that automatically pushes this repo’s releases to PyPi.

[2020-04-13 14:04] mjlabe commented on #201
Created PR #237. Will that work for everyone? Can you try it out?

[2020-04-13 16:59] t-io commented on #227
Hey @Andrew-Chen-Wang, I prepared the feature and all existing tests are passing. I am still a bit uncertain where to put my code regarding the existing project structure. Please let me know what you thing.
tests and documentation are still missing, I will pass them later.

[link to feature commit](https://github.com/t-io/django-rest-framework-simplejwt/commit/50af361fd73c2a11ecc93f0ab7e7b8c572a1e

[2020-04-13 22:19] davesque commented on #236
Yeah, I'll do this in the next day or two when I find a moment.  I'd also like to start using [towncrier](https://github.com/twisted/towncrier) to make release note generation easier.

[2020-04-14 07:43] philipp-siegmantel commented on #231
Not exactly. What I propose is that `TokenVerifySerializer`or `TokenVerifyView` should check the blacklist. If the token is blacklisted, it should report that the token is invalid. Currently it only checks whether the token is "syntactically" correct.

[2020-04-14 12:01] mjlabe commented on #202
What happens if you create a 3rd service? Could this be abstracted out for N services?

[2020-04-14 12:34] mjlabe commented on #202
Alternatively, I am using this package for an identity service that returns the user's permissions upon login:

[code]

[2020-04-14 12:38] Andrew-Chen-Wang commented on #231
Gotcha. That makes sense. I can draft a PR tonight.

[2020-04-14 13:24] mjlabe commented on #207
Considering [dj-rest-auth](https://github.com/jazzband/dj-rest-auth) just officially switched to `django-rest-framework-simplejwt`, JazzBand may be more interested now. I would definitely volunteer some time to be a maintainer (mostly selfish since I want my PR's merged) but I could also try contacting JazzBand to point out how integral this is.

[2020-04-14 13:45] mjlabe commented on #234
I don't understand how doing it in TokenObtainPairView would be susceptible to these issues any more than normal Django login. If updated in TokenObtainPairView, the bot would have to have the login credentials for last_login to be updated. Sorry if I'm being dense.

[2020-04-14 13:52] Andrew-Chen-Wang commented on #234
It’s fine! Don’t worry. Anyhow... Data transfer rates. Your db access is a constant slow 330-600 ms for insertions and 200-400 for updates. An attacker hitting a REST API is dangerous because they can send as many requests as they’d like without needing to receive an HTML page. Django login page forces back a large HTML page with possibly other js plugins and scripts that the attacker would need m

[2020-04-14 14:03] mjlabe commented on #234
While I really want this, this makes sense if a bad actor gets even 1 user's credentials. I'm already overriding the `TokenObtainPairSerializer` in my application anyway so this isn't needed in the base package for my use case. I will be adding simple limiting though (if time since last login is > `ACCESS_TOKEN_LIFETIME`, update last_login). Thanks!

[2020-04-14 16:32] Andrew-Chen-Wang commented on #234
Yes, the blacklist is susceptible to this. I don't use it; I don't think OAuth protocol wants you to use it, either. Plus, a malicious actor, who only wants to down your server, they can make a couple of users and down it. But if you added Captchas and throttling (and large enough to need ML like Twitter), then you should be fine. Those are basic security measures across many websites you browse t

[2020-04-14 17:37] mjlabe commented on #234
I don't see a good solution for this. I personally would rather deal with an occasional DOS than having a bad actor in the system stealing data with a token that I can't blacklist, but that's why it's an optional app I guess.

[2020-04-14 21:46] PetrS12 commented on #202
Yes, I can create a dictionary "host": "signing key". And I will add signing key for each host.

I am not sure that it`s good idea for me.

What`s wrong in my solution? #210

[2020-04-14 21:55] mjlabe commented on #202
That's my bad. I was looking on my phone and was thinking this added just 1 extra key. I like the option to specify a key.
`+1`

[2020-04-16 05:15] philipp-siegmantel commented on #231
Thanks a lot.

If you are to busy, I can ask if can contribute to this projekt during work hours. Just don't count on it, from what I heard the answer is probably no.

[2020-04-16 06:45] philipp-siegmantel commented on #231
I got an ok and am currently working on a pull request.

[2020-04-17 02:02] Andrew-Chen-Wang commented on #227
@t-io Looks good! Like the callable too. I believe where it’s at currently is fine, but I’m just triage; however, in my opinion, it looks fine. Mind adding some documentation, too. Ping: @davesque

[2020-04-17 19:14] smb-h opened #242 "Customize Authentication"
Hi, is there a way to authenticate with a different field?! like email, phone, ...
or use otp as password ?!

[2020-04-17 20:20] nile2203 commented on #127
Yes, it was there for some time but it has been updated and you will find
`pip install djangorestframework-simplejwt` as the official command for installation.

[2020-04-17 23:10] #127 closed

[2020-04-18 09:59] jonathanmach opened #243 "How can I install the location file available inside the /locale folder?"
Hi!
I have installed `django-rest-framework-simplejwt` and notice it doesn't come with the languages available inside the `rest_framework_simplejwt/locale` folder.

What's the best approach to install it? Do I have to manually download it from this repository?

Thank you very much in advance!

[2020-04-19 03:33] maks500 commented on #243
Just noticed this too, seems like the wheel doesn't include the locale files but the tar version [has them](https://pypi.org/project/djangorestframework-simplejwt/#files).

I think adding `include_package_data=true` to setup.py solves it.
Another way would be to include only the compiled .po files

I will test it and open a PR as soon as I can

[2020-04-19 06:59] patrickoramah commented on #242
Yes it's possible. To achieve this you'd have to overwrite the default UserManager.

Here's an example

[code]

Then in the user model you override the default user object.

That's pretty much it.

[2020-04-19 07:06] #242 closed

[2020-04-19 15:31] patrickoramah commented on #124
Hi. By any chance did you figure this out?

[2020-04-19 16:31] ivandjuricic opened #245 "django.utils.translation.ugettext_lazy() deprecation warning"
I noticed when I was running tests that I get:
[code]

so I guess the old functions that are in the deprecation processa are still in the codebase

Pip freeze:
Django==3.0.3
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0

I am happy to contribute to clearing these warnings if nobody works on this

[2020-04-20 17:40] johnnywell commented on #224
You can restrict you python version, like ~3.8 (which allows 3.8.2, but not 3.9.0) instead of ^3.8 (which allows 3.9, 3.10, etc.)

[2020-04-22 15:05] hcgaron commented on #201
Status on this? I can't delete users still, even though I've given permissions via django admin to the superuser account to delete outstanding tokens.

Oddly enough, sometimes I can delete users... I guess if they have no outstanding tokens?  Can't reproduce that behavior.

[2020-04-22 15:53] mjlabe commented on #201
Correct. If they don't have outstanding tokens, you can delete them. This PR will require a migration since it is a FK.

[2020-04-23 17:16] mcsimps2 commented on #154
Just wanted to add that I've also stumbled upon this issue.  Thanks @decepulis for digging into the issue and finding a workaround in the meantime.

[2020-04-25 07:43] bhaveshpraveen commented on #212
@Andrew-Chen-Wang : Hey, I'd like to work on this.

[2020-04-28 20:47] Andrew-Chen-Wang commented on #212
@bhaveshpraveen Go ahead!

[2020-04-28 20:57] Andrew-Chen-Wang commented on #245
Haven't checked the commit history long enough, but it seems like this issue is already solved? When I take a look in master branch, I see that SimpleJWT is using `gettext_lazy` instead of `ugettext_lazy`... Wait until the next release, and the deprecation warning should disappear.

[2020-04-28 20:59] Andrew-Chen-Wang commented on #236
@davesque are you comfortable using GH workflows? There was a bit of discussion about security concerns regarding using Python fam's workflow regarding twine and such in Django Rate-Limit. It would make things faster, and GH secrets are hidden from others.

[2020-04-28 21:05] ivandjuricic commented on #245
Hey @Andrew-Chen-Wang you are totally right: the change is already there. Thanks

[2020-04-28 21:05] #245 closed

[2020-04-29 01:19] davesque commented on #236
You mean to auto publish new versions?

[2020-04-29 02:22] Andrew-Chen-Wang commented on #236
Yesorta. You would still need to create a release tag wit git/github. Using the release tags, we can publish new versions, do a check to make sure the latest commit passes tests, make sure the version was actually bumped, and upload it with twine tokens in GH secrets. We can use custom commands if need be for docs as well. Separate workflows can be triggered by separate tags, if need be.

[2020-04-29 11:21] johnthagen commented on #236
Given the current `django-rest-framework-simplejwt` throws a warning, could it be possible to do a quick release using the old process and iron out a new process for the next release? Thanks.

[2020-04-29 17:07] boris-savic commented on #25
Hi,

i've also came across this issue and before I try to make pull request can active devs please check if this is the right way to address this issue.

[code]

So basically in the RefreshSerializer add the needed condition checking and store the new refresh token in the database.

[2020-05-03 10:19] saichander-sixsense commented on #66
Hi,
In the __init__ method of TokenObtainSerializer, `self.fields[self.username_field] = serializers.CharField()` line is mentioned. If I have multiple fields (email, mobile, username) on which the user can login.
As an example, let's say self.username_field equals 'username'. Now user tries to login with mobile number and doesn't provide the username.
So,  `self.fields[self.username_field]` will

[2020-05-03 14:39] Andrew-Chen-Wang commented on #66
For keyword searching in GitHub issues, this is a multiple authentication methods issue.

I think you would have to make a new authentication method. For example, https://stackoverflow.com/a/30880135. This means you don't need to change the serializer since we're just using `django.contrib.auth.authenticate`.

If you follow that, you don't need to even care about the SIMPLE_JWT settings for userna

[2020-05-03 14:49] Andrew-Chen-Wang commented on #25
I'm not aware of a PR for this. Additionally, [refresh.blacklist() seems to already do this](https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/80c6e7e2f4a40c9bfb8e9b5bc2c6ce895575f157/rest_framework_simplejwt/tokens.py#L203)???

@boris-savic Can you put that patch inside the try/except? In that case, you wouldn't need the `if blacklisted_token` if you just put it underneath the set

[2020-05-03 14:50] Andrew-Chen-Wang commented on #227
@t-io Do you mind adding tests? It could speed up the process for merge.

[2020-05-03 14:54] Andrew-Chen-Wang commented on #212
@bhaveshpraveen It might be easier if there is a callable, like a path to a function (I think). The functionality is technically already supported: https://github.com/SimpleJWT/django-rest-framework-simplejwt/issues/162

We can further review it later, but I think it's safe to close this as a duplicate.

[2020-05-03 14:54] #212 closed

[2020-05-03 14:57] Andrew-Chen-Wang commented on #201
@hcgaron Refer to the code mjlabe wrote here: https://github.com/SimpleJWT/django-rest-framework-simplejwt/issues/201#issuecomment-612247645 and assign it to users who have the attribute is_superuser to True.

Closing for now. I think if you want to do this, you can with that piece of code above, but it's best if left as is for now. I'll leave the PR open for any further discussion.

[2020-05-03 14:57] #201 closed

[2020-05-03 15:02] Andrew-Chen-Wang commented on #200
I haven't worked with callables, but there seem to be plenty of examples in other libraries. You can start a PR from there. From my perspective, the rotation of keys should have some cache control timer.

[2020-05-03 15:10] boris-savic commented on #25
Hi @Andrew-Chen-Wang - when refresh.blacklist() is called it creates new outstanding token  if it doesn't exist yet, and blacklists it immediately. While that is correct, the outstanding token gets created only at the moment it gets blacklisted as well.

Ideally a newly issued refresh token (if rotation is enabled) should be placed in the list of outstanding tokens immediately.

[2020-05-03 15:12] Andrew-Chen-Wang commented on #193
Gist: Use blacklist and revoke on user deactivate. Please read the rest, though, as a proper implementation of this package.

Hmm, if you use the blacklist app, this wouldn't be an issue, so long as you revoke the refresh token on user "deletion." That would be the proper method, but obviously, that would also be the only method to avoid this problem.

@selmanceker @dimmg @T-101

In any JWT applic

[2020-05-03 16:18] mjlabe commented on #201
My solution above won't work if there are outstanding tokens. The only way to resolve this is the change the model (#237). Is there a reason not to allow null user for outstanding token?

[code]

[2020-05-03 16:21] saichander-sixsense commented on #66
@Andrew-Chen-Wang , Thanks for a quick reply the explanation but I already did that. The only issue is I'm setting my **username_field** to **id** and not having the username column at all. I don't want my request body to contain **id** as the key and **email** or **mobile** as the value. I want to be able to keep the key as email_or_mobile in the request body for readability of the APIs.

[2020-05-03 17:23] RaddishIoW commented on #207
I'm new to using this framework, but would be willing to pitch in as much as I could to help out.

[2020-05-03 17:51] Andrew-Chen-Wang commented on #66
I'm slightly confused... "I don't want my request body to contain id as the key and email or mobile as the value" Are you saying you don't want the payload to contain the id? Or are you saying, when a user submits his/her credential to your server, the credentials should be `email_or_mobile` and `password`?

If it's the latter, just name the username_field to email_or_mobile. That's all I can real

[2020-05-03 17:52] Andrew-Chen-Wang commented on #201
I had just talked about this at #193 but the gist of it is if a user is deleted. @mjlabe

[2020-05-03 18:13] saichander-sixsense commented on #66
The thing is, a user can signup with email or mobile on the platform.
So, If a user signup with mobile and doesn't give email, the email field will be set to **None** and vice versa. So, I set the **USER_ID_FIELD** to **id** which will never be **None**.
Now, what I want is when the user tries to sign in, `/api/token/` API gets called with password and email( or mobile)
eg.
[code]
OR
[code]
Curren

[2020-05-03 19:07] Andrew-Chen-Wang commented on #66
Here's an example model (using default SimpleJWT settings):
[code]
However, I believe my applications, if I haven't forgotten yet, sends:

`{"username": "hello@example.com", "password": "a_password"}`

For you, you'd just have to write that SO answer's backend.

---
#### Otherwise...

That would be a little bit of refactoring and figuring out how ModelSerializer works so that we can properly get t

[2020-05-04 01:37] saichander-sixsense commented on #66
[code]
This is my custom user model. I'm not keeping the USERNAME_FIELD to email or mobile because their values can be None. So, methods like get_by_natural_key may not work well by default. I didn't know about the EMAIL_FIELD before. I will add that line. As for the REQUIRED_FIELDS, there's nothing except ID. I will add a validation in the pre_save signal to verify that at least one field of AUTH

[2020-05-04 01:46] Andrew-Chen-Wang commented on #66
@saichander-sixsense __Never ever use id as your username field__. Your user will never remember some random, large integer. If you instead switch username field to just email (or mobile, doesn't matter), you won't face that original error of: ` I get the response saying id field is required because id is the USER_ID_FIELD.` Check this: https://stackoverflow.com/a/31370606.

There would be a lot o

[2020-05-04 03:28] saichander-sixsense commented on #66
@Andrew-Chen-Wang , I thought it would cause issues if the **username field** is set to **None**. Seems like I'm wrong about that. I'll use email as my username field. Thanks for the information.

I still would like to have AUTH_FIELDS kind of approach so that I can have multiple fields in the request payload supporting both email and mobile making it more readable. What are your views on this?

[2020-05-04 13:05] Andrew-Chen-Wang commented on #66
That's great.

Hmm, seems like performance degradation since we have to do joins which costs much more SQL wise... It's not a well-done move to do to have either email or phone number due to that performance degradation reason. However, I can look into how to manufacture a PR at some point for it, or you can make one yourself and I can review it. But it's not likely to get approval, and I'm still

[2020-05-04 14:03] saichander-sixsense commented on #66
@Andrew-Chen-Wang, I agree that querying on multiple fields is less performant when compared to querying on a single column but it should be the user's choice. Don't you think so?
Also, I don't see the necessity of joins when all the fields are in the same table.

If someone mentions just one entry in the auth_fields approach, they won't face any performance issue. If the user is mentioning multip

[2020-05-04 16:46] Andrew-Chen-Wang commented on #66
@saichander-sixsense Hmm, if you write up a PR, I'll review it. I just worry about the number of queries. So having a test case with assertNumQueries and then pasting the outputted SQL statement in the PR comments would be great to see. It could potentially be pushed out, but your use-case is still specific to the point of me not recommending your built authentication schema.

There apparently has

[2020-05-04 17:37] saichander-sixsense commented on #66
Sure @Andrew-Chen-Wang, I'll try to raise PR as soon as possible for me. I'm a little new to Python and could take a little time.

[2020-05-04 22:10] belhassen07 commented on #71
What's the progress on this issue?

[2020-05-05 02:13] affonsobrian commented on #207
I'm currently using your library on some of my DRF projects, and for sure I'd be glad to collaborate on this project! Do you have any roadmap where we should take a look to get started? I don't have a lot of contributions on open source projects (maybe that's the chance to change it? 😄), I guess I have one or two contributions of small things, but I've being working with python for a while now, so

[2020-05-05 06:18] schlunsen commented on #71
I've made a fork using a pull request allowing httponly and merged it with the current master.
You can find it here: https://github.com/schlunsen/django-rest-framework-simplejwt

[2020-05-05 12:42] derek-adair commented on #71
Definitely false.

[2020-05-05 12:46] derek-adair commented on #71
@Andrew-Chen-Wang This is a really heated and opinionated subject to the point where some have sworn JWT is insecure by design.

You can read up on why you would want to store your tokens [here](https://dev.to/perrydbucs/using-jwts-for-authentication-in-restful-applications-55hc).  Honsetly not sure of the quality of that article I just really am sick to *death* of this subject.

[2020-05-05 15:22] belhassen07 commented on #71
@schlunsen Sticking with the original package looks safer to me especially when there's still discussions about the PR. I'm no django expert, so I can't tolerate risk, thank you!

[2020-05-06 09:25] t-io commented on #227
Hey @Andrew-Chen-Wang I am a bit busy right now. But I will manage to take care of the documentation and tests next week.

[2020-05-07 23:02] hvitis commented on #207
Hey guys,

I'm starting on using DRF and I wanted to use some JWT implementation app. From what I see now there is a bit of confusion as per different apps, I´ve seen that others lost support/maintainers. Any suggestion as per what are currently supported apps that could extend DRF with AUTH / JWT ready to use solutions?

[2020-05-09 17:00] catalincoroeanu commented on #207
hi @hvitis

I am on e of the maintainers and also I personally used this library in production for a few projects i have worked on in the last years...

This is a good and stable package. Also one of the nice benefits I find for it is the `refresh_token` + `access_token` and there is no DB involved into this process.

my personal toolkit is [DRF] + [SimpleJWT](https://github.com/SimpleJWT/django-r

[2020-05-10 16:08] Andrew-Chen-Wang commented on #71
@derek-adair If you use that fork (you can pip install via a link) and deploy and publish on GitHub a project using React, Django, and SimpleJWT, then I'd love to see it! I've also added my two cents to the PR that you should probably change. If anything, you may need to just download the fork, import it into your project, and manually change a couple things.

Otherwise, regarding your comment, I

[2020-05-11 12:51] derek-adair commented on #71
@Andrew-Chen-Wang THANK you for this django thread.  This should be a great read and maybe there is some clarity here.  Like I said, I gave up on JWT do to my lack of comprehension of how one might exploit JWT AND the ridiculous/tedious arguments in said threads.

I can agree that _this_ project is only suited for mobile apps and not websites.  One of the (presumably) many ways you can use DRF w/o

[2020-05-11 13:06] derek-adair commented on #71
Regarding a production ready test... I had started implementing JWT in [a seed project](https://github.com/derek-adair/django-redux/blob/master/ui/src/middleware/auth.js) I use.  It currently [shamefully uses localstorage](https://github.com/derek-adair/django-redux/blob/master/ui/src/middleware/auth.js), and I broke the refresh middleware at somepoint... but it could serve as starting point.  I a

[2020-05-11 13:23] derek-adair commented on #71
OOOoooof! Ya those are some really compelling and succinct arguments for not using JWT at all.

[2020-05-11 13:38] Andrew-Chen-Wang commented on #71
Correct. I wouldn’t say JWT is completely bad, as it is useful for mobile apps. All companies including Google, Instagram, Facebook, GitHub, etc. use JWT but add the OAuth protocol in addition to it. If you plan on making just a mobile package, this is the one to check out as the protocols for OAuth are pretty similar to the ones set up here. If you do a website with login, you should just stick w

[2020-05-11 14:49] derek-adair commented on #71
[Last april Oauth got cracked.](https://insomniasec.com/blog/auth0-jwt-validation-bypass)

[2020-05-12 14:44] zkanda commented on #236
Hello everybody, it would be cool if we can bump up a new release.

[2020-05-13 10:19] regzon opened #246 "Issue with schema generation"
Hello folks!
I've used this library in a lot of projects, and I very like its simplicity and effectivity.

## Issue
Recently I've mentioned the small issue - default schema generation can't recognize response fields.

Part of generated OpenAPI schema for the Token Obtain request:

[code]

As can be seen, the schema states that the response contains only the `username` field, but actually, it shoul

[2020-05-14 02:28] Andrew-Chen-Wang commented on #207
@affonsobrian There is no roadmap, but I can list some stuff that would be helpful to many looking to help contribute:
 - [ ] Easier callable mechanism for any new methods for flexibility (e.g. signals and permission-based authentication).
 - [ ] Easy method for rotating signing keys
 - [ ] Docs explaining what this repo is for... and what it shouldn't be for. Security is a touchy thing, and many

[2020-05-15 08:11] neowenshun opened #247 "Password reset"
Hello , just to check if there is a built in password reset functionality?

[2020-05-16 14:53] Andrew-Chen-Wang commented on #247
I don't _think_ this has anything to do with this library. If the password is reset, then you can invalidate the refresh token the next time a user tries to refresh the access token in the RefreshView. Django Rest Auth might be the library you're looking for.

[2020-05-16 15:01] Andrew-Chen-Wang commented on #246
Are you saying we should add the username to the response? The TokenObtainPairView should only be a POST HTTP method. The serializer does not include access and refresh because it uses the `validate` method in the view (i.e. using `serializer.validated_data`) to make new data, as you can see here: https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/ce80c2d31f0d9aff6a246d30d9aaa27f1e5

[2020-05-16 15:06] Andrew-Chen-Wang commented on #191
Hmm, this lib is mainly for authorization AND authentication... If you'd like to continue this, I recommend subclassing the AccessToken, instead of the entire Token class, and override the verify method to suit your needs.

Access token is here, and you need to respecify the token class in the SIMPLEJWT settings:

https://github.com/SimpleJWT/django-rest-framework-simplejwt/blob/c1cd482ecc71652f6d

[2020-05-16 15:06] #191 closed

[2020-05-16 15:13] Andrew-Chen-Wang commented on #170
Apparently the ES algorithms are 1. slow and 2. designed with flaws... Lots of people dislike that method, and if you're going to do asym encryption, just stick with RSA which somewhat cuts out the second reason.

In all honesty, it's best to just stick with HS and make sure your signing key is long enough with your bit count.

JWT is somewhat flawed even though most of the mobile world is built o

[2020-05-16 15:13] #170 closed

[2020-05-16 15:19] Andrew-Chen-Wang commented on #176
TL;DR You can add a "log out" view but that ruins the purpose of refreshing a token every 5 minutes.

Implementations of JWT are most likely stateless. We'd have no idea if the user is on iOS or Android. Regarding "browser," I totally do not recommend you using an SPA with this library. Too many security flaws can arise.

The thing about the refreshing of these token is exactly to address that. Yo

[2020-05-16 15:19] #176 closed

[2020-05-16 15:21] Andrew-Chen-Wang commented on #169
The other method is to add the username on token creation. So you'd include it in the refresh and access token payload.

[2020-05-16 15:23] regzon commented on #246
Thank you for your reply.

I wanted to say that the current behavior is that the response contains two fields - `access` and `refresh`, but DRF's automatically generated schema states the response field is `username` (which is not true).

It is a bit confusing (in my cases) for front-end developers when they look at the generated schema and see invalid response fields.

Also, I suggested that expl

[2020-05-16 21:05] Andrew-Chen-Wang commented on #246
I see. I do mostly full stack, so I generally just write some documentation of the response json. I suppose it's possible we can change the serializer's behavior, which would probably mean fragmenting that main serializer.

[2020-05-17 19:42] nirgilboa commented on #191
Fair enough :) thanks for taking the time to look at it

[2020-05-18 00:48] codegabru commented on #236
@Andrew-Chen-Wang Maybe we can just use semantic versioning using [this](https://github.com/python-semver/python-semver) package. And even automated the whole thing with semantic releases with [this](https://github.com/relekang/python-semantic-release) package.

[2020-05-20 20:55] Smort1 commented on #104
I also have the same problem but only if I import for `example get_object_or_404`
`from rest_framework.generics import get_object_or_404`

[2020-05-22 14:20] johnthagen commented on #236
@davesque Would it be possible to manually push up a new release to PyPI? Thanks.

[2020-05-23 02:09] jibinmathew69 opened #249 "Generate token without username and password using djangorestframework-simplejwt"
I am using a non username password based authentication, with the help of a model field, which is passed as `API_KEY` in post parameter. If this value matches with the record in the model. I want to add a custom payload.

I used to the following code, but it asks me for `username` and `password`.

[code]

Alternatively, I tried

[code]
but it throws error,
[code]